{% extends 'navbar.html' %}
{% block content %}
<div class="container-fluid">
    <div class=" form12 col-lg-12 col-md-12 col-xs-12 col-sm-12" style="   ">
        <center class="mt-2 mb-2 p-3" style="font-size:25px; border: 2px solid ; margin-left:auto; margin-right:auto; background-color:white;">Frequently Asked Questions</center>
    </div>
</div>

<div class=" container-fluid mt-2">
    <div class="row m-1" style="width:100%;">
        <div class="col-lg-1 col-md-12 col-sm-12">
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12">
        <a href="#tab1" class="btn pt-3 btn-outline-primary b1" style="width:100%;height:100%; " >
<!--            <img src="static/images/z1.png" width="40%">-->
            <p style="white-space: normal;overflow-wrap: break-word;word-wrap: break-word;hyphens: auto;">
                <strong>Income Tax Basics</strong>
            </p>
        </a>
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12">
         <a href="#tab2" class="btn pt-3 btn-outline-primary" style="width:100%;height:100%;">
<!--            <img src="static/images/z2.png" width="40%">-->
             <p style="white-space: normal;overflow-wrap: break-word;word-wrap: break-word;hyphens: auto;">
                 <strong>Filing Using TaxPro</strong>
             </p>
         </a>
       </div>
        <div class="col-lg-2 col-md-12 col-sm-12">
        <a href="#tab3" class="btn pt-3 btn-outline-primary b3" style="width:100%;height:100%;">
<!--            <img src="static/images/z3.png" width="40%">-->
            <p style="white-space: normal;overflow-wrap: break-word;word-wrap: break-word;hyphens: auto;">
                <strong>
                     GST
                </strong> </p>
        </a>
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12">
        <a href="#tab4" class="btn pt-3 btn-outline-primary b4" style="width:100%;height:100%;">
<!--            <img src="static/images/z6.png" width="40%">-->
            <p style="white-space: normal;overflow-wrap: break-word;word-wrap: break-word;hyphens: auto;">
                <strong>
                    MSME
                </strong></p></a>
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12">
        <a href="#tab5" class="btn pt-3 btn-outline-primary b5" style="width:100%;height:100%;">
<!--            <img src="static/images/z5.png" width="40%">-->
            <p style="white-space: normal;overflow-wrap: break-word;word-wrap: break-word;hyphens: auto;">
                <strong>
                   Late Return solutions
                </strong></p></a>
        </div>
        <div class="col-lg-1 col-md-12 col-sm-12">
        </div>
    </div>
</div>

<div class="container-fluid">
    <div id="tab1" class="p-4">
        <h1 style="background:#7EB6FF" class="p-3"> Income Tax Basics</h1>
        <hr>
        <h5 style="background:;"> What is income ?</h5>
        <p>Income means the amount that an individual earns in exchange for providing goods or services.
            In other words, income is the sum of all the wages, salaries, profits, interests payments,
            rents, and other forms of earnings received for a period of time.
        </p>
        <p><b>For the purpose of taxation, income has been categorized into five heads :</b></p>
        <ul style="list-style-type:circle">
           <li>Income from Salary </li>
            <li>Income from House Property</li>
            <li>Income from Profit & Gain of Business & Profession</li>
            <li>Income from Capital Gain</li>
            <li>Income from Other Sources</li>
        </ul>
        <hr>
        <h5> What is income tax ?</h5>
        <p>An income tax is a direct tax which is imposed on assessee depending upon the their respective income or profit.
            In other words, it is the tax levied on the income earned.</p>
        <hr>
        <h5 >When income tax is required to be paid ?</h5>
        <p>Income Tax is required to be paid when your income exceeds the Basic Exemption Limit. This limit is specified by the government every year.
            Currently, it is Rs. 2,50,000 for Individual below the age of 60 Years.</p>
        <hr>
        <h5>What is the period for which tax is calculated?</h5>
        <p>Tax is charged on any income earned during the period April 1- March 31. The year
            in which the income has been earned is known as the ‘previous year’
            and the year in which the tax is calculated, is known as the ‘assessment year’.</p>
        <hr>
        <h5>What are the benefits of tax calculation beforehand?</h5>
        <p>You should calculate Taxes beforehand so that you are able to set aside the funds which you will
            be needing for paying taxes at the time of filing return.Therefore, at the time of return filing,
            you don’t have to rush for arranging funds.The other benefit is, it lets you know that whether your
            taxes will go up or down in comparison to the previous year.</p>
        <hr>
        <h5>How to calculate income tax in India?</h5>
        <p>In India,the Income tax is calculated on the basis of tax rates and slabs defined by
            Finance Ministry in the budget which is presented every year.</p>
        <hr>
        <h5>What are the income tax slabs and rates?</h5>
        <p>Government has determined various Income Tax Slabs on the basis of the age of the individual.
            The Slab helps to determine tax rate at which tax will be levied upon you.
            The latest income tax slab rate for Individuals less than 60 years for the F.Y. 2017-18 (A.Y. 2018-19) are:</p>
        <p><b>Income Tax Slab for Individuals less than 60 years (For Male & Female both)</b></p>
        <style>
                table, td, th {
                  border: 1px solid black;
                }

                table {
                  border-collapse: collapse;
                  width: 100%;
                  background:#D8BFD8;

                }
       </style>
        <table>
             <tr><th>Income Slab</th><th>Income Tax Rate</th></tr>
            <tr><td>Upto 2,50,000</td><td>Nil</td></tr>
            <tr><td>From 2,50,001- 5,00,000	</td><td>5%</td></tr>
            <tr><td>From 5,00,001-10,00,000</td><td>20%</td></tr>
            <tr><td>Above 10,00,000	</td><td>30%</td></tr>
        </table>
        <p><b>Income Tax Slab for Individuals more than or equal to 60 years but less than 80 years
            known as Senior Citizens for F.Y. 2017-18 (Both Male and Female)
        </b></p>
        <table>
             <tr><th>Income Slab</th><th>Income Tax Rate</th></tr>
            <tr><td>Upto 3,00,000</td><td>Nil</td></tr>
            <tr><td>From 3,00,001- 5,00,000	</td><td>5%</td></tr>
            <tr><td>From 5,00,001-10,00,000</td><td>20%</td></tr>
            <tr><td>Above 10,00,000	</td><td>30%</td></tr>
        </table>
        <p><b>Income Tax Slab for Individuals more than or equal to 80 years known as Super
            Senior Citizens For F.Y. 2017-18 (Both Male and Female)
        </b></p>
        <table>
             <tr><th>Income Slab</th><th>Income Tax Rate</th></tr>
            <tr><td>Upto 5,00,000</td><td>Nil</td></tr>
            <tr><td>From 5,00,001- 10,00,000	</td><td>20%</td></tr>
            <tr><td>Above 10,00,000</td><td>30%</td></tr>
            <tr><td colspan="2">Less: Rebate under Section 87A</td></tr>
            <tr><td colspan="2">Add: Surcharge and EC & SHEC</td></tr>
        </table>
        <hr>
        <h5> How to calculate income tax for salaried person ?</h5>
        <p>To understand the calculation of income tax,let us take an example of a salaried person.
            The facts are as under :
            Income from Salary - 8,00,000, Income from Other Sources - 2,00,000, Deduction u/s 80C - 1,50,000.
            So, total income would be = 8,50,000. (8L+2L-1.5L).</p>
        <hr>
        <h5>What is TDS? How to calculate monthly TDS amount ?</h5>
        <p>Tax Deducted at Source (TDS) is a mechanism whereby the tax is deducted directly at the point
            of origin of income and submitted to government.It enables speedy collection of taxes.You
            can claim this tax paid as a credit while filing your income tax return.In case of salary income,
            it is the responsibility of your employer to deduct the TDS and deposit it to the government.
            For the purpose of calculation of monthly TDS amount, just calculate your
            taxes from the above calculator and divide it by 12. You will get your monthly TDS amount.</p>
        <hr>
        <h5> How does the government collect income tax?</h5>
        <p><b>The government collects the revenue in the form of income tax in 3 ways:</b></p>
        <ol>
            <li>Voluntary payment by the taxpayers like Advance Tax and Self-Assessment Tax.</li>
            <li>Tax Deducted at Source (TDS) which is deducted at the point of origin of your income even before receiving it.</li>
            <li>Taxes Collected at Source (TCS).</li>
        </ol>
        <hr>
        <h5>How to calculate Income-tax for ?</h5>
        <p>Please follow the below given steps to calculate your income tax through Tax2win portal and
            there you are with the the tax calculation:</p>
        <ol>
            <li>visit the income tax calculator online page</li>
            <li>Fill all the details as required for tax calculation.</li>
            <li>Click on "Calculate".</li>
        </ol>
        <hr>
        <h5>Can this calculator compute my tax liability post budget 2018 ?</h5>
        <p>Yes, It will help you understand the impact on your Income-tax liability after the Budget 2018.</p>
        <hr>
        <h5>Does this Income tax calculator computes my final tax liability?</h5>
        <p>Yes,it computes your tax liability on the basis of information entered.
            You can surely use the same for your tax planning for 2018-19.
            Your Income-tax liability will be more or less same, subject to the actual information.</p>
        <hr>
        <h5>Why should i use an online tool for Income Tax Calculation?</h5>
        <p>With the help of an online tool it becomes easy to estimate your tax payment for the year.
            You can use the calculator by Tax2win. It is a quick, simple and
            user-friendly way of estimating how much your income tax liability and provides
            you with fast and accurate calculation.</p>
        <hr>
        <h5> How to calculate tax liability for F.Y 2018-19 (income tax calculator AY 2019-20)?</h5>
        <p>There has been no change in the existing income tax rate for the
            financial year 2018-2019 except the abolishment of EC & SHEC and introduction of Health & Education Cess.
            Further, apart from the rate there has been various changes in the deductions.</p>
        <hr>
        <h5>What is rebate under section 87A of the income tax?</h5>
        <p>Rebate u/s 87A provides exemption on tax payment to a RESIDENT INDIVIDUAL.As per this provision,
            if an individual’s taxable income is upto Rs. 5 lakhs then he will get the tax benefit of Rs. 12,500
            or the amount of tax whichever is lower. If you are liable to pay tax upto the limit of rebate allowed,
            then after taking the rebate benefit, no payment will be required to be made for tax amount.
            For availing the full amount of rebate, the Total Taxable Income of return filer shall be
            upto Rs 5,00,000 for the Financial Year 2019-20(AY 2020-21).</p>
        <hr>
        <h5>Is there any change in the income tax slab after budget 2019?</h5>
        <p>No change in the income tax slab in the budget.</p>
    </div>
    <div id="tab2" class="p-4">
        <h1 style="background:#7EB6FF;" class="p-3">Filing Using TaxPro</h1>
        <h5>Can I use your website to file my return for free?</h5>
        <p>Yes, it’s very simple, intuitive and hassle-free to file your income tax return with TaxPro</p>
        <hr>
        <h5>How is Tax2Win different from Income Tax E-Filing website?</h5>
        <p>We at Tax2Win, provide our users with an easy to use interface while taking care of all the nitty-gritty tax details in the background. You just have to provide us with the relevant details and we’ll make sure that you save your taxes and get the most of your hard-earned money. With us, income tax filing is not anymore a burdensome work, as anyone can file their return by answering few simple questions.</p>
         <hr>
        <h5>I am a NRI. Can I still file my return with you?</h5>
        <p>Yes, being a NRI does not stop you from filing your return with us. Thousands of NRIs have filed their returns with us and our support team has been providing constant support to NRIs in their tax planning.
           With our excellent online support services, you don’t even have to visit our offices while filing your returns.</p>
        <hr>
        <h5>Can I get assistance while filing my taxes on your website?</h5>
        <p>Yes, our expert team of Chartered Accountants works really hard all year round to plan and save your taxes. Our CA team ensures that you always get thorough assistance while doing your taxes.</p>
        <hr>
        <h5>Is my personal information and identity safe & secure with TaxPro</h5>
        <p>Yes, we use bank level encryption and backup systems for our data so that your personal information and identity is always secured.</p>
        <hr>
        <h5>Can I file my return even if I don’t have my Form-16?</h5>
        <p>Yes, you can file your return without Form-16. You’ll just have to enter your total salary received and TDS deducted on it with the help of your payslips and you’re good to go.</p>
    </div>
    <div id="tab3" class="p-4">
        <h1 style="background:#7EB6FF;" class="p-3">GST</h1>
        <h5>Is GST registration mandatory?</h5>
    <p>Yes, you are required to obtain GST registration once your turnover exceeds the specified threshold limits.
        Click here to check out the latest threshold limits for GST registration.</p>
    <hr>
    <h5>Can I apply for multiple GST registrations?</h5>
    <p>If a business operates from more than one state, the taxpayer should obtain
        a separate GST registration for each state. For instance, If an automobile company sells in Karnataka
        and Tamil Nadu, he has to apply for separate GST registration in Karnataka and Tamilnadu respectively.</p>
    <hr>
    <h5>Can I apply for multiple registrations within a state?</h5>
    <p>Yes, a business can apply for any number of GST registrations within a state. The procedure of allocating multiple GST registrations only for
        different business verticals within a state has been removed for ease of business.</p>
    <hr>
    <h5>Who can Register for the Composition scheme under GST?</h5>
    <p>Small taxpayers who wish to have lesser compliances to deal with and lower
        rates of taxes under GST, can opt for the Composition scheme,</p>
    <p>A trader whose aggregate turnover is below Rs 1.5 crore can opt for the Composition scheme.
        In the case of North-Eastern states and Himachal Pradesh, the present limit is Rs.75 lakh</p>
    <p>Also, the government extended the Composition scheme to service providers having
        an aggregate turnover of up to Rs.50 lakhs.</p>
    </div>
    <div id="tab4" class="p-4">
        <h1 style="background:#7EB6FF;" class="p-3">MSME</h1>

       </div>
    <div id="tab5" class="p-4">
        <h1 style="background:#7EB6FF;" class="p-3">Late Return consequences solutions </h1>
        <h5>I have missed the last date for filing my return. Can I still file it?</h5>
        <p>Yes, you can still file your return. Belated returns can be filed in the next two years till 31st March of the second year.
            For example – if you miss your due date of 31st July, you can still file your return till 31st March.
            However, after the due date has beencrossed, interest is charged on the amount of tax that has to be deposited with the department and if return is filed after the end of one year from 31st march of financial year for which you missed return, then penalty can be imposed of Rs 5000/- u\s 271F by department. Keep in mind that returns filed after the due date cannot be revised.</p>
        <hr>
        <h5>What if I don’t file my return?</h5>
        <p>In case you don’t file your return, a notice can be issued by the Income Tax Department. Any business losses during the year will not be allowed to carry forward to the next years. A penalty may be imposed u/s 271F and interest will be charged at the rate of 1% per month on your tax liability. Other consequences may also be there as per Income Tax Act, 1961.</p>
        <hr>
        <h5>What is the due date of filing my income tax return?</h5>
        <p>Normally, the due date of filing of income tax return for individuals is 31st July falling after the end of every financial year i.e. 31st March.</p>
    </div>
</div>



{% endblock %}