{% extends 'navbar.html' %}
{% block content %}
<script>
function highlight(id)
 {
    x=document.getElementById(id)
    var val =id.concat('value')
    if (x.value==="You Selected this")
            {
                x.value = "Select";
                x.style.backgroundColor="#1183ca";
                document.getElementById(val).value ="0";

            }
    else
             {
                x.value = "You Selected this";
                                x.style.backgroundColor="green";

                document.getElementById(val).value ="1";
              }

}
</script>

<div class="container-fluid">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 text-center">
      <h2 class="mt-3" style="color:blue">File Your Return Here with Few steps</h2>
        <h5><p>Income tax filing is a process of Computation of tax liability in form of
            a direct tax on total income earned during a financial year and filing the
            same using relevant Income Tax Return form (ITR Form). Not all people are liable to
            file Income tax returns, similarly not
            all people filing Income-tax returns are liable to pay tax. we will be assisting
            you with all your Income tax-related compliance.</p></h5>
        <hr>
        <h2 class="p-3"> Tell Us Your Income Sources </h2>
    </div>
</div>
<form method="post">
    {% csrf_token %}
<div class="container">
<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 text-center">
<div class="card-deck mb-3">

  <div class="card" style="border-radius:10%">
      <h5 class="card-title pt-3 " >Salary/Pension Income</h5><hr>
      <img class="card-img-top" src="static/images/salary.jpg" alt="Card image cap" height="200px">
      <div class="card-body" style="border-radius:50%">
      <p class="card-text">Do You have job ? Do you earn from salary or pension ? If yes Select this </p>
          <p class="card-text pt-4   ">
              <input type="text" hidden name="salaryvalue" id="salaryvalue" value="0">
              <input type="button" class="btn btn-primary pl-5 pr-5 " name="salary" id="salary" onclick="highlight(id)" value="Select"></p>
    </div>
  </div>
  <div class="card" style="border-radius:10%">
      <h5 class="card-title pt-3  " >Business Income</h5><hr>
    <img class="card-img-top" src="static/images/freelancer.jpg" alt="Card image cap" height="200px">
    <div class="card-body">
      <p class="card-text">Are you Freelancer ? Do you have small Business ? Are you contractor/Supplier ?If yes Select this </p>
      <p class="card-text pt-4   ">
          <input type="text" hidden name="businessvalue" id="businessvalue" value="0">
          <input type="button" class="btn btn-primary pl-5 pr-5 " name="business" id="business" onclick="highlight(id)" value="Select"></p>
    </div>
  </div>
  <div class="card" style="border-radius:10%">
      <h5 class="card-title pt-3">House property and Home Loan </h5>
      <hr>
    <img class="card-img-top" src="static/images/house.jpg" alt="Card image cap" height="200px">
    <div class="card-body">
      <p class="card-text">Do you have house rent as income ? Do you have Home loan ? If yes select this </p>
      <p class="card-text pt-4   ">
    <input type="text" hidden name="housepropertyvalue" id="housepropertyvalue" value="0">
    <input type="button" class="btn btn-primary pl-5 pr-5 " name="houseproperty" id="houseproperty" onclick="highlight(id)" value="Select"></p>
        </div>
  </div>

</div>
<div class="card-deck mb-3">

  <div class="card" style="border-radius:10%" id="card1">
      <h5 class="card-title pt-3 " >Capital Gains</h5><hr>
      <img class="card-img-top" src="static/images/capital.jpg" alt="Card image cap" height="200px">
      <div class="card-body" style="border-radius:50%">
      <p class="card-text">Do you have sold gold ? have you sold shares ? Have you sold property ? </p>
      <p class="card-text pt-4   ">
    <input type="text" hidden name="capitalgainsvalue" id="capitalgainsvalue" value="0">
    <input type="button" class="btn btn-primary pl-5 pr-5 " name="capitalgains" id="capitalgains" onclick="highlight(id)" value="Select"></p>
        </div>
  </div>
  <div class="card" style="border-radius:10%">
      <h5 class="card-title pt-3 " >Foreign Income Sources</h5><hr>
    <img class="card-img-top" src="static/images/foreign.jpg" alt="Card image cap" height="200px">
    <div class="card-body">
      <p class="card-text">Do you get any Income from Foreign Sources ?If yes Select this </p>
      <p class="card-text pt-4   ">
    <input type="text" hidden name="foreignincomevalue" id="foreignincomevalue" value="0">
    <input type="button" class="btn btn-primary pl-5 pr-5 " name="foreignincome" id="foreignincome" onclick="highlight(id)" value="Select"></p>
        </div>
  </div>
  <div class="card" style="border-radius:10%">
      <h5 class="card-title pt-3" style="">Other Income Sources</h5>
      <hr>
    <img class="card-img-top" src="static/images/otherincome.jpg" alt="Card image cap" height="200px">
    <div class="card-body">
      <p class="card-text">Do you have house rent as income ? Do you have Home loan ? If yes select this </p>
      <p class="card-text pt-4   ">
    <input type="text" hidden name="otherincomevalue" id="otherincomevalue" value="0">
    <input type="button" class="btn btn-primary pl-5 pr-5 " name="otherincome" id="otherincome" onclick="highlight(id)" value="Select"></p>
        </div>
  </div>

</div>
</div>
 <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 mb-5 mt-2">
     <center><input type="submit" class="btn btn-success " style="padding-left:80px;padding-right:80px;"></center>
 </div>
</div>
</form>

<div class="container-fluid">
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 ">

            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 p-2 mb-3 "  style="background-color:white;">
            <h4>Notes for Income source selection</h4>
            </div>
        <ol>
         <div class="row">

            <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">

                    <li>If you have income from job/pension then you just have to upload Form-16 and we will make your ITR.
                    You can Simply skip uploading form-16 and fill information manually</li>
                <li>If you have income from job/pension then you just have to upload Form-16 and we will make your ITR.
                    You can Simply skip uploading form-16 and fill information manually</li>

            </div>
             <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
                    <li>If you have income from job/pension then you just have to upload Form-16 and we will make your ITR.
                    You can Simply skip uploading form-16 and fill information manually</li>
                <li>If you have income from job/pension then you just have to upload Form-16 and we will make your ITR.
                    You can Simply skip uploading form-16 and fill information manually</li>
            </div>

        </div>
        </ol>
    </div>
</div>




{% endblock content %}