{% extends 'navbar.html' %}
{% block content %}
<style>

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #04AA6D;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}
</style>
<div class="col-lg-10 col-sm-12 col-md-12 col-xs-12 mt-3 " style="background:white;margin:auto;">
               <form id="regForm" >
                   <!-- One "tab" for each step in the form: -->
                 <div class="tab">
                   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center p-4">
                        <h4>Pan Details</h4>
                   </div>
                   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 p-4">
                        <div class="row">
                          <div class="col-md-6 col-sm-6 col-xs-12  form-group">
                          <label for="pan_number">PAN Number:</label>
                          <input type="text" name="pan_number" value=""  class="form-control valid" id="pan_number" placeholder="PAN Number">
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-12  form-group">
                          <label for="aadhar_number">Aadhar Number:</label>
                          <input type="text" name="aadhar_number" value=""  class="form-control valid" id="aadhar_number" placeholder="Aadhar Number">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  form-group">
                          <label for="financial_year">Financial Year</label>
                          <select name="financial_year" class="form-control valid" id="financial_year" aria-invalid="false">
                              <option value="" selected="selected">2020-2021</option>
                              <option value="Salaried Employee">2019-2021</option>
                              <option value="Business Man">2018=2019</option>
                          </select>
                          </div>
                        </div>
                   </div>
                 </div>
                 <div class="tab">
                   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center p-4">
                        <h4>Your Basic Information</h4>
                       <h6>Note : Enter details as mentioned on your PAN Card</h6>
                   </div>
                   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 p-4">
                       <div class="row">
                           <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="first_name">First Name:</label>
                               <input type="text" name="first_name" value=""  class="form-control valid" id="first_name" placeholder="">
                           </div>
                           <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="middle_name">Middle Name:</label>
                               <input type="text" name="middle_name" value=""  class="form-control valid" id="middle_name" placeholder="">
                           </div>
                           <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="last_name">Last Name</label>
                               <input type="text" name="last_name" value=""  class="form-control valid" id="last_name" placeholder="">
                           </div>
                       </div>
                       <div class="row">
                           <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="father_name">Father's  Name:</label>
                               <input type="text" name="father_name" value=""  class="form-control valid" id="father_name" placeholder="">
                           </div>
                           <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="dob">Date of Birth:</label>
                               <input type="date" name="dob" value=""  class="form-control valid" id="dob" placeholder="">
                           </div>
                           <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="mobile_number">Mobile Number:</label>
                               <input type="text" name="mobile_number" value=""  class="form-control valid" id="mobile_number" placeholder="">
                           </div>
                           <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 " style="">
                               <label for="email">Email ID:</label>
                               <input type="email" name="email" value=""  class="form-control valid" id="email" placeholder="">
                           </div>
                           <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 pt-4 ">
                               <label for="gender" class="pt-1">Gender:</label>
                               <input type="radio"  name="gender" id="gender" value="male" class="p-2">Male
                               <input type="radio"  name="gender" id="female"  value="female"  class="p-2">Female

                           </div>
                       </div>
                   </div>
                 </div>
                 <div class="tab">
                   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center p-4">
                        <h4>Address Information</h4>
                       <h6>Note : Enter details as mentioned on your PAN Card</h6>
                   </div>
                   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 p-4">
                       <div class="row">
                           <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="pincode">Pin Code:</label>
                               <input type="text" name="pincode" value=""  class="form-control valid" id="pincode" placeholder="">
                           </div>
                           <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="country">Country:</label>
                               <input type="text" name="country" value=""  class="form-control valid" id="country" placeholder="">
                           </div>
                           <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="state">State</label>
                               <input type="text" name="state" value=""  class="form-control valid" id="state" placeholder="">
                           </div>
                           <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="city">City</label>
                               <input type="text" name="city" value=""  class="form-control valid" id="city" placeholder="">
                           </div>
                       </div>
                       <div class="row pt-3">
                           <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="flat">Flat / Door / Building:</label>
                               <input type="text" name="flat" value=""  class="form-control valid" id="flat" placeholder="">
                           </div>
                           <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="building">Premises / Building / Village:</label>
                               <input type="text" name="building" value=""  class="form-control valid" id="building" placeholder="">
                           </div>
                           <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="road">Road</label>
                               <input type="text" name="road" value=""  class="form-control valid" id="road" placeholder="">
                           </div>
                           <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="area">Area</label>
                               <input type="text" name="area" value=""  class="form-control valid" id="area" placeholder="">
                           </div>
                       </div>
                   </div>
                 </div>
                 <div class="tab">
                   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center pt-3">
                        <h4>PRESUMPTIVE BUSINESS INCOME</h4>
                   </div>
                   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 p-4">
                       <div class="row">
                           <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="business_nature">Nature Of Business:</label>
                               <select name="business_nature" id="business_nature" class="form-control" >
                                <option value="" selected="selected">Please Select</option>
                                <optgroup label="Section 44AE">
                                <option value="9999">Goods Carriage (Section 44AE)</option>
                                </optgroup>
                                <optgroup label="Section 44ADA">
                                <option value="16001">Legal profession</option>
                                <option value="16002">Accounting, book-keeping &amp; auditing profession</option>
                                <option value="16003">Tax consultancy</option>
                                <option value="16004">Architectural profession</option>
                                <option value="16005">Engineering &amp; technical consultancy</option>
                                <option value="16007">Fashion designing</option>
                                <option value="16008">Interior decoration</option>
                                <option value="14001">Software development</option>
                                <option value="14002">Other software consultancy</option>
                                <option value="14003">Data processing</option>
                                <option value="14005">Other IT enabled services</option>
                                <option value="18001">General hospitals</option>
                                <option value="18004">Diagnostic centers</option>
                                <option value="18010">Medical clinics</option>
                                <option value="18017">Medical education</option>
                                <option value="18020">Other healthcare services</option>
                                </optgroup>
                                <optgroup label="Section 44AD">
                                <option value="01001">Growing &amp; manufacturing of tea</option>
                                <option value="01010">Agricultural &amp; animal husbandry services</option>
                                <option value="01013">Growing of timber, plantation, operation of tree nurseries &amp; conserving of forest</option>
                                <option value="01014">Gathering of tendu leaves</option>
                                <option value="02006">Other Fish farming activity n.e.c</option>
                                <option value="03006">Mining of uranium &amp; thorium ores</option>
                                <option value="03009">Mining of gemstones</option>
                                <option value="03015">Mining &amp; production of salt</option>
                                <option value="03016">Other mining &amp; quarrying n.e.c</option>
                                <option value="04006">Manufacture of sugar</option>
                                <option value="04007">Manufacture of cocoa, chocolates &amp; sugar confectionery</option>
                                <option value="04008">Flour milling</option>
                                <option value="04009">Rice milling</option>
                                <option value="04020">Manufacture of mineral water</option>
                                <option value="04021">Manufacture of soft drinks</option>
                                <option value="04022">Manufacture of other non-alcoholic beverages</option>
                                <option value="04023">Manufacture of tobacco products</option>
                                <option value="04031">Manufacture of footwear</option>
                                <option value="04033">Manufacture of paper &amp; paper products</option>
                                <option value="04082">Manufacture of optical instruments</option>
                                <option value="04083">Manufacture of watches &amp; clocks</option>
                                <option value="04084">Manufacture of motor vehicles</option>
                                <option value="04093">Manufacture of jewellery</option>
                                <option value="04094">Manufacture of sports goods</option>
                                <option value="04095">Manufacture of musical instruments</option>
                                <option value="04096">Manufacture of games &amp; toys</option>
                                <option value="04097">Other manufacturing n.e.c.</option>
                                <option value="05004">Other essential commodity service n.e.c</option>
                                <option value="06008">Construction &amp; maintenance of power transmission &amp; telecommunication lines</option>
                                <option value="06010">Other construction activity n.e.c.</option>
                                <option value="07005">Other real estate/renting services n.e.c</option>
                                <option value="08006">Renting of office machinery &amp; equipment</option>
                                <option value="08009">Renting of other machinery n.e.c.</option>
                                <option value="09002">Repair &amp; maintenance of motor vehicles</option>
                                <option value="09020">Wholesale of waste, scrap &amp; materials for re-cycling</option>
                                <option value="09026">Retail sale of hardware, paint &amp; glass</option>
                                <option value="09027">Wholesale of other products n.e.c</option>
                                <option value="09028">Retail sale of other products n.e.c</option>
                                <option value="10001">Hotels – Star rated</option>
                                <option value="10002">Hotels – Non-star rated</option>
                                <option value="10007">Restaurants – with bars</option>
                                <option value="10008">Restaurants – without bars</option>
                                <option value="10012">Other hospitality services n.e.c.</option>
                                <option value="11001">Travel agencies &amp; tour operators</option>
                                <option value="11005">Transport by urban/sub-urban railways</option>
                                <option value="11015">Other Transport &amp; Logistics services n.e.c</option>
                                <option value="12001">Post &amp; courier activities</option>
                                <option value="12002">Basic telecom services</option>
                                <option value="12003">Value added telecom services</option>
                                <option value="13001">Commercial banks, saving banks &amp; discount houses</option>
                                <option value="13009">Chit fund</option>
                                <option value="13015">Stock brokers, sub-brokers &amp; related activities</option>
                                <option value="13016">Financial advisers, mortgage advisers &amp; brokers</option>
                                <option value="14010">Other computation related services n.e.c.</option>
                                <option value="17006">Coaching centres &amp; tuitions</option>
                                <option value="17007">Other education services n.e.c.</option>
                                <option value="19007">Political organisations</option>
                                <option value="20002">Film distribution</option>
                                <option value="20017">Museum activities</option>
                                <option value="20023">Other sporting activities n.e.c.</option>
                                <option value="20024">Other recreational activities n.e.c.</option>
                                <option value="21001">Hair dressing &amp; other beauty treatment</option>
                                <option value="21002">Funeral &amp; related activities</option>
                                <option value="21003">Marriage bureaus</option>
                                <option value="21007">Private households as employers of domestic staff</option>
                                <option value="21008">Other services n.e.c.</option>
                                <option value="22001">Extra territorial organisations &amp; bodies (IMF, World Bank, European Commission etc.)</option>
                                <option value="21006">Astrological &amp; spiritualists activities</option>
                                <option value="16019">Other professional services n.e.c.</option>
                                </optgroup>
                               </select>
                           </div>
                           <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="business_name">Name of the Business:</label>
                               <input type="text" name="business_name" value=""  class="form-control valid" id="business_name" placeholder="">
                           </div>

                       </div>
                       <h5 class="text-center pt-5" >COMPUTATION OF PRESUMPTIVE INCOME</h5>
                       <hr>
                       <div class="row pb-3"  style="font-size:90%;">
                           <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="gross_turnover_noncash">GROSS TURNOVER OR GROSS RECEIPTS THROUGH NON-CASH SALES (BANK) </label>
                               <input type="text" name="gross_turnover_noncash" value=""  class="form-control valid" id="gross_turnover_noncash" placeholder="">
                           </div>
                           <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="total_income_noncash">TOTAL PRESUMPTIVE INCOME FROM NON-CASH SALES (BANK) </label>
                               <input type="text" name="total_income_noncash" value=""  class="form-control valid" id="total_income_noncash" placeholder="">
                           </div>
                       </div>
                       <div class="row "  style="font-size:90%;">
                           <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="gross_turnover_cash">GROSS TURNOVER OR GROSS RECEIPTS THROUGH CASH SALES</label>
                               <input type="text" name="gross_turnover_cash" value=""  class="form-control valid" id="gross_turnover_cash" placeholder="">
                           </div>
                           <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="total_income_cash">TOTAL PRESUMPTIVE INCOME FROM CASH SALES </label>
                               <input type="text" name="total_income_cash" value=""  class="form-control valid" id="total_income_cash" placeholder="">
                           </div>
                       </div>
                       <hr>
                       <div>
                           <div class="text-center">
                               <h5>FINANCIAL PARTICULARS (as on 31st March)</h5>
                           </div>
                          <h6>Total Assets :</h6>
                           <hr>
                           <div class="row">
                               <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                                   <label for="fixed_assets">Fixed Assets</label>
                                   <input type="text" name="fixed_assets" value=""  class="form-control valid" id="fixed_assets" placeholder="">
                               </div>
                               <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                                   <label for="stock_in_trade">Stock-in-Trade</label>
                                   <input type="text" name="stock_in_trade" value=""  class="form-control valid" id="stock_in_trade" placeholder="">
                               </div>
                               <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                                   <label for="balance_with_bank">Balance with Banks</label>
                                   <input type="text" name="balance_with_bank" value=""  class="form-control valid" id="balance_with_bank" placeholder="">
                               </div>
                               <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                                   <label for="cash_balance">Cash Balance</label>
                                   <input type="text" name="cash_balance" value=""  class="form-control valid" id="cash_balance" placeholder="">
                               </div>
                               <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                                   <label for="sundry_debtors">Sundry Debtors</label>
                                   <input type="text" name="sundry_debtors" value=""  class="form-control valid" id="sundry_debtors" placeholder="">
                               </div>
                               <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                                   <label for="loan_and_advance">Loans and Advances</label>
                                   <input type="text" name="loan_and_advance" value=""  class="form-control valid" id="loan_and_advance" placeholder="">
                               </div>
                               <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                                   <label for="other_assets">Other Assets</label>
                                   <input type="text" name="other_assets" value=""  class="form-control valid" id="other_assets" placeholder="">
                               </div>
                           </div>
                           <h6 class="pt-3">Total Capital and Liabilities :</h6>
                           <hr>
                           <div class="row">
                               <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                                   <label for="partner_own_capital">Partner / Members own Capital</label>
                                   <input type="text" name="partner_own_capital" value=""  class="form-control valid" id="partner_own_capital" placeholder="">
                               </div>
                               <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                                   <label for="secured_loan">Secured Loans</label>
                                   <input type="text" name="secured_loan" value=""  class="form-control valid" id="secured_loan" placeholder="">
                               </div>
                               <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                                   <label for="unsecured_loan">Unsecured Loans</label>
                                   <input type="text" name="unsecured_loan" value=""  class="form-control valid" id="unsecured_loan" placeholder="">
                               </div>
                               <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                                   <label for="advances">Advances</label>
                                   <input type="text" name="advances" value=""  class="form-control valid" id="advances" placeholder="">
                               </div>
                               <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                                   <label for="sundry_creditors">Sundry Creditors</label>
                                   <input type="text" name="sundry_creditors" value=""  class="form-control valid" id="sundry_creditors" placeholder="">
                               </div>
                               <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                                   <label for="Other Liabilities">Other Liabilities</label>
                                   <input type="text" name="Other Liabilities" value=""  class="form-control valid" id="Other Liabilities" placeholder="">
                               </div>
                           </div>
                       </div>
                       <hr>
                        <h5>Turnover / Gross Receipt reported for GST</h5>
                       <div class="row">
                          <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="gstn">GSTIN</label>
                              <input type="text" name="gstn" value=""  class="form-control valid" id="gstn" placeholder="">

                       </div>
                           <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="turnover_gst_return_file">Turnover / Gross receipt as per the GST return filed</label>
                              <input type="text" name="turnover_gst_return_file" value=""  class="form-control valid" id="turnover_gst_return_file" placeholder="">

                       </div>
                   </div>
                 </div>
                 </div>
                 <div class="tab">
                   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center p-4">
                        <h4>House Propery Informatiom</h4>
                   </div>
                   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                       <p style="font-size:120%;" > <strong style="padding-right:20%;">Type of House Property ?</strong>
                       <input type="radio" name="houserproperty_type" > Self occupied
                       <input type="radio" name="houserproperty_type"> Let out
                       </p>
                       <div class="row">
                            <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12  ">
                               <label for="tenant_name">Name of Tenant</label>
                               <input type="text" name="tenant_name" value=""  class="form-control valid" id="tenant_name" placeholder="">
                            </div>
                           <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="tenant_pan">pan of Tenant</label>
                               <input type="text" name="tenant_pan" value=""  class="form-control valid" id="tenant_pan" placeholder="">
                            </div>
                           <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="rent_received">Rent Received</label>
                               <input type="text" name="rent_received" value=""  class="form-control valid" id="rent_received" placeholder="">
                            </div>
                           <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="property_tax_paid_by_owner">Property Tax/ Municipal Tax Paid By Owner</label>
                               <input type="text" name="property_tax_paid_by_owner" value=""  class="form-control valid" id="property_tax_paid_by_owner" placeholder="">
                            </div>
                       </div>
                   </div>
                     <hr>
                   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                       <p style="font-size:120%;" > <strong style="padding-right:20%;">Have you taken any loan to buy this Property ?</strong>
                       <input type="radio" name="houserproperty_type" > Yes
                       <input type="radio" name="houserproperty_type"> No
                       </p>
                       <div class="row">
                            <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12  ">
                               <label for="interest_on_loan_houseproperty">Interest on Loan for purchase of house property</label>
                               <input type="text" name="interest_on_loan_houseproperty" value=""  class="form-control valid" id="interest_on_loan_houseproperty" placeholder="">
                            </div>
                           <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="interest_on_loan_reconstruction">Interest on Loan for repair/renewal or reconstruction</label>
                               <input type="text" name="interest_on_loan_reconstruction" value=""  class="form-control valid" id="interest_on_loan_reconstruction" placeholder="">
                            </div>
                           <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="pre_construction_interest">Pre Construction Period Interest</label><br><br>
                               <input type="text" name="pre_construction_interest" value=""  class="form-control valid" id="pre_construction_interest" placeholder="">
                            </div>
                       </div>
                   </div>
                     <hr>

                     <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 pb-4 ">
                       <p style="font-size:120%;" > <strong style="padding-right:20%;">Address</strong>
                         <div class="row">
                          <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                              <label for="property_pincode">pincode</label>
                              <input type="text" name="property_pincode" value=""  class="form-control valid" id="property_pincode" placeholder="">
                          </div>
                         <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                              <label for="property_country">Country</label>
                              <input type="text" name="property_country" value=""  class="form-control valid" id="property_country" placeholder="">
                          </div>
                         <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                              <label for="property_state">State</label>
                              <input type="text" name="property_state" value=""  class="form-control valid" id="property_state" placeholder="">
                          </div>
                         <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                              <label for="property_city">City</label>
                              <input type="text" name="property_city" value=""  class="form-control valid" id="property_city" placeholder="">
                          </div>
                         <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 ">
                              <label for="property_address">Address</label>
                              <input type="text" name="property_address" value=""  class="form-control valid" id="property_address" placeholder="">
                         </div>
                     </div>

                 </div>
                 </div>
                 <div class="tab">
                   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center p-4">
                        <h4>INCOME FROM OTHER SOURCES</h4>
                   </div>
                   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                       <div class="row">
                            <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12  ">
                               <label for="interest_from_saving_bank">Interest from Saving Bank A/c</label>
                               <input type="text" name="interest_from_saving_bank" value=""  class="form-control valid" id="interest_from_saving_bank" placeholder="">
                            </div>
                           <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="interest_from_fixed_deposit">Interest from Fixed Deposit</label>
                               <input type="text" name="interest_from_fixed_deposit" value=""  class="form-control valid" id="interest_from_fixed_deposit" placeholder="">
                            </div>
                           <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="interest_from_income_tax_refund">Interest from Income Tax Refund</label>
                               <input type="text" name="interest_from_income_tax_refund" value=""  class="form-control valid" id="interest_from_income_tax_refund" placeholder="">
                            </div>
                       </div>
                   </div>
                     <hr>
                   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                       <p style="font-size:120%;" > <strong style="padding-right:20%;">Received Family Pension?</strong>
                       <input type="radio" name="houserproperty_type" > Yes
                       <input type="radio" name="houserproperty_type"> No
                       </p>
                       <div class="row">
                            <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12  ">
                               <label for="family_pension_received">Family Pension Received</label>
                               <input type="text" name="family_pension_received" value=""  class="form-control valid" id="family_pension_received" placeholder="">
                            </div>
                           <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="less_deduction_us_57">Less: Deduction u/s 57(iia)</label>
                               <input type="text" name="less_deduction_us_57" value=""  class="form-control valid" id="less_deduction_us_57" placeholder="">
                            </div> <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="net_family_pension">Net Family Pension</label>
                               <input type="text" name="net_family_pension" value=""  class="form-control valid" id="net_family_pension" placeholder="">
                            </div>
                       </div>
                   </div>
                     <hr>
                     <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 ">
                         <label for="any_other_income"><strong>Any other Income</strong></label>
                               <input type="text" name="any_other_income" value=""  class="form-control valid" id="any_other_income" placeholder="">
                            </div>
                     <hr>
                 <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                       <p style="font-size:120%;" > <strong style="padding-right:20%;">Exempt Income: For reporting purpose</strong>
                       <input type="radio" name="houserproperty_type" > Yes
                       <input type="radio" name="houserproperty_type"> No
                       </p>
                       <div class="row">
                            <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12  ">
                               <label for="any_other">Specify if any other</label>
                                    <select name="any_other" class="form-control" id="any_other" data-dirrty-initial-value="" data-is-dirrty="false">
                                    <option value="" selected="selected">Please Select</option>
                                    <option value="AGRI">Agriculture Income (Rs. 5000)</option>
                                    <option value="10(10BC)">Any amount from the Central/State Govt./local authority by way of compensation on account of any disaster</option>
                                    <option value="10(10D)">Any sum received under a Life Insurance Policy</option>
                                    <option value="10(11)">Statuory Provident Fund received</option>
                                    <option value="10(12)">Recognised Provident Fund received</option>
                                    <option value="10(13)">Approved superannuation fund received</option>
                                    <option value="10(16)">Scholarships received to meet the cost of education</option>
                                    <option value="10(17)">Allowance MP/MLA/MLC</option>
                                    <option value="10(17A)">Award instituted by Government</option>
                                    <option value="10(18)">Pension received by winner of "Param Vir Chakra" or "Maha Vir Chakra" or "Vir Chakra"</option>
                                    <option value="DMDP">Defense Medical Disability Pension</option>
                                    <option value="10(19)">Armed Forces Family pension in case of death during operational duty</option>
                                    <option value="10(26)">Any income as referred to in section 10(26)</option>
                                    <option value="10(26AAA)">Any income as referred to in section 10(26AAA)</option>
                                    <option value="10(34)">Exempted Dividend Income</option>
                                    <option value="OTH">Any Other</option>
                                    </select>
                            </div>
                           <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12 pb-4 ">
                               <label for="amount">Amount</label>
                               <input type="text" name="amount" value=""  class="form-control valid" id="amount" placeholder="">
                            </div>
                       </div>
                   </div>

                 </div>
                 <div class="tab mb-5" >
                   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center p-3">
                        <h4>Deductions</h4>
                   </div>
                   <div class="p-2 text-center" style="background:#AEEEEE;">
                        Please enter total amount including investments done between 01 April 2020 to 31 July 2020 i.e.
                         Time period extended due to Covid 19. [ Thus, deductions can be claimed for the investments / expenses done
                         from 1.4.2019 to 31.07.2020]
                     </div>
                   <div class=" container-fluid mt-2">
                       <style>
                         .dd{
                         width:100%;
                       }
                     </style>
                         <div class="row" style="margin:auto;">
                             <div class="col "><a href="#tab1" class="btn btn-outline-primary dd">SECTION 80C</a></div>
                             <div class="col "><a href="#tab2" class="btn btn-outline-primary dd">SECTION 80D</a></div>
                             <div class="col "><a href="#tab3" class="btn btn-outline-primary dd">DONATION</a></div>
                             <div class="col"><a href="#tab4" class="mr-3 btn btn-outline-primary dd">OTHER </a></div>
                         </div>
                     </div>
                     <hr>
                     <div class="mt-3">
                         <div class="" id="tab1">
                             <h4 style="background:#AEEEEE;" class="p-2">SECTION 80C :</h4>
                             <p><strong>Enter your tax saving investment details like PPF investment, Fixed Deposits etc.</strong></p>
                         </div>
                         <hr>
                         <div>
                             <div class="row">
                            <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12  ">
                               <label for="life_insurance_Premium">Life Insurance Premium (LIC)</label>
                               <input type="text" name="life_insurance_Premium" value="0"  class="form-control valid" id="life_insurance_Premium" placeholder="">
                            </div>
                           <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="pf">PF</label>
                               <input type="text" name="pf" value="0"  class="form-control valid" id="pf" placeholder="">
                            </div>
                           <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="ppf">PPF</label>
                               <input type="text" name="ppf" value="0"  class="form-control valid" id="ppf" placeholder="">
                            </div>
                           <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="repayment_on_housing_loan">Principal Repayment on housing Loan </label>
                               <input type="text" name="repayment_on_housing_loan" value="0"  class="form-control valid" id="repayment_on_housing_loan" placeholder="">
                            </div>
                           <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="fdr">FDR (Tax Savings)</label>
                               <input type="text" name="fdr" value="0"  class="form-control valid" id="fdr" placeholder="">
                            </div>
                           <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="nsc">NSC</label>
                               <input type="text" name="nsc" value="0"  class="form-control valid" id="nsc" placeholder="">
                            </div>
                           <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="tuition_fees">Tuition fees</label>
                               <input type="text" name="tuition_fees" value="0"  class="form-control valid" id="tuition_fees" placeholder="">
                            </div>
                           <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="premium_paid_to_annuity">Premium paid to Annuity</label>
                               <input type="text" name="premium_paid_to_annuity" value="0"  class="form-control valid" id="premium_paid_to_annuity" placeholder="">
                            </div>
                           <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="other_80c_deductions">Other 80C Deductions</label>
                               <input type="text" name="other_80c_deductions" value="0"  class="form-control valid" id="other_80c_deductions" placeholder="">
                            </div>

                         </div>
                     </div>
                 </div>
                     <div class="mt-3">
                         <div class="" id="tab2">
                             <h4 style="background:#AEEEEE;" class="p-2">SECTION 80D :</h4>
                         </div>
                         <hr>
                         <div>
                             <div class="row">
                            <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12  ">
                               <label for="policy_type">Medical Insurance</label>
                                <select name="policy_type" class="form-control textBoxes" id="policy_type" >
                                <option value="" selected="selected">Select Policy type</option>
                                <option value="self">For Self, Spouse and Dependent children</option>
                                <option value="parent">For Parents</option>
                                </select>
                            </div>
                           <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12 ">
                               <div class="row">
                               <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12 pt-4">
                               <p >Is any of the policy holder aged 60 years or more</p>
                               </div>
                               <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12 pt-4">
                                   <input type="radio" name="policy_holder_aged_60"> Yes
                                   <input type="radio" name="policy_holder_aged_60"> No
                               </div>
                               </div>
                               </div>
                           <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="reventive_health_checkup">reventive Health Check Up</label>
                               <input type="text" name="reventive_health_checkup" value="0"  class="form-control valid" id="reventive_health_checkup" placeholder="">
                            </div>
                           <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="medical_expenditure">Medical Expenditure</label>
                               <input type="text" name="medical_expenditure" value="0"  class="form-control valid" id="medical_expenditure" placeholder="">
                            </div>
                           <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="medical_insurance_premium">Medical insurance premium</label>
                               <input type="text" name="medical_insurance_premium" value="0"  class="form-control valid" id="medical_insurance_premium" placeholder="">
                            </div>
                         </div>
                     </div>
                 </div>
                     <div class="mt-3">
                         <div class="" id="tab3">
                             <h4 style="background:#AEEEEE;" class="p-2">DONATION :</h4>
                         </div>
                         <hr>
                         <div>
                             <div class="row">
                            <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12  ">
                               <label for="donee_name">Name of Donee</label>
                               <input type="text" name="donee_name" value=""  class="form-control valid" id="donee_name" placeholder="">
                            </div>
                           <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="donee_pan">PAN of Donee</label>
                               <input type="text" name="donee_pan" value=""  class="form-control valid" id="donee_pan" placeholder="">
                           </div>
                           <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="donation_in_cash">Donation in Cash</label>
                               <input type="text" name="donation_in_cash" value=""  class="form-control valid" id="donation_in_cash" placeholder="">
                            </div>
                           <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="donation_other_mode">Donation in Other Mode</label>
                               <input type="text" name="donation_other_mode" value=""  class="form-control valid" id="donation_other_mode" placeholder="">
                            </div>
                           <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="donation_amount">Donation Amount</label>
                               <input type="text" name="donation_amount" value=""  class="form-control valid" id="donation_amount" placeholder="">
                            </div>
                         </div>
                             <hr>
                             <div class="row">
                                  <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12  ">
                                      <label for="limit_of_deduction">Limit of Deduction</label>
                                      <select name="limit_of_deduction" class="form-control " id="limit_of_deduction" >
                                    <option value="" selected="selected">Please Select</option>
                                    <option value="qualifying_limit">Qualifying Limit</option>
                                    <option value="without_qualifying_limit"> Without Qualifying Limit</option>
                                </select>
                              </div>
                                 <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12  ">
                                      <label for="percentage_of_amount">Percentage of Amount</label>
                                      <select name="percentage_of_amount" class="form-control " id="percentage_of_amount" >
                                    <option value="" selected="selected">Please Select</option>
                                    <option value="50%">50%</option>
                                    <option value="100%"> 100%</option>
                                </select>
                               </div>
                             </div>
                             <hr>
                             <h4>Donee Address :</h4>
                             <hr>
                              <div class="row">
                          <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                              <label for="donee_pincode">pincode</label>
                              <input type="text" name="donee_pincode" value=""  class="form-control valid" id="donee_pincode" placeholder="">
                          </div>
                         <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                              <label for="donee_country">Country</label>
                              <input type="text" name="donee_country" value=""  class="form-control valid" id="donee_country" placeholder="">
                          </div>
                         <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                              <label for="donee_state">State</label>
                              <input type="text" name="donee_state" value=""  class="form-control valid" id="donee_state" placeholder="">
                          </div>
                         <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                              <label for="donee_city">City</label>
                              <input type="text" name="donee_city" value=""  class="form-control valid" id="donee_city" placeholder="">
                          </div>
                         <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 ">
                              <label for="donee_address">Address</label>
                              <input type="text" name="donee_address" value=""  class="form-control valid" id="donee_address" placeholder="">
                         </div>
                     </div>
                         </div>
                     </div>
                     <div class="mt-3">
                    <div class="" id="tab4">
                             <h4 style="background:#AEEEEE;" class="p-2">OTHER SECTIONS :</h4>
                         </div>
                     <p>There are numerous funds and policies that can help save on tax which most people are unaware of.
                         For all you know, there might already be a few that you've invested in without knowing how beneficial they actually are.
                         We're here to help with that.</p>
                     <div class="row">
                         <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
                             <label for="any_other_name">Specify if any other</label>
                             <select name="any_other_name" class="form-control " id="any_other_name">
                                <option value="" selected="selected">Please Select</option>
                                <option value="80ccc">80CCC</option>
                                <option value="80ccd1">80CCD(1) &amp; 80CCD(1B)</option>
                                <option value="80ccd2">80CCD(2) - Deposited by Employer</option>
                                <option value="80ee">80EE</option>
                                <option value="80eea">80EEA</option>
                                <option value="80eeb">80EEB</option>
                                <option value="80ggc">80GGC</option>
                             </select>
                         </div>
                         <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
                              <label for="other_amount"> Amount</label>
                               <input type="text" name="other_amount" value=""  class="form-control valid" id="other_amount" placeholder="">
                         </div>
                     </div>
                     <hr>
                     <div>
                         <h6 style="background:#AEEEEE;" class="p-1">Section 80DD / 80U :</h6>
                         <p>You can claim tax refunds if you or any of your family member is disabled. If such is the case, we'll help lower the burden on your shoulders.</p>
                     <div class="row">
                         <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
                             <label for="disabled_member">Disabled Member</label>
                             <select name="disabled_member" class="form-control " id="disabled_member">
                                <option value="" selected="selected">Please Select Member</option>
                                <option value="self">Self</option>
                                <option value="family_member">Family Member</option>
                             </select>
                         </div>
                         <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
                              <label for="total_expenditure"> Total Expenditure</label>
                               <input type="text" name="total_expenditure" value=""  class="form-control valid" id="total_expenditure" placeholder="">
                         </div>
                     </div>
                         <p style="font-size:120%;" class="pt-4"> <strong style="padding-right:5%;">Severity of disability</strong>
                       <input type="radio" name="houserproperty_type" > More than 40%
                       <input type="radio" name="houserproperty_type"> More than 80%
                       </p>
                     </div>
                     <hr>
                     <div>
                         <h6 style="background:#AEEEEE;" class="p-1">Section 80DDB :</h6>
                         <p>You can claim tax refunds if you or any of your family member is diseased. If such is the case, we'll help lower the burden on your shoulders.</p>
                     <div class="row">
                         <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
                             <label for="diseased_citizen">Diseased Citizen</label>
                             <select name="diseased_citizen" class="form-control " id="diseased_citizen">
                                <option value="" selected="selected">Please Select Member</option>
                                <option value="normal_citizen">Normal Citizen(less than 60 years of Age)</option>
                                <option value="senior_citizen">Senior Citizen(60 or more)</option>
                             </select>
                         </div>
                         <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
                              <label for="total_expenditure_80DDB"> Total Expenditure</label>
                               <input type="text" name="total_expenditure_80DDB" value=""  class="form-control valid" id="total_expenditure_80DDB" placeholder="">
                         </div>
                     </div>
                     </div>
                         <hr>
                     <div>
                         <h6 style="background:#AEEEEE;" class="p-1">Section 80E :</h6>
                         <p>Did you know that your education loan can get you access to the best of universities and the interest paid on it can be claimed as a deduction.</p>
                     <div class="row">
                         <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
                              <label for="interest_on_education_loan"> Interest on Education Loan</label>
                               <input type="text" name="interest_on_education_loan" value=""  class="form-control valid" id="interest_on_education_loan" placeholder="">
                         </div>
                     </div>
                     </div>
                         <hr>
                     <div>
                         <h6 style="background:#AEEEEE;" class="p-1">Section 80GG :</h6>
                         <p>You can claim tax benefits against the amount you have paid as house rent. It can be claimed only if you do not either receive or claim your HRA.</p>
                     <div class="row">
                         <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
                              <label for="rent_paid_for_year"> Rent Paid for the year</label>
                               <input type="text" name="rent_paid_for_year" value="0"  class="form-control valid" id="rent_paid_for_year" placeholder="">
                         </div>
                         <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
                              <label for="no_of_months_rent_paid"> Number of months rent is paid for</label>
                               <input type="text" name="no_of_months_rent_paid" value="0"  class="form-control valid" id="no_of_months_rent_paid" placeholder="">
                         </div>
                     </div>
                     </div>
                 </div>
                     </div>
                 <div class="tab">
                     <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center p-3">
                        <h4>ENTER YOUR BANK DETAILS</h4>
                         <h6>This will help income tax department to transfer your tax refund directly in your bank account.</h6>
                   </div>
                    <hr>
                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center p-3">
                        <p>AS PER INCOME TAX LAW, PLEASE ENTER DETAILS OF ALL YOUR BANK ACCOUNTS.</p>
                   </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12  p-3">
                         <label for="ifsc_code"> IFS Code of the Bank</label>
                         <input type="text" name="ifsc_code" value=""  class="form-control valid" id="ifsc_code" placeholder="">
                        </div>
                        <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12  p-3">
                         <label for="bank_name"> Name of the Bank</label>
                         <input type="text" name="bank_name" value=""  class="form-control valid" id="bank_name" placeholder="">
                        </div>
                        <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12  p-3">
                         <label for="account_number">Account Number </label>
                         <input type="text" name="account_number" value=""  class="form-control valid" id="account_number" placeholder="">
                        </div>
                    </div>
                </div>
                 <div class="tab">
                   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center p-4">
                        <h4 style="background:#AEEEEE;" class="p-2">PREPAID TAXES</h4>
                       <h6>Have you paid anything before?</h6>
                   </div>
                   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 p-4">
                       <div class="row">
                           <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12 ">
                               <p style="font-size:120%;"><strong>Advance Tax and Self Assessment Tax Payment</strong></p>
                               <p>Help us understand what advance tax you have already paid and we'll automatically consider it in your Income Tax return.</p>
                           </div>
                           <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12 ">
                               <input type="radio" name="advance_tax" class="p-5"> Yes
                               <input type="radio" name="advance_tax"> No
                           </div>
                       </div>
                       <div class="row">
                           <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="bsr_code">BSR Code</label>
                               <input type="text" name="bsr_code" value=""  class="form-control valid" id="bsr_code" placeholder="">
                           </div>
                           <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="date_of_chalan">Date of Challan</label>
                               <input type="date" name="date_of_chalan" value=""  class="form-control valid" id="date_of_chalan" placeholder="">
                           </div>
                           <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="challan_number">Challan No.</label>
                               <input type="text" name="challan_number" value=""  class="form-control valid" id="challan_number" placeholder="">
                           </div>
                           <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="tax_amount_prepaid">Tax Amount</label>
                               <input type="text" name="tax_amount_prepaid" value=""  class="form-control valid" id="tax_amount_prepaid" placeholder="">
                           </div>
                       </div>
                       </div><hr>
                   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 p-4">
                       <div class="row">
                           <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12 ">
                               <p style="font-size:120%;"><strong>Details of TDS Paid on Other Than Salary</strong></p>
                               <p>If you've had TDS deducted on any source of income except salary; like on interest, rent etc. then you can enter here. (refer Form 16A or 26AS)</p>
                           </div>
                           <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12 ">
                               <input type="radio" name="advance_tax" class="p-5"> Yes
                               <input type="radio" name="advance_tax"> No
                           </div>
                       </div>
                       <div class="row">
                           <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="deductor_name">Name of the Deductor</label>
                               <input type="text" name="deductor_name" value=""  class="form-control valid" id="deductor_name" placeholder="">
                           </div>
                           <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="deductor_tan">TAN of the Deductor</label>
                               <input type="text" name="deductor_tan" value=""  class="form-control valid" id="deductor_tan" placeholder="">
                           </div>
                           <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="tds_deducted_amount">Amount on which TDS deducted</label>
                               <input type="text" name="tds_deducted_amount" value=""  class="form-control valid" id="tds_deducted_amount" placeholder="">
                           </div>
                           <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="total_deducted_tds">Total TDS deducted</label>
                               <input type="text" name="total_deducted_tds" value=""  class="form-control valid" id="total_deducted_tds" placeholder="">
                           </div>
                           <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="head_of_income">Head of Income</label>
                               <select name="head_of_income" class="form-control " id="head_of_income">
                                    <option value="" selected="selected">Please Select</option>
                                    <option value="BP">Income from Business and Profession</option>
                                    <option value="HP">Income from House Property</option>
                                    <option value="OS">Income from Other Source</option>
                                    <option value="EI">Exempt Income</option>
                                    <option value="NA">Not Applicable (only in case TDS is deducted u/s 194N)</option>
                               </select>
                           </div>
                       </div>
                       </div><hr>
                   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 p-4">
                       <div class="row">
                           <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12 ">
                               <p style="font-size:120%;"><strong>Details of TDS Paid on Rental Income</strong></p>
                               <p>If you have received rent exceeding Rs. 50,000 per month then this section is for you!! Enter the details of TDS deducted on rent by your tenant u/s 194IB. You can also check this from Form 26AS.</p>
                           </div>
                           <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12 ">
                               <input type="radio" name="advance_tax" class="p-5"> Yes
                               <input type="radio" name="advance_tax"> No
                           </div>
                       </div>
                       <div class="row">
                           <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="deductor_name_rental">Name of the Deductor</label>
                               <input type="text" name="deductor_name_rental" value=""  class="form-control valid" id="deductor_name_rental" placeholder="">
                           </div>
                           <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="deductor_tan_rental">TAN of the Deductor</label>
                               <input type="text" name="deductor_tan_rental" value=""  class="form-control valid" id="deductor_tan_rental" placeholder="">
                           </div>
                           <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="tds_deducted_amount_rental">Amount on which TDS deducted</label>
                               <input type="text" name="tds_deducted_amount_rental" value=""  class="form-control valid" id="tds_deducted_amount_rental" placeholder="">
                           </div>
                           <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="total_deducted_tds_rental">Total TDS deducted</label>
                               <input type="text" name="total_deducted_tds_rental" value=""  class="form-control valid" id="total_deducted_tds_rental" placeholder="">
                           </div>
                           <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="head_of_income_rental">Head of Income</label>
                               <select name="head_of_income_rental" class="form-control " id="head_of_income_rental">
                                    <option value="" selected="selected">Please Select</option>
                                    <option value="BP">Income from Business and Profession</option>
                                    <option value="HP">Income from House Property</option>
                                    <option value="OS">Income from Other Source</option>
                                    <option value="EI">Exempt Income</option>
                                    <option value="NA">Not Applicable (only in case TDS is deducted u/s 194N)</option>
                               </select>
                           </div>
                       </div>
                       </div><hr>
                   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 p-4">
                       <div class="row">
                           <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12 ">
                               <p style="font-size:120%;"><strong>Details of Tax Collected at Source</strong></p>
                               <p>If at the time of sale of the specified category of goods, the seller has collected TCS from you then enter the details here. You can also check this from Form 26AS.</p>
                           </div>
                           <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12 ">
                               <input type="radio" name="advance_tax" class="p-5"> Yes
                               <input type="radio" name="advance_tax"> No
                           </div>
                       </div>
                       <div class="row">
                           <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="collector_name">Name of the Collector</label>
                               <input type="text" name="collector_name" value=""  class="form-control valid" id="collector_name" placeholder="">
                           </div>
                           <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="collector_tan">TAN of the Collector</label>
                               <input type="text" name="collector_tan" value=""  class="form-control valid" id="collector_tan" placeholder="">
                           </div>
                           <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="tcs_collected_amount">Amount on which TCS deducted</label>
                               <input type="text" name="tcs_collected_amount" value=""  class="form-control valid" id="tcs_collected_amount" placeholder="">
                           </div>
                           <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 ">
                               <label for="total_collected_tcs">Total TCS Collected</label>
                               <input type="text" name="total_collected_tcs" value=""  class="form-control valid" id="total_collected_tcs" placeholder="">
                           </div>
                       </div>
                       </div>

      </div>

         <center><div style="overflow:auto;">
          <div>`
            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
            <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
          </div>
        </div></center>
        <!-- Circles which indicates the steps of the form: -->
        <div style="text-align:center;margin-top:40px;">
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
        </div>
      </form>
          </div>
<script>
var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the current tab

function showTab(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";
  //... and fix the Previous/Next buttons:
  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
  } else {
    document.getElementById("prevBtn").style.display = "inline";
  }
  if (n == (x.length - 1)) {
    document.getElementById("nextBtn").innerHTML = "Calculate";
  } else {
    document.getElementById("nextBtn").innerHTML = "Next";
  }
  //... and run a function that will display the correct step indicator:
  fixStepIndicator(n)
}

function nextPrev(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");
  // Exit the function if any field in the current tab is invalid:
  //if (n == 1 && !validateForm()) return false;
  // Hide the current tab:
  x[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
  // if you have reached the end of the form...
  if (currentTab >= x.length) {
    // ... the form gets submitted:
    document.getElementById("regForm").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab);
}

function validateForm() {
  // This function deals with validation of the form fields
  var x, y, i, valid = true;
  x = document.getElementsByClassName("tab");
  y = x[currentTab].getElementsByTagName("input");
  // A loop that checks every input field in the current tab:
  for (i = 0; i < y.length; i++) {
    // If a field is empty...
    if (y[i].value == "") {
      // add an "invalid" class to the field:
      y[i].className += " invalid";
      // and set the current valid status to false
      valid = false;
    }
  }
  // If the valid status is true, mark the step as finished and valid:
  if (valid) {
    document.getElementsByClassName("step")[currentTab].className += " finish";
  }
  return valid; // return the valid status
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += " active";
}
</script>

{% endblock content %}