{% extends 'navbar.html' %}
{% block content %}

<div class="conatainer mt-5" style="auto ;background-color:#66CCFF ;" >
       <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 p-2 text-center" style="background-color:white;font-size:20px;">
                Upload File Number 16
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 p-2">
        <form method="post"  enctype="multipart/form-data">
            {% csrf_token %}
        <div class="row">
            <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 " >
            <img src="static/images/upload.png" style="padding-left:20%;" class="pt-5">

            </div>
            <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 mt-4"   >
                <div  class="m-5" style="background-color:white; height:auto;">
            <div class=" col-lg-12 col-md-12 col-sm-12  col-xs-12 p-5">
                <div>
                    <input type="file" accept="multipart/form-data" name="fileupload16" required>
                    <hr>
                <div class="my-3">
                    <div class="row">
                    <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 ">
                    <input  type="text" name="first_name"  class="form-control form-control-md " placeholder="First Name" aria-required="true">
                    </div>
                    <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 ">
                    <input  type="text" name="first_name"  class="form-control form-control-md " placeholder="First Name" aria-required="true">
                    </div>
                    </div>
                </div>
                <div class="my-3">
                <input type="email" name="email" class="form-control form-control-md " placeholder="Email Address" aria-required="true">
                </div>
                <div class="my-3">
                <input type="text" name="mobile_no" class="form-control form-control-md mobile_no onflyfields" placeholder="Mobile Number" aria-required="true">
                </div>
                    <div class="pt-2 pl-5">
                        <center> <input type="submit" value="Proceed" class="btn btn-success"></center>
                </div>

                </div>
            </div>

                </div>
            </div>
        </div>
        </form>
    </div>
</div>

{% endblock %}