{% extends 'navbar.html' %}
{% block content %}

<div class="container-fluid">
    <div class=" form12 col-lg-12 col-md-12 col-xs-12 col-sm-12" style="   ">
        <center class="mt-2 mb-2 p-3" style="font-size:25px; border: 2px solid ; margin-left:auto; margin-right:auto; background-color:white;">Generate Form 12BB</center>
    </div>
</div>

<div class="container-fluid">
     <div class=" form12 col-lg-12 col-md-12 col-xs-12 col-sm-12" style=" background-color:#485461; height:auto;  ">
         <div class="text-center p-3" style="color:white; font-size:18px;">
             Want to increase your take home salary or maximize your tax saving?
             Use this Form 12BB generator to declare investments, interest paid against Home Loan, House Rent Allowance,
             Leave Travel Allowance and other tax saving deductions.
         </div>
     </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--<script>-->
<!--$(document).ready(function(){-->
<!--  $(".b1").click(function(){-->
<!--    $("#div1").load("http://127.0.0.1:88/get_your_ca");-->
<!--  });-->
<!--});-->
<!--</script>-->
<div class=" container-fluid mt-2">
    <div class="row m-1" style="width:100%;">
        <div class="col-lg-1 col-md-12 col-sm-12">
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12">
        <a href="#tab1" class="btn btn-outline-primary b1" style="width:100%;height:100%; " >
            <img src="static/images/z1.png" width="40%">
            <p style="white-space: normal;overflow-wrap: break-word;word-wrap: break-word;hyphens: auto;">
                <strong>Details of Employee</strong>
            </p>
        </a>
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12">
         <a href="#tab2" class="btn btn-outline-primary" style="width:100%;height:100%;">
            <img src="static/images/z2.png" width="40%">
             <p style="white-space: normal;overflow-wrap: break-word;word-wrap: break-word;hyphens: auto;">
                 <strong>
                   House Rent Allowance
                 </strong>
             </p>
         </a>
       </div>
        <div class="col-lg-2 col-md-12 col-sm-12">
        <a href="#tab3" class="btn btn-outline-primary b3" style="width:100%;height:100%;">
            <img src="static/images/z3.png" width="40%">
            <p style="white-space: normal;overflow-wrap: break-word;word-wrap: break-word;hyphens: auto;">
                <strong>
                     Leave Travel Concessions
                </strong> </p>
        </a>
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12">
        <a href="#tab4" class="btn btn-outline-primary b4" style="width:100%;height:100%;">
            <img src="static/images/z6.png" width="40%">
            <p style="white-space: normal;overflow-wrap: break-word;word-wrap: break-word;hyphens: auto;">
                <strong>
                    Interest on Home Loan
                </strong></p></a>
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12">
        <a href="#tab5" class="btn btn-outline-primary b5" style="width:100%;height:100%;">
            <img src="static/images/z5.png" width="40%">
            <p style="white-space: normal;overflow-wrap: break-word;word-wrap: break-word;hyphens: auto;">
                <strong>
                    Deductions Under Chapter VI - A
                </strong></p></a>
        </div>
        <div class="col-lg-1 col-md-12 col-sm-12">
        </div>
    </div>
</div>


<div class="container mt-5 ">
<div class="tab-pane active smooth-load p-5 " id="tab1" style="background-color:white	;">
<div class="row">
<div class="col-md-12 text-center p-1 mb-4" style="border:10px double #F8F8FF; background-color:transparent;">
<h3>Employee's Details</h3>
</div>
</div>
<div class="row ">
<div class="col-md-4 col-sm-6 col-xs-12 form-group">
<label for="full_name">Name <em>*</em></label>
<input type="text" name="full_name" value="" id="full_name" maxlength="100" required="" class="form-control name" placeholder="Name" aria-required="true">
</div>
<div class="col-md-4 col-sm-6 col-xs-12  form-group">
<label for="pan">PAN <em>*</em></label>
<input type="text" name="pan" value="" class="form-control pan_optional text-uppercase" required="" id="pan" maxlength="10" placeholder="PAN No." aria-required="true">
</div>
<div class="col-md-4 col-sm-6 col-xs-12  form-group">
<label for="BasicDetails_fathers_name">Father's Name <em>*</em></label>
<input type="text" name="fathers_name" value="" class="form-control name" required="" id="BasicDetails_fathers_name" maxlength="125" placeholder="Father's Name" aria-required="true">
</div>
</div>
<div class="row">
<div class="col-md-4 col-sm-6 col-xs-12  form-group">
<label for="place">Place<em>*</em></label>
<input type="text" name="place" value="" class="form-control name" id="place" required="" maxlength="50" placeholder="Place" aria-required="true">
</div>
<div class="col-md-4 col-sm-6 col-xs-12  form-group">
<label for="BasicDetails_mobile_no">Mobile <em>*</em></label>
<input type="text" name="mobile_no" value="" class="form-control mobile_no" required="" id="BasicDetails_mobile_no" maxlength="10" placeholder="Mobile" aria-required="true">
</div>
<div class="col-md-4 col-sm-6 col-xs-12  form-group">
<label for="BasicDetails_email">Email Id <em>*</em></label>
<input type="email" name="email" value="" class="form-control" required="" id="BasicDetails_email" maxlength="125" placeholder="Email" aria-required="true">
</div>
</div>
<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12  form-group">
<label for="house_address">Address <em>*</em></label>
<textarea class="form-control alpha_dash_space" rows="2" name="house_address" required="" id="house_address" maxlength="200" aria-required="true"></textarea>
</div>
</div>
</div>
</div>

<div class="container mt-5">
    <div class="tab-pane active smooth-load p-5 " id="tab2" style="background-color:white	;">
<div class="row">
<div class="col-md-12 text-center p-1 mb-4" style="border:10px double #F8F8FF; background-color:transparent;">
<h3>House Rent Allowance</h3>
</div>
</div>
<div class="row ">
        <div class="col-md-4 col-sm-6 col-xs-12 form-group">
        <label for="rent_paid">Rent paid to Landlord (Yearly)</label>
        <input type="text" name="rent_paid" value="" id="rent_paid" maxlength="100" required="" class="form-control name" placeholder="Rent paid to Landlord" aria-required="true">
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12  form-group">
        <label for="landlord_name">Name of Landlord </label>
        <input type="text" name="landlord_name" value="" class="form-control pan_optional " required="" id="landlord_name" maxlength="10" placeholder="Name of Landlord" aria-required="true">
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12  form-group">
        <label for="evidence_particulars">Evidence Particulars </label>
        <input type="text" name="evidence_particulars" value="" class="form-control name" required="" id="evidence_particulars" maxlength="125" placeholder="Evidence Particulars" aria-required="true">
        </div>
</div>
<div class="row">
<div class="col-md-8 col-sm-6 col-xs-12  form-group">
<label for="hra_landlord_address">Address of Landlord</label>
<input type="text" name="hra_landlord_address" value="" class="form-control alpha_dash_space valid" id="hra_landlord_address" maxlength="200" placeholder="Address of Landlord">
</div>
<div class="col-md-4 col-sm-6 col-xs-12  form-group">
<label for="hra_landlord_pan">
PAN of Landlord
<!--<i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" data-original-title="If the aggregate rent paid during the year exceeds one lakh rupees, its compulsory to give the PAN of the landlord."></i>-->
</label>
<input type="text" name="hra_landlord_pan" value="" class="form-control pan_optional uppercase hra_pan_required_above_lakh valid" id="hra_landlord_pan" maxlength="10" placeholder="PAN of Landlord">
</div>
</div>

    </div>
</div>

<div class="container mt-5">
    <div class="tab-pane active smooth-load p-5 " id="tab3" style="background-color:white	;">
        <div class="row">
<div class="col-md-12 text-center p-1 mb-4" style="border:10px double #F8F8FF; background-color:transparent;">
<h3>Leave Travel Concessions </h3>
</div>
</div>
        <div class="row">
<div class="col-md-6 col-sm-6 col-xs-12  form-group">
<label for="lta_amount">Amount (Your total expenditure on travel)</label>
<input type="number" name="lta_amount" value="" min="0" max="100000000" step="1" class="form-control valid" id="lta_amount" placeholder="Amount">
</div>
<div class="col-md-6 col-sm-6 col-xs-12  form-group">
<label for="lta_evidence">Evidence of expenditure</label>
<input type="text" name="lta_evidence" value="" class="form-control alpha_dash_space valid" id="lta_evidence" maxlength="200" placeholder="Evidence of expenditure">
 </div>
</div>
    </div>
</div>

<div class="container mt-5">
    <div class="tab-pane active smooth-load p-5 " id="tab4" style="background-color:white	;">
      <div class="row">
<div class="col-md-12 text-center p-1 mb-4" style="border:10px double #F8F8FF; background-color:transparent;">
<h3>Interest on Home Loan</h3>
</div>
</div>
        <div class="row">
<div class="col-md-4 col-sm-6 col-xs-12  form-group">
<label for="home_loan_interest_payable"> Interest payable</label>
<input type="number" name="home_loan_interest_payable" value="" min="0" max="100000000" step="1" class="form-control valid" id="home_loan_interest_payable" placeholder="Interest payable">
</div>
<div class="col-md-4 col-sm-6 col-xs-12  form-group">
<label for="home_loan_lender_name">Loan Provider</label>
<input type="text" name="home_loan_lender_name" value="" class="form-control name valid" id="home_loan_lender_name" maxlength="100" placeholder="Name of Individual or Organization">
</div>
<div class="col-md-4 col-sm-6 col-xs-12  form-group">
<label for="home_loan_lender_pan"> PAN of Lender</label>
<input type="text" name="home_loan_lender_pan" value="" class="form-control pan_optional uppercase valid" id="home_loan_lender_pan" maxlength="10" placeholder="PAN of Lender">
</div>
</div>
        <div class="row">
<div class="col-md-8 col-sm-6 col-xs-12  form-group">
<label for="home_loan_lender_address">Address of Loan Provider</label>
<input type="text" name="home_loan_lender_address" value="" class="form-control alpha_dash_space valid" id="home_loan_lender_address" maxlength="200" placeholder="Address of Lender">
</div>
<div class="col-md-4 col-sm-12 col-xs-12  form-group">
<label for="home_loan_lender_evidence">Evidence</label>
<input type="text" name="home_loan_lender_evidence" value="" class="form-control alpha_dash_space valid" id="home_loan_lender_evidence" maxlength="200" placeholder="IntrstCerti.Of Bank/Yearly/HomeLoanstmt">
</div>
</div>
    </div>
</div>

<div class="container mt-5">
    <div class="tab-pane active smooth-load p-5 " id="tab5" style="background-color:white	;">
   <div class="row">
       <div class="col-md-12 text-center p-1 mb-4" style="border:10px double #F8F8FF; background-color:transparent;">
            <h3>Deductions Under Chapter VI - A</h3>
            </div>
            </div>
<div class="row">
<div class="col-md-12 col-sm-6 col-xs-12 ">
<h5><strong> 1. Deductions under Sec 80C </strong> </h5>
</div>
</div>
<div class="row item item-1">
            <div class="col-md-4 col-sm-12 col-xs-12  form-group">
            <label for="dedn_eighty_c_1"> &nbsp;</label>
            <select name="dedn_eighty_c[1]" class="form-control " id="dedn_eighty_c_1">
            <option value="" selected="selected">Select</option>
            <option value="Life Insurance Premium">Life Insurance Premium</option>
            <option value="Investment in Tax Saving Fixed Deposit">Investment in Tax Saving Fixed Deposit</option>
            <option value="Investment in Tax Saving Mutual Fund">Investment in Tax Saving Mutual Fund</option>
            <option value="Investment in PPF (Public Provident Fund)">Investment in PPF (Public Provident Fund)</option>
            <option value="Childrens Tuition Fees">Childrens Tuition Fees</option>
            <option value="Principal repayment of Home Loan">Principal repayment of Home Loan</option>
            <option value="Others">Others</option>
            </select>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12  form-group">
            <label for="dedn_eighty_c_amount_1">Amount</label>
            <input type="number" name="dedn_eighty_c_amount[1]" value="" min="0" max="100000000" step="1" class="form-control valid" placeholder="Amount" id="dedn_eighty_c_amount_1">
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12  form-group">
            <label for="dedn_eighty_c_evidence_1">Evidence</label>
            <input type="text" name="dedn_eighty_c_evidence[1]" value="" class="form-control alpha_dash_space valid" placeholder="Evidence" id="dedn_eighty_c_evidence_1">
            </div>
            </div>
<div class="row mt-5">
<div class="col-md-12 col-sm-12 col-xs-12 ">
<h5><strong> 2. Other Deductions </strong> </h5>
</div>
</div>
<div class="items">
<div class="row item item-2">
<div class="col-md-4 col-sm-12 col-xs-12  form-group">
<label for=""> &nbsp;</label>
<select name="dedn_other[1]" class="form-control " id="dedn_other_1">
<option value="" selected="selected">Select</option>
<option value="Sec 80CCC - Deduction for contribution to Certain Pension Funds">Sec 80CCC - Deduction for contribution to Certain Pension Funds</option>
<option value="Sec 80CCD - Contribution to NPS">Sec 80CCD - Contribution to NPS</option>
<option value="Sec 80D - Deduction for Health Insurance Premium">Sec 80D - Deduction for Health Insurance Premium</option>
<option value="Sec 80DD - Deduction for Dependent Disabled">Sec 80DD - Deduction for Dependent Disabled</option>
<option value="Sec 80E - Deduction for Interest on Eductaion Loan">Sec 80E - Deduction for Interest on Eductaion Loan</option>
<option value="Sec 80G - Deduction for Donations">Sec 80G - Deduction for Donations</option>
</select>
</div>
<div class="col-md-4 col-sm-6 col-xs-12  form-group">
<label for="">Amount</label>
<input type="number" name="dedn_other_amount[1]" value="" min="0" max="100000000" step="1" class="form-control valid" placeholder="Amount" id="dedn_other_amount_1">
</div>
<div class="col-md-4 col-sm-6 col-xs-12  form-group">
<label for="">Evidence</label>
<input type="text" name="dedn_other_evidence[1]" value="" class="form-control alpha_dash_space valid" placeholder="Evidence" id="dedn_other_evidence_1">
</div>
</div>
<div class="row">
</div>
</div>
        <hr>
        <center><button type="submit" class="btn btn-success mt-3 pl-5 pr-5">Next</button></center>
    </div>
</div>

<div class="container-fluid">
     <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 mt-4 mb-4" style=" background-color:#485461; height:auto;  ">
             <div class="text-center p-3" style="color:white; font-size:28px;">
                 Get to know More about <strong >'Form 12BB' </strong>here
             </div>
         </div>
     <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 pt-3" style="background-color:white; width:auto;" >
        <h4 class="pt-3">What is Form-12BB ?</h4>
        <div class="row">
        <div class="col-lg-7 col-sm-12 col-md-12 col-xs-12 ">
            <p style="font-size:20px;">
                The Form 12BB is the form that you fill and give to your employer - not to the Income Tax Department - so that your employer can figure how much income tax is to be deducted from your monthly pay.
                Basically , it contain the details related to tax deductible expenses and investments which would be done by you during the current F.Y.
Generally you fill out a form 12BB when you start a new job or in the beginning of the financial year. However, at the year end you are supposed to submit the actual proofs/evidences against the tax exemptions ,investments and expenses already claimed by you in the form 12BB.
Previously there was no standard format for declaring your tax deductible expenses and investments. With effect from 1st June 2016, Income tax department has introduced a standard format of Form 12BB.The Form 12BB is the form that you fill and give to your employer - not to the Income Tax Department - so that your employer can figure how much income tax is to be deducted from your monthly pay.
Basically , it contain the details related to tax deductible expenses and investments which would be done by you during the current F.Y.
Generally you fill out a form 12BB when you start a new job or in the beginning of the financial year. However, at the year end you are supposed to submit the actual proofs/evidences against the tax exemptions ,investments and expenses already claimed by you in the form 12BB.
Previously there was no standard format for declaring your tax deductible expenses and investments. With effect from 1st June 2016, Income tax department has introduced a standard format of Form 12BB.
            </p>
        </div>
            <div class="col-lg-5 col-sm-12 col-md-12 col-xs-12 ">
            <img src="static/images/form12bb.jpg" width="100%">
        </div>

        </div>
        <hr>
         <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <h4>What is the purpose of Form 12BB ?</h4>
                <p>The Income Tax law gives powers to your employer to give you benefit of all the tax deductible expenses and investments made by you during the year at the time of deducting your income tax from your monthly paycheck.
                    However, just one condition is there , this benefit is provided to only those employees who submit their declaration / proofs of income tax deductions in Form 12BB are eligible for this benefit.Thus,Employees must complete this form so that their employers can know how much income tax
                    needs to be deducted from their monthly paycheck and, in turn, how much money they will take home with each paycheck.
                </p>
            </div>
         <hr>
         <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <h4>What are the things to be done before filling Form 12BB ?</h4>
                <ol>
                    <li>Study your CTC structure carefully to know, whether HRA or LTA are a part of your package.You can claim these allowances only
                        when your employer explicitly makes them a part of your CTC structure.</li>
                    <li>Go to your bank or download online your interest certificate and loan repayment schedule of your home
                        loan and your bank account statement.</li>
                    <li>Assemble all your receipts for all the income tax deductible expenses and investments done by you like Rent receipts,
                        LIC premium receipt, tuition fees receipts, donation receipts etc.</li>
                </ol>
            </div>
         <hr>
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <h4>How to fill Form 12BB ?</h4>
          <p>Filling tax forms can be a nightmare for many of us. However, filing Form 12BB isn’t as scary as it might look.
              So,let’s just get down with it!
              Just follow these instructions to understand and fill the complete form to claim maximum tax benefit.
              Now Let's Discuss each part one by one in detail</p>
          <div class="container-fluid" style="background-color:#87CEFF">
              <div>
              <div class="p-2" style="background-color:#485461;font-size:25px;color:white">
                  I. Personal Details :
              </div>
              <div>
                  <p>This is the first section of Form 12BB, you need to mention your :</p>
                  <ol>
                      <li>Full Name</li>
                      <li>Address</li>
                      <li>Permanent Account Number(PAN)</li>
                      <li>Financial year (Current Financial Year)</li>
                  </ol>
              </div>
              </div>
              <div>
              <div class="p-2" style="background-color:#485461;font-size:25px;color:white">
                  II. HRA(House Rent Allowance) : :
              </div>
              <div>
                  <p>For claiming HRA tax exemption, you need to submit the following details to your employer -</p>
                  <ol>
                      <li>Amount of Rent paid</li>
                      <li>Name of your landlord</li>
                      <li>Address of your landlord</li>
                      <li>PAN No of your landlord in case the total amount of rent paid during the year exceeds Rs.1 lakh.</li>
                  </ol>
              </div>
                  <hr>
                  <p>In Addition, you also need to submit the proof for claiming HRA tax exemption .</p>
                  <ol>
                      <li> Evidence/Proof for claiming House Rent Allowance tax exemption:</li>
                  <p>The proof for claiming HRA tax exemption are the monthly rent receipts.
                      In many organisations, employer also ask for the rent agreement for allowing HRA tax exemption.</p>
                      <li>Amount of tax saving on House Rent Allowance(HRA):</li>
                      <p>This is the best tax saving avenue.Calculate your HRA tax exemption with our free HRA exemption calculator tool.</p>
                      <li>Things to remember when claiming HRA tax exemption :-</li>
                      <ul style="line-height:180%;list-style-type: disc;">
                          <li>You can claim HRA tax exemption only when HRA is a part of your CTC.</li>
                          <li>Incase, HRA is not a part of your CTC and you are living in a rented house you can claim tax benefit under section 80GG.</li>
                          <li>Rent receipt is required only when your monthly rent exceeds Rs. 3,000.</li>
                          <li>You can’t claim HRA if you are living in your own house.
                          <li>If you are paying rent to your parents, then ask them to show it as their income at the time of filing their Income Tax Return.</li>
                          <li>Never submit fake rent receipts, this might land you in big trouble with the income tax authorities.</li>
                          <li>Even if your employer do not ask for rent agreement, it is advisable to have a formal rent agreement printed on Rs.
                              500 stamp paper or as per the rate prevailing in your state for records</li>
                      </ul>
                  </ol>
              </div>
              <div>
              <div class="p-2" style="background-color:#485461;font-size:25px;color:white">
                  III.  LTA(Leave Travel Concession/Allowance):
              </div>
              <div>
                  <p>This allowance is one and the only allowance that helps saves tax only when you take a holiday.</p>
                  <ol>
                      <li>Evidence/Proof for claiming LTA tax exemption:</li>
                      <p>To claim LTA, employees need to submit travel bills like boarding passes, flight tickets,
                          invoice of travel agent, boarding pass etc. to employer.</p>
                      <li> Amount of tax saving on LTA :</li>
                      <p>This tax exemption is allowed only on actual travel cost to the extend specified in CTC .
                          The fare is exempt as per the following conditions</p>
                      <style>
                          td,  th {
                           border: 1px solid #ddd;
                           padding: 8px;
                           }

                      </style>
                      <table style="border:1px solid" class="mb-2">
                          <tr>
                              <th>Travel Mode</th><th>Exempt Amount</th>
                          </tr>
                          <tr>
                              <td>Air</td><td>Air fare of economy class in the National Carrier by the shortest route or the amount spent, whichever is less</td>
                          </tr>
                          <tr>
                              <td>Rail</td><td>Air-conditioned first class rail fare by the shortest route or the amount spent, whichever is less</td>
                          </tr>
                          <tr>
                              <td>Bus</td><td>First Class or deluxe class fare by the shortest route or the amount spent, whichever is less</td>
                          </tr>
                          <tr>
                              <td>Unrecognised public transport system</td><td>Air conditioned first class rail fare by shortest route or the amount spent, whichever is less</td>
                          </tr>
                      </table>
                      <li> Things to remember when claiming LTA tax exemption </li>
                      <ul style="line-height:180%;list-style-type: disc;">
                          <li>You can claim LTA only when it is a part of your CTC.</li>
                          <li>You can claim LTA for yourself, your spouse, children,dependent parents and dependent brother and sister.</li>
                          <li>It can be claimed twice in a block of four years. The current block is 2014-2017.</li>
                          <li>If you have claimed only 1 LTA in the previous block of 4 years, you can carry forward and utilise the 2nd LTA
                              but have to claim it in the first year itself of the next block.</li>
                          <li>It is allowed for domestic travels and not for international travels.</li>
                      </ul>

                  </ol>
              </div>
              </div>
              <div>
              <div class="p-2" style="background-color:#485461;font-size:25px;color:white">
                  IV.  Deduction of Interest on Borrowing :
              </div>
              <div>
                  <p>Deduction of interest on borrowings on home loan is allowed under section 24 of the income tax laws. You can claim deduction for interest
                      on your home loan taken for construction,reconstruction, repair, purchase or renovation.</p>
                  <p>The information needs to be filled in the Form 12BB are:</p>
                  <ul style="line-height:180%;list-style-type: disc;">
                          <li>Interest Payable/paid to the lender during the financial year</li>
                          <li>Name of the lender from whom loan is taken.</li>
                          <li>Address of the lender</li>
                          <li>PAN of the lender: Financial Institutions/Employer/Others, from whoever the loan is taken</li>
                      </ul>


                  <ol>
                      <li> Evidence/Proof for Claiming tax exemption for interest on borrowing:</li>
                          <p>Documents required to claim deduction u/s 24B on interest payment of home loan are:</p>
                           <ul style="line-height:180%;list-style-type: disc;">
                              <li>Statement / Certificate stating total EMI paid along with Interest and Principal components.</li>
                              <li>Possession/construction completion certificate</li>
                              <li>Self-declaration from employee whether house is self occupied or let out.</li>
                          </ul>
                      <hr>
                      <li> Amount of saving on Home Loan :</li>
                          <ol type = "a">
                              <li> Tax benefits on payment of interest :</li>
                                  <p>If you are paying interest on home loan, then quantum of deduction will depend on the type of house property. Let’s discuss the same in detail.</p>
                                  <p>Tip : Claiming deduction on interest payment shall result in a loss under head house property. This loss can be adjusted against income from other heads in the current year subject to the limit of Rs. 2 lakh.</p>
                                  <ol type = "I">
                                      <li> Tax benefit in case you have self-occupied property (SOP):</li>
                                      <p>Maximum interest of Rs. 2, 00, 000 is allowable in case loan is taken for purchase or construction of your house. Such benefit shall reduced to Rs. 30, 000 in case loan is taken for repair/ reconstruction. Further, construction or purchase
                                          must be completed within 5 years from end of F.Y. in which loan is taken.</p>
                                      <hr>
                                      <li>Tax benefits in case you have rented out(let-out) the property (LOP) :</li>
                                      <p>The entire interest amount that you pay towards the loan is available as deduction in case of rented property.
                                          Such amount shall be deducted from the rental income for the year</p>
                                  </ol>
                              <li>b. Tax benefits on repayment of Principal Amount :</li>
                                <p>In both the cases whether there is self-occupied property or rented property, principal amount repayment is eligible to be claimed under Sec 80C of the income tax act. A maximum of Rs. 1.5 lakh can be claimed under Sec. 80C for the principal amount.
                                    (Max. limit of claiming all deductions under 80c is 1.5 lakh.So, plan accordingly.)</p>
                          </ol>
                      <hr>
                      <li>Things to remember when claiming Interest on Home Loan tax exemption :</li>
                            <ul style="line-height:180%;list-style-type: disc;">
                              <li>Incase, you have taken a home loan jointly then you can claim benefit of the interest deduction proportionately..</li>
                              <li>If you have taken home loan from a lender other than bank i.e. your friends, relatives or any money lender the interest payment can be claimed as a deduction under section 24.
                                  Provided you take a certificate of interest from the person to whom you had paid interest.</li>
                              <li>Where loan is taken from your friends, relatives or any money lender i.e.
                                  other than banks the repayment of principal is not eligible for deduction under section 80C.</li>
                          </ul>


                  </ol>
              </div>
              </div>
              <div>
              <div class="p-2" style="background-color:#485461;font-size:25px;color:white">
                  V.Deductions under Chapter VI-A
              </div>
              <div>
                  <p>Chapter VI-A covers income tax deduction under various sections like 80C, 80D (Medical insurance) 80G (Donation) etc.
                      To claim deduction, evidence of investment made or expenditure incurred is required.
                      You might be wondering what kind of proofs are required to submitted to claim these deductions.
                      Don’t Worry, we are here to help you.</p>
              </div>
              </div>
              <div>
              <div class="p-2" style="background-color:#485461;font-size:25px;color:white">
                  VI. Verification
              </div>
              <div>
                  <p>The last section of the Form 12BB is the “verification” of the information submitted in the Form 12BB.
                      You need to just enter your name along with the name of your father/mother and
                      the place(city in which you are filling the form) and date of filing the form and then sign the form.
                      Done!
                      Easy isn’t it!</p>
              </div>
              </div>
          </div>
      </div>
         <hr>
        <h4 class="pt-3">How to Fill out Form 12BB when you changed the jobs ?</h4>
         <p>If you have changed the jobs during a particular year then do not claim
             the maximum benefit of all the deductions with both the employers, otherwise your TDS deduction will
             not be correct and ultimately at the time of filing your Income Tax Return you will have to end up with paying
             tax to the Income
             Tax Department with applicable penal interest for late payment of taxes.</p>
         <hr>
         <h4>What happens if you accidentally forget to give your employer your Form 12BB ?</h4>
         <p>In case you forgot to submit form 12BB to your employer within the prescribed time, the employer will not be able to give you benefit of deductions and other tax exemptions. As a result, excess TDS will be deducted from your monthly salary.
             However, you can claim refund of such excess TDS while filing your income tax return.</p>
         <hr>
         <h4>How to claim for perquisites that are not covered in the Form 12BB ?</h4>
         <p>Perquisites are claimed in Form 12BA and not Form 12BB. Form 12BA is a statement showing particulars of perquisites,
             other fringe benefits or amenities and profits in lieu of salary with value thereof.</p>
         <hr>
         <h4>How will I show the additional investments which an individual misses to declare in the Form 12BB ?</h4>
         <p>The additional investments which an individual had missed and not declared in Form 12BB can be claimed while filing return. Although, excess TDS will be deducted from his salary during the year,
             however he can claim refund of the same in his ITR.</p>
         <hr>
         <h4>I made declaration in January for making investments in March, But did not submit to my employer.
             What are the consequences of declaring investments but not submitting the proofs?</h4>
         <p>If you have not submitted proof of some investments which you have declared in Form 12BB then those would not be considered by your employer.
             Resultantly , TDS would be calculated ignoring those proofless investments.</p>
     </div>
</div>
{% endblock %}