{% extends 'navbar.html' %}
{% block content %}
<style>
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
</style>

<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 text-center pt-3" >
  <h2 style="" class="p-3">Tell Us About Your Income</h2>
</div>

<div class="col-lg-8 col-md-12 col-xs-12 col-sm-12 pt-3" style="margin:auto;" >

  <h5 class="text-center p-3 mb-3" style="font-size:180%;background:white;" >You Have Income from ?</h5>
  <hr>
<div class="row" style="margin:auto;">
<label class="col-lg-4 container">INDIA
  <input type="radio" checked="checked" name="incomefrom" value="india">
  <span class="checkmark"></span>
</label>
<label class="col-lg-4 container">NRI
  <input type="radio" checked="checked"  name="incomefrom" value="nri">
  <span class="checkmark"></span>
</label>
<label class="col-lg-4 container">INDIA & OUTSIDE
  <input type="radio" checked="checked"  name="incomefrom" value="na">
  <span class="checkmark"></span>
</label>

</div>
</div>
<hr>

<div class="col-lg-8 col-md-12 col-xs-12 col-sm-12 pt-3" style="margin:auto;" >
  <h5 class="text-center p-3 mb-3" style="font-size:180%;background:white;" >Do You Have Salary Income ?</h5><hr>
<div class="row" style="margin:auto;">
<label class="col container">One Employer
  <input type="radio" checked="checked" name="salaryincome" value="one_employer">
  <span class="checkmark"></span>
</label>
<label class="col container">Multiple Employer
  <input type="radio" checked="checked"  name="salaryincome" value="multiple_employer">
  <span class="checkmark"></span>
</label>
<label class="col container">N/A (Not Applicable)
  <input type="radio" checked="checked" name="salaryincome" value="na">
  <span class="checkmark"></span>
</label>

</div>
</div>
<hr>

<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 pt-3" style="margin:auto;" >
  <h5 class="text-center p-3 mb-3" style="font-size:180%;background:white;" >Do You Have Business Income  ?</h5><hr>
<div class="row" style="margin:auto;">
<label class="col-lg container">Small (less than 2 Crores)
  <input type="radio" checked="checked" name="business_income" value="small">
  <span class="checkmark"></span>
</label>
<label class="col container">Freelancer/Professional(upto 50 Lakhs)
  <input type="radio" checked="checked" name="business_income" value="freelancer" >
  <span class="checkmark"></span>
</label>
<label class="col container">N/A (Not Applicable)
  <input type="radio" checked="checked" name="business_income" value="na">
  <span class="checkmark"></span>
</label>

</div>
</div>
<hr>

<div class="col-lg-8 col-md-12 col-xs-12 col-sm-12 pt-3" style="margin:auto;" >
  <h5 class="text-center p-3 mb-3" style="font-size:180%;background:white;" >Do You Have Own House ?</h5><hr>
<div class="row" style="margin:auto;">
<label class="col-lg container">One House
  <input type="radio" checked="checked" name="own_house" value="one_house">
  <span class="checkmark"></span>
</label>
<label class="col container">Multiple House
  <input type="radio" checked="checked" name="own_house" value="multiple_house">
  <span class="checkmark"></span>
</label>
<label class="col container">No ,Don't Have
  <input type="radio" checked="checked" name="own_house" value="no">
  <span class="checkmark"></span>
</label>

</div>
</div>
<hr>

<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 pt-3" style="margin:auto;" >
  <h5 class="text-center p-3 mb-3" style="font-size:180%; background:white;" >Do You Income From Capital Gains ?</h5><hr>
<div class="row" style="margin:auto;">
<label class="col-lg container">Sold House/Property/Land,Etc.
  <input type="radio" checked="checked" name="capital_gains" value="sold_house">
  <span class="checkmark"></span>
</label>
<label class="col container">Sold Shares/Mutual funds ,etc
  <input type="radio" checked="checked" name="capital_gains" value="sold_shares">
  <span class="checkmark"></span>
</label>
<label class="col container">Not Specified /Other
  <input type="radio" checked="checked" name="capital_gains" value="not_specified" >
  <span class="checkmark"></span>
</label>

</div>
</div>
<hr>
<center><button type="submit" class="btn btn-success pl-5 pr-5"> Proceed</button></center>


{% endblock %}