
{% extends 'navbar.html' %}
{% block content %}


<style>
    #curtain{
      position: absolute;
    top: 70%;
    left:600px;
    right: 10px;
    bottom: 0;
    z-index: 2;
    border-radius:50%;
    border-width:2px;
}
.parent{
      display: inline-block;
    position: relative;
      }

   .centerbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

</style>
<script>
    function goto(url)
    {
    window.location=url;

    }
    </script>
<form method="post">
    {% csrf_token %}
<div class=" container-fluid " id="regis">
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center my-2">
        <div  style="background-color:tranparent;  ">
            <h5> Hire smartest online CA to</h5>
            <strong style="color:green; font-size:30px">File Your Income Tax Return</strong>
            <h5>and get maximum refunds.</h5>
        </div>
    </div>
    <div class="row" >
        <div class="col-lg-6 col-sm-12 col-xs-12 col-md-6 ">
            <img src="static/images/getca.png" width="80%">
        </div>
        <div class="col-lg-6 col-sm-12 col-xs-12 col-md-6 h " >
          <div class="row my-3 px-3 mr-2"  style="background-color:white;height:480px; ">
                <div class="col-md-12 col-sm-12   col-xs-12">
                    <div class="centerbutton">
                        <a class="btn btn-primary" style="background: #3B5998;color: white;" href="#!" role="button">
                        <i class="fab fa-facebook me-2"></i> Facebook</a>
                        <a class="btn " style=" background: #ff5500; color: white;" href="#!" role="button">
                        <i class="fab fa-google me-3"></i> Google</a>
                    </div>
                <div class="my-2"><h4 class="text-center ">Register</h4><hr></div>
                <div>
                    <div class="my-3">
                    <input  type="text" name="full_name"  class="form-control form-control-md " placeholder="Full Name" aria-required="true">
                    </div>
                    <div class="my-3">
                    <input type="email" name="email" class="form-control form-control-md " placeholder="Email Address" aria-required="true">
                    </div>
                    <div class="my-3">
                    <input type="text" name="mobile_no" class="form-control form-control-md mobile_no onflyfields" placeholder="Mobile Number" aria-required="true">
                    </div>
                </div>
                    <div class="my-4 centerbutton">
                        <button type="submit"  class="btn btn-success ">Hire your Personal eCA Now</button>
                    </div>
            </div>
           </div>
        </div>
    </div>
</div>

</form>

<div class="container-fluid my-4 text-center" style="background-color:#fffafa;">
    <p style =" font-size:40px; color:green;" class="pt-2"></p>
        <p style="font-size:20px;" class="p-3">
             Get your personal eCA to do tax filing for you. And it is personal, convenient & fast with maximum refund calculated for you.
            TaxPro eCA's focus on filing accurate returns, avail maximum deductions and getting maximum tax refunds.
    </p>
</div>

<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center pt-4 ">

            <h2 style="color:green;">CA Assisted Filing of ITR</h2>
            <hr>
            <p style="font-size:20px;">
                File your Income Tax Return with confidence and ease, at the comfort of your home.<br>
       We empower you to hire some of the best tax experts in India at a nominal cost.
       TaxPro eCA's focus on filing accurate returns, avail maximum deductions and getting maximum tax refunds.
       We spend 2,40,000 minutes every month doing taxes.
       <br>Leave us to do the hard work in solving your biggest problem - Taxes.
            </p>
            <hr>

        </div>
         <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
             <img src="static/images/taxtime.jpg" width="100%">
         </div>
    </div>
</div>

<div class="container-fluid pt-5">

<div class="row mb-2 mt-4 ">
 <div class="parent">
<div class="flex-auto d-md-block d-none text-center p-4" id="curtain" style="width:150px; background-color:white; height:150px" ><h4>
How It Works <br>?
  </h4></div>
    </div>
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
              <img class="card-img-right flex-auto d-md-block"
                   style="width: 220px; height: 250px;"  src="static/images/catax.png">
            <div class="card-body d-flex flex-column align-items-start">

              <h4 class="mb-0">
                <p class="text-center" style="color:#52D017;" >Hire your personal eCA & Upload the Documents</p>
              </h4>
              <p class="card-text text-center mb-auto">Everything you’ve loved about a CA, you’ve had all in one place. For this, all you
need to do is just enter your name, email & phone no. Make a payment of our
professional fees and get your personal eCA. </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                 <h4 class="mb-0">
                <p class="text-center" style="color:#52D017;" >eCA Reviews Your Documents & Calls You</p>
              </h4>
              <p class="card-text text-center mb-auto">Every Document is thoroughly studied for it’s accuracy and completeness. Further,
the eCA will then call you to discuss your income, investments & deductions to help
you get the maximum refund.
 </p>
              </div>
                            <img class="card-img-right flex-auto d-md-block"
                   style="width: 220px; height: 250px;"  src="static/images/clipboard.png" data-holder-rendered="true">

          </div>
        </div>
      </div>

<div class="row mb-2 mt-4 ">
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
              <img class="card-img-right flex-auto  d-md-block"
                   style="width: 300px; height: 250px;"  src="static/images/relax.png" data-holder-rendered="true">
            <div class="card-body d-flex flex-column align-items-start">

               <h4 class="mb-0">
                <p class="text-center" style="color:#52D017;" >Relax & Leave All Hardwork to us</p>
              </h4>
              <p class="card-text text-center mb-auto">Leave all the hard work on us, to maximise deductions and save taxes for you. We
know everything about the tax laws applicable on you. We also check Form 26AS
with the Department to get you the max. benefit of your TDS.  </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
 <h4 class="mb-0">
                <p class="text-center p-2" style="color:#52D017;" >You Approve And We File</p>
              </h4>
              <p class="card-text text-center mb-auto">A detailed summary of your Income Tax Return is sent to you for your approval.Once approved, we file it for you.</p>
            </div>
                            <img class="card-img-right flex-auto d-md-block"
                   style="width: 220px; height: 250px;"  src="static/images/approve.png" data-holder-rendered="true">

          </div>
        </div>


      </div>
    </div>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center pt-4">

        </div><div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center pt-4">

        </div>
        </div>
</div>

<div class="container-fluid mb-4 col-lg-12 col-sm-13 col-md-12 col-xs-12" style="height:80px ;background-color:#00ace6;">
<div class="centerbutton pb-3" >
  <input type="button" class="p-2 pl-4 pr-4" style=" border-radius:15% ;font-size:20px;"  value="Proceed" onclick="goto('#regis')">
</div>
</div>

{% endblock %}