{% extends 'navbar.html' %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--form-->
<div class="container-fluid" style="background:;">
    <div class="row" style="background:#B0E2FF;">
       <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" >
          <div class="text-center mt-4" style="color:#236B8E;"><h1>GST Return Filing</h1></div>
           <hr>
           <p style="font-size:120%;">A GST Return showcases the details of your purchase, tax paid on purchases, sales, and tax collected on
               sales. As a seller or service provider, it is mandatory to register for the GST if your business has a
               turnover of above ₹40 lakhs (if you sell physical goods) or more than ₹20 lakhs (if you supply services).
           </p>
           <div class="row ">
               <div class="col mt-5">
                   <a href="#gstr1" class="btn btn-outline-success btn-block pl-4 pr-4" style="font-size:20px;color:black"> GSTR - 1</a>
               </div>
               <div class="col mt-5">
                   <a href="#gstr3b" class="btn btn-outline-success btn-block pl-4 pr-4" style="font-size:20px;color:black"> GSTR - 3B</a>
               </div>
           </div>
       </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-4">
            <form enctype="multipart/form-data" method="post">
            <div id="refundform" class="col-lg-12 col-sm-12 col-md-12 col-xs " style=";">
            <div class=" col-lg-12 col-md-12 col-sm-12  col-xs-12 pl-0  ">
                <div style="background-color:white ;margin-left:40px; margin-top:40px; padding:50px;" >
                 <div class="my-3">
                 <input type="email" name="email" class="form-control form-control-md " placeholder="Email Address" aria-required="true">
                 </div>
                 <div class="my-3">
                    <input type="text" name="mobile_number" class="form-control form-control-md " placeholder="Mobile Number" aria-required="true">
                </div>
                   <div class="my-3 row">
                       <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 ">
                           <select class="form-select form-select-lg mb-3 form-control" aria-label=".form-select-lg example">
                                  <option selected>Select City</option>
                                  <option value="1">Pune</option>
                                  <option value="2">Aurangabad</option>
                                  <option value="3">Nashik</option>
                                  <option value="3">Mumbai</option>
                                </select>
                       </div>
                       <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 ">
                           <select class="form-select form-select-lg mb-3 form-control" aria-label=".form-select-lg example">
                                  <option selected>Select Language</option>
                                  <option value="1">English</option>
                                  <option value="2">Marathi</option>
                                  <option value="3">Hindi</option>
                                </select>
                       </div>
                   </div>
                    <div class="">
                        <center> <input type="submit" value="Add to Cart" class="btn btn-success"></center>
                    </div>
                </div>
            </div>
        </div>

            </form>
       </div>
    </div>
</div>
<!--steps-->
<div class="container-fluid mb-5">
    <div class="p-2 mt-4 text-center">
        <h2>How To File GST Return Online In India?</h2>
        <p>Get your GST return filing done every month and every year at the most competitive price</p>
        <hr>
    </div>
    <div class="container" >
        <div class="card-deck mb-3">
            <div class="card text-center" >
    <a class="pt-3" style=" background: white; color: #3B5998;"  href="#!"
             role="button" ><i class="far fa-envelope fa-3x" ></i></a>
      <div class="card-body" style="border-radius:50%">
      <p class="card-text">We collect all the necessary information and documents from you <br><br></p>
<h6  style="background:yellow" class="p-2 card-text">Step 1</h6>    </div>
  </div>
            <div class="card text-center">
    <a class="btn  btn-lg btn-floating" style=" background: white; color: #3B5998; border-radius: 50%;" href="#!"
             role="button" ><i class="fa fa-phone " style="font-size:48px;" ></i></a>
    <div class="card-body">
      <p class="card-text">Our professionals can file three monthly and annual return
                    with the GST department. </p>
        <h6 style="background:yellow" class="p-2">Step 2</h6>    </div>

    </div>
            <div class="card text-center">
              <a class="btn  btn-lg btn-floating" style=" background: white; color: #3B5998; border-radius: 50%;" href="#!"
             role="button" ><i class="far fa-file-alt fa-3x"></i></a>
    <div class="card-body">
      <p class="card-text">We offer the best prices and complete the filing in a promised time frame.<br> </p>
        <h6 style="background:yellow" class="p-2">Step 3</h6>    </div>

    </div>
        </div>
    </div>
</div>
<hr>
<div class="" style="margin-left:10%;margin-right:10%">
    <form enctype="multipart/form-data" method="post">
            <div id="" class="col-lg-12 col-sm-12 col-md-12 col-xs " style=";">
            <div class=" col-lg-12 col-md-12 col-sm-12  col-xs-12 pl-0 ">
                <div style="background-color:white ;margin-left:40px; margin-top:40px; padding:50px;" >
                    <h2 class="text-center">File GST Returns</h2>
                 <div class="my-3">
                 <input type="email" name="email" class="form-control form-control-md " placeholder="Email Address" aria-required="true">
                 </div>
                 <div class="my-3">
                    <input type="text" name="mobile_number" class="form-control form-control-md " placeholder="Mobile Number" aria-required="true">
                </div>
                    <div class="">
                        <center> <input type="submit" value="Send Now" class="btn btn-warning pl-5 pr-5"></center>
                    </div>
                </div>
            </div>
        </div>

            </form>
</div>
<hr>
<!--benefits-->
<div class="">
    <div class="text-center mb-3">
        <h3>Benefits of GST Return Filing</h3>
    </div>
    <div class="text-center mt-4">
    <div class="row">
        <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12" style="float:right">
            <ul>
                <li style="background:	#89CFF0"><b>Elimination of the cascading effect</b></li >
                <p>The introduction of GST into the Indian tax system has done away with several other
                    taxes like central excise duty, service tax, customs duty and state level value added tax.
                    Thus a single GST has eliminated the cascading effect of tax on tax .</p>
                <hr>
                <li style="background:	#89CFF0"><b>Higher threshold benefits</b></li>
                <p>Before GST was introduced, VAT or value added tax was applicable for any business that had an
                    annual turnover of 20 lakhs. Services that saw a turnover of less than 10 lakhs did not have
                    to pay service taxes.</p>
            </ul>
        </div>
        <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12" style="float:left">
            <ul>
                <li style="background:	#89CFF0"><b>Startup Benefits</b></li>
                <p>Earlier startups with an annual turnover of 5 lakh had to pay VAT which would be very
                    difficult for a business during the initial stages. But as GST has replaced VAT, businesses
                    can set off the service tax on their sales.</p><hr>
                <li style="background:	#89CFF0"><b>E-commerce for quick supply of goods</b></li>
                <p>Startups are making a strong presence online offering their services and products through their
                    websites. Under VAT, there were many types of VAT laws, and the supply of goods through online,
                    that is, E-commerce was never a well-defined one.</p>
            </ul>
        </div>
    </div>
    </div>
</div>
<hr>
<!--gstr-1-->
<div class="container-fluid mb-5">
    <div class="container p-3" style="background:white;" id="gstr1">
        <center><h2>GSTR-1 – Return Filing,Format</h2></center>
        <hr>
        <div style="margin-left:10%;">
            <h5>What is GSTR-1?</h5>
            <p>GSTR-1 is a monthly or quarterly return that should be filed by every registered GST taxpayer,
                except a few as given in further section. It contains details of all outward supplies i.e sales.
                The return has a total of 13 sections, listed down as follows:</p>
            <ul style="list-style:disc;">
                <li>Tables 1, 2 & 3: GSTIN, legal and trade names, and aggregate turnover in the previous year</li>
                <li>Table 4: Taxable outward supplies to registered persons (including UIN-holders) excluding zero-rated supplies and deemed exports</li>
                <li>Table 5: Taxable outward inter-state supplies to unregistered persons where the invoice value is more than Rs.2.5 lakh</li>
                <li>Table 6: Zero-rated supplies as well as deemed exports</li>
                <li>Table 7: Taxable supplies to unregistered persons other than the supplies covered in table 5 (net of debit notes and credit notes)</li>
                <li>Table 8: Outward supplies that are nil rated, exempted and non-GST in nature</li>
                <li>Table 9: Amendments to outward supplies that are taxable and reported in table 4,5 & 6 of the earlier tax periods’ GSTR-1 return (including debit notes, credit notes, refund vouchers issued during the current period)</li>
                <li>Table 10: Debit note and credit note issued to unregistered person</li>
                <li>Table 11: Details of advances received or adjusted in the current tax period or amendments of the information reported in the earlier tax period.</li>
                <li>Table 12: Outward supplies summary based on HSN codes</li>
                <li>Table 13: Documents issued during the period.</li>
            </ul>
            <h5>Who should file GSTR-1?</h5>
            <p>Every registered person is required to file GSTR-1 irrespective of whether there are any
                transactions during the month or not. For nil GSTR-1 filers, there is a facility to file
                through an SMS that started from the 1st week of July 2020. The following registered persons
                are exempt from filing the GSTR-1:</p>
            <ul style="list-style:disc;">
                <li>Input Service Distributors</li>
                <li>Composition Dealers</li>
                <li>Suppliers of online information and database access or retrieval services (OIDAR), who have to pay tax themselves (as per Section 14 of the IGST Act)</li>
                <li>Non-resident taxable person</li>
                <li>Taxpayer liable to collect TCS</li>
                <li>Taxpayer liable to deduct TDS</li>
            </ul>
        </div>
    </div>
</div>

<!--gstr-3b-->
<div class="container-fluid mb-5">
    <div class="container p-3" style="background:white;" id="gstr3b">
        <center><h2>GSTR-3B – Return Filing,Format</h2></center>
        <hr>
    <div style="margin-left:10%;">
            <h5>What is GSTR 3B?</h5>
            <p>GSTR-3B is a self-declared summary GST return filed every month (quarterly for QRMP scheme).
                It must be filed by a registered taxpayer from July 2017 onwards.</p>
            <ul style="list-style:disc;">
                <li>A separate GSTR-3B must be filed for every GSTIN</li>
                <li>The GST liability must be paid on or before the date of filing GSTR-3B, earlier of its due date</li>
                <li>The GSTR-3B once filed cannot be revised</li>
                <li>Even in case of a zero liability, GSTR-3B must be compulsorily filed</li>
            </ul>
            <h5>Who should file GSTR 3B?</h5>
            <p>Every person who is registered under GST must file GSTR-3B.
                However, the following registrants do not have to file GSTR-3B</p>
            <ul style="list-style:disc;">
                <li>Taxpayers registered under the Composition Scheme</li>
                <li>Input service distributors</li>
                <li>Non-resident suppliers of OIDAR service</li>
                <li>Non-resident taxable persons</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}