{% extends 'navbar.html' %}
{% block content %}

<!--registration div-->
<div class="container-fluid ">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-5 mt-3 ">
        <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="text-center">
            <h3 class="pt-4">GST Registration Online</h3>
            <p><b>Complete Online Document Submission & Application Tracking</b></p>
                </div>
                <ul>
                   <li> <img src="static/images/greentick.png" width="6%">Filing of Application for GST Registration</li>
                    <li><img src="static/images/greentick.png" width="6%">Secure GST Identification Number</li>
                    <li><img src="static/images/greentick.png" width="6%">Dedicated manager to process your GST registration end to end</li>
                    <li><img src="static/images/greentick.png" width="6%">Completely Online – No need to visit office</li>
                    <li><img src="static/images/greentick.png" width="6%">CA Assisted GST Filing for all your GST needs</li>
                </ul>

        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-3 " id="registration" >
            <div class="p-4" style="background:white; border-radius:5%">
                <h3 class="text-center">Get your Business Registered under GST @<b> ₹10</b> Only</h3>
                <form enctype="multipart/form-data" method="post">
    <p style="font-size: 14px;"><b>Email*</b></p>

    <div><input id="txtEmail" class="form-control" style="width: 100%;" autocomplete="off" maxlength="100" name="EmailAddress" required="required" type="email" value="" placeholder=" Email Address "></div>
    <div style="padding-top: 20px;">
    <p style="font-size: 14px;"><b>Phone Number*</b></p>
    <input id="Phone" class="form-control" style="width: 100%;" title="Enter a 10 digit number" autocomplete="off" maxlength="100" name="Phone" pattern="[0-9]{10}" required="required" type="text" value="" placeholder=" Contact Number ">

    </div>
    <div style="padding-top: 20px; text-align: center;"><button id="form-submit-button" class="btn btn-success" style="width: 100%; font-size: 18px;">Buy Now</button></div>
    </form>
            </div>
        </div>
        </div>
    </div>
</div>
<hr>
<!--Nav buttons-->
<div class="container-fluid mb-4 ">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2" style="">
       <div class="row gx-5 ">
         <div class="col">
            <a class="col btn btn-outline-success p-3" href="#who">
                <b> Who Should Register ?</b>
            </a></div>
            <div class="col">
            <a class="col btn btn-outline-success p-3" href="#process">
                <b> GST Registration Process</b>
            </a></div>
            <div class="col">
            <a class="col btn btn-outline-success p-3" href="#rdocuments">
                <b> Required Documents</b>
            </a></div>
            <div class="col">
            <a class="col btn btn-outline-success p-3" href="#penalty">
                <b> Penalty for not registering under GST</b>
            </a></div>
            <a class="col btn btn-outline-success p-3" href="#faqs">
                <b> FAQs</b>
            </a></div>
    </div>
</div>
<!--what is gst regis.-->
<div class="container">
    <div class="" style="background:white">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-2">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2 ">
                    <img src="static/images/gstimage.jpg" width="100%" height="100%" style="background:yellow;">
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2">
                    <img src="static/images/gst2.jpg" width="100%" height="100%">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-2 p-5">
                <h3 class="text-center mb-4 ">What is GST Registration</h3>
                <p>In the GST Regime, businesses whose turnover exceeds Rs. 40 lakhs* (Rs 10 lakhs for NE and hill states) is required to register as a normal taxable person. This process of registration is called GST registration.
                <br><br>For certain businesses, registration under GST is mandatory. If the organization carries on business without registering under GST, it will be an offence under GST and heavy penalties will apply.
                <br><br>GST registration usually takes between 2-6 working days. We’ll help you to register for GST in 3 easy steps.
                <br><br>GST registration usually takes between 2-6 working days. We’ll help you to register for GST in 3 easy steps.
                <br><br>*CBIC has notified the increase in threshold turnover from Rs 20 lakhs to Rs 40 lakhs. The notification will come into effect from 1st April 2019.
                </p>
                <center><div><a href="#registration" class="btn btn-success  pl-5 pr-5">Register Now</a> </div></center>
            </div>
        </div>
    </div>
</div>
<!--Who should register-->
<div id="who" class="container-fluid mt-4">
 <div class="container p-3 " style="background:white;">
<div class="container text-center p-3" style="background:#87CEFA;font-size:30px;">Who Should Register for GST ?</div>
     <div>
         <ul>
             <li><img src="static/images/greentick.png" width="4%">Individuals registered under the Pre-GST law (i.e., Excise, VAT, Service Tax etc.)</li>
             <li><img src="static/images/greentick.png" width="4%">Casual taxable person / Non-Resident taxable person</li>
             <li><img src="static/images/greentick.png" width="4%">Agents of a supplier & Input service distributor</li>
             <li><img src="static/images/greentick.png" width="4%">Those paying tax under the reverse charge mechanism</li>
             <li><img src="static/images/greentick.png" width="4%">Person who supplies via e-commerce aggregator</li>
             <li><img src="static/images/greentick.png" width="4%">Every e-commerce aggregator</li>
             <li><img src="static/images/greentick.png" width="4%">Businesses with turnover above the threshold limit of Rs. 40 Lakhs* (Rs. 10 Lakhs for North-Eastern States, J&K, Himachal Pradesh and Uttarakhand)</li>
         </ul>
     </div>
 </div>
</div>
<!--Process of registration-->
<div id="process" class="container-fluid mt-4">
 <div class="container p-3 " style="background:white;">
<div class="container text-center p-3" style="background:#87CEFA;font-size:30px;">What is process of Registration ?</div>
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <div class="row m-2">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
        <div class="row">
            <div class="card col-lg-4">
                <center><img src="static/images/purchase.png" alt="Avatar" style="width:60%"></center>
                      <div class="container text-center">
                        <p class="mt-3" >Purchase a plan</p>
                      </div>
                    </div>
            <div class="card col-lg-4">
                <center><img src="static/images/expert.png" alt="Avatar" style="width:60%"></center>
                      <div class="container text-center">
                          <center><p class="mt-3">Assign Expert</p></center>
                      </div>
                    </div>
            <div class="card col-lg-4">
                <center><img src="static/images/clipboard.png" alt="Avatar" style="width:60%"></center>
                      <div class="container text-center">
                        <p class="mt-3">Upload Documents</p>
                      </div>
                    </div>
            <div class="card col-lg-4">
                <center><img src="static/images/submit.png" alt="Avatar" style="width:60%"></center>
                      <div class="container text-center">
                        <p class="m-3">Submission on Portal</p>
                      </div>
                    </div>
            <div class="card col-lg-4">
                <center><img src="static/images/numberg.png" alt="Avatar" style="width:60%"></center>
                      <div class="container text-center">
                        <p class="m-3">Generate ARN Number</p>
                      </div>
                    </div>
            <div class="card col-lg-4">
                <center><img src="static/images/rdocs.png" alt="Avatar" style="width:60%"></center>
                      <div class="container text-center">
                        <p class="mt-3" >GSTIN Received</p>
                      </div>
                    </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
        <p style="font-size:20px" class="m-4">The Goods And Services Tax (GST) Registration services at ClearTax
            helps you to get your business GST registered and obtain your GSTIN.
            ClearTax GST experts will guide you on the applicability and compliances under GST
            for your business and get your business registered under GST.</p>
        <center> <a href="#registration" class="btn btn-outline-success pl-5 pr-5">Register Now</a> </center>
    </div>
        </div>
    </div>
 </div>
</div>
<!--required Documents-->
<div id="rdocuments" class="container-fluid mt-4 mb-2">
    <div class="container text-center p-3" style="background:#87CEFA;font-size:30px;">Documents Required for GST Registration</div>
    <div class="container p-5" style="background:white;font-size:17px;">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <ul style="line">
                    <li><img src="static/images/greentick.png" width="4%">PAN of the Applicant</li><hr>
                    <li><img src="static/images/greentick.png" width="4%">Aadhaar card</li><hr>
                    <li><img src="static/images/greentick.png" width="4%">Proof of business registration or Incorporation certificate</li><hr>
                    <li><img src="static/images/greentick.png" width="4%">Identity and Address proof of Promoters/Director with Photographs</li><hr>
                </ul>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
 <ul>
                    <li><img src="static/images/greentick.png" width="4%">Address proof of the place of business</li><hr>
                    <li><img src="static/images/greentick.png" width="4%">Bank Account statement/Cancelled cheque</li><hr>
                    <li><img src="static/images/greentick.png" width="4%">Digital Signature</li><hr>
                    <li><img src="static/images/greentick.png" width="4%">Letter of Authorization/Board Resolution for Authorized Signatory</li><hr>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--penalty-->
<div id="penalty" class="container-fluid mt-4 mb-2">
    <div class="container text-center p-3" style="background:#87CEFA;font-size:30px;">Penalty for not registering under GST</div>
    <div class="container p-5" style="background:white;font-size:17px;">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <img src="static/images/penalty.jpg" width="100%">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    An offender not paying tax or making short payments (genuine errors) has to pay a penalty of 10% of the tax amount due subject to a minimum of Rs.10,000.
                    An offender not paying tax or making short payments (genuine errors) has to pay a penalty of 10% of the tax amount due subject to a minimum of Rs.10,000.
                The penalty will at 100% of the tax amount due when the offender has deliberately evaded paying taxes
                An offender not paying tax or making short payments (genuine errors) has to pay a penalty of 10% of the tax amount due subject to a minimum of Rs.10,000.
                The penalty will at 100% of the tax amount due when the offender has deliberately evaded paying taxes
            </div>
        </div>
    </div>
</div>
<!--FAQs-->
<div id="faqs" class="container-fluid mt-4 mb-2">
        <div class=" text-center p-3 mb-3" style="background:#87CEFA;font-size:30px;">GST Registration FAQs</div>

    <h5>Is GST registration mandatory?</h5>
    <p>Yes, you are required to obtain GST registration once your turnover exceeds the specified threshold limits.
        Click here to check out the latest threshold limits for GST registration.</p>
    <hr>
    <h5>Can I apply for multiple GST registrations?</h5>
    <p>If a business operates from more than one state, the taxpayer should obtain
        a separate GST registration for each state. For instance, If an automobile company sells in Karnataka
        and Tamil Nadu, he has to apply for separate GST registration in Karnataka and Tamilnadu respectively.</p>
    <hr>
    <h5>Can I apply for multiple registrations within a state?</h5>
    <p>Yes, a business can apply for any number of GST registrations within a state. The procedure of allocating multiple GST registrations only for
        different business verticals within a state has been removed for ease of business.</p>
    <hr>
    <h5>Who can Register for the Composition scheme under GST?</h5>
    <p>Small taxpayers who wish to have lesser compliances to deal with and lower
        rates of taxes under GST, can opt for the Composition scheme,</p>
    <p>A trader whose aggregate turnover is below Rs 1.5 crore can opt for the Composition scheme.
        In the case of North-Eastern states and Himachal Pradesh, the present limit is Rs.75 lakh</p>
    <p>Also, the government extended the Composition scheme to service providers having
        an aggregate turnover of up to Rs.50 lakhs.</p>
</div>

{% endblock %}
