{% extends 'navbar.html' %}
{% block content %}


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="mt-2 "style="margin:auto;width:40%;">
        <center><h1 class="p-2 text-center">HRA Calculator</h1></center>
        <hr>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-1 mb-4">
    <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 " style="margin:auto;">
            <div style=" ; background-color:white;" class="p-3">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                        <label for="basic_salary">Basic Salary Received</label>
                        <input type="text" name="basic_salary" value="" id="basic_salary" maxlength="100" required="" class="form-control " >
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                        <label for="da">Dearness Allowance (DA) received</label>
                        <input type="text" name="da" value="" id="da" maxlength="100" required="" class="form-control " >
                  </div>
                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                        <label for="hra_received">HRA received</label>
                        <input type="text" name="hra_received" value="" id="hra_received" maxlength="100" required="" class="form-control " >
                  </div>
                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                        <label for="total_rent_paid">Total Rent Paid</label>
                        <input type="text" name="total_rent_paid" value="" id="total_rent_paid" maxlength="100" required="" class="form-control " >
                  </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                   <label for="hra_email">Email</label>
                    <input type="text" name="hra_email" value="" id="hra_email" maxlength="100" required="" class="form-control ">
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                    <p>Do you live in Metro City ?<br>(Delhi, Mumbai, Kolkata or Chennai)</p>
                    <input type="radio" name = "metrocity" value="1"> Yes
                    <input type="radio" name = "metrocity" value="0"> No
                  </div>
                <center><button class="btn btn-success pl-5 pr-5">Calculate</button></center>
            </div>
        </div>
        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 ">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="margin:auto;" ></div>
            <p style="font-size:18px;">
                HRA full form is House Rent Allowance. It is a part of your salary provided by the employer for the
                expenses incurred towards rented accommodation. You can claim HRA exemption only if
                you are residing in a rented house. HRA exemption is covered under Section 10(13A) along
                with rule 2A of the Income Tax Act, 1961.
                HRA is only one of the ways to reduce your tax liability. In addition to HRA exemption
                and deduction benefits, the Income Tax Act 1961, has several sections that pertain to tax saving.
                These sections list down various tax saving investments and other provisions through which you can
                claim deductions and exemptions on your income in every financial year.
            </p>
            <hr>
            <center><img src="static/images/hra_cal.png" width="80%"></center>
        </div>
    </div>
</div>
<hr>
<div class="container-fluid mt-2">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pt-3" style="background:white;">
    <h4> What is HRA ?</h4>
    <p>HRA or House Rent Allowance is an allowance which salaried individuals receive from their
        employer for meeting the rental expenses of their house. The amount received is partly exempted from tax,
        for the employee who are residing in a rented house. In case the employee lives in his/her own house
        and does not pay any rent, the entire amount would be taxable</p>
    <hr>
    <h4>How HRA is calculated for tax saving?</h4>
    <p>Less: Exempted HRA (minimum of following three amounts)</p>
    <ol>
        <li>Actual HRA received
        <li>Rent paid less 10% of Salary</li>
        <li>40% of Salary (50% of Salary in Mumbai, Delhi, Chennai and Kolkata)</li>
    </ol>
    <hr>
    <h4>What are the proofs that are to be submitted for claiming HRA?</h4>
    <p>It depends on the amount of rent paid:</p>
    <ul style="list-style-type:circle">
        <li>If your monthly rent is less than Rs. 3,000- No rent receipts are required</li>
        <li>f your monthly rent is more than Rs. 3,000- Rent receipts are to be submitted. Click here to Generate Rent Receipts.</li>
        <li>If your monthly rent is more than Rs. 8,333- PAN of landlord is also required. In case the landlord does not have a PAN,
            a declaration from the landlord regarding this is to be submitted. Click here to download the format of declaration.</li>
    </ul>
    <hr>
    <h4>Can I avail tax benefit of HRA if I am living with my parents?</h4>
    <p>Yes, you can claim HRA tax exemption by paying rent to your parents.
        It is advisable to have a rent agreement. You would need rent receipts to claim HRA exemption.
        Also, your parents need to show rental income from you in their income tax return.</p>
    <hr>
    <h4>Can I avail tax benefit of HRA if I am living in the house of my spouse?</h4>
    <p>Tax benefit of HRA cannot be claimed by paying rent to your spouse. So, if you are staying
        in a house owned by your spouse then HRA exemptions are not available to you. However, if you
        still wish to claim exemption, you should be ready for litigation as Income
        Tax Officer might allow it as per the decision in one of cases in Ahmedabad Tribunal .</p>
    <hr>
    <h4> Can I claim tax benefit of HRA if I live in my own house?</h4>
    <p>No, you cannot enjoy the tax benefits of HRA if you live in your own house. One cannot
        pay rent to oneself. Hence, no exemption is available for HRA and the whole of HRA received becomes
        taxable under “Income from Salary”.</p>
    <hr>
    <h4>Is landlord’s PAN required for HRA exemption? What to do if landlord does not have PAN?</h4>
    <p>If the annual rent paid exceeds Rs.1,00,000/- it is mandatory to report PAN of the landlord to claim HRA exemption.
        In case landlord does not have PAN, a declaration of landlord is required.
        To download the format of declaration of landlord, click here.</p>
    <hr>
    <h4> Can I claim HRA if the landlord refuses to give his PAN?</h4>
    <p>If the annual rent exceeds Rs. 1,00,000 and the landlord refuses to give his PAN,
        then you cannot claim HRA for the rent paid in excess of Rs. 1,00,000/-
        and your employer will deduct the TDS accordingly. Therefore, it is advisable to
        discuss this with your landlord before taking the house on rent. However, you can claim the
        benefit of rent paid at the time of filing of your return if the payment of rent can be
        substantiated to the income tax officers, if required. Need a CA opinion? Contact Now!</p>
    <hr>
    <h4> I stay in a rented house but I also own a house. Can I claim HRA exemption?</h4>
    <p>For claiming HRA, there is no requirement that you should not own a house. If you reside in a rented
        property, then you can claim exemption even if you own a house (in the same city or in a different city).
    </p>
    <hr>
    <h4>Is it possible to claim HRA as well as home loan tax benefits?</h4>
    <p>Yes, certainly. You can claim both. If you are staying in a rented house, then you are eligible to claim
        HRA tax exemption. Simultaneously, if you have taken a house loan then you can claim the house loan benefits too.
        If you have bought a house with the help of a home loan and live in another house on rent, you can claim tax
        benefit for both. But if the house you bought and the house you live in are in the same city, you should have
        a genuine reason for not living in the house that you own, to prove to Income Tax Officer.The reasons could be that
        the house you own is too far from your workplace, or the commute is very difficult. Still Confused? Need CA opinion.
        Connect now!
    </p>
    <hr>
    <h4>Can both the working spouses claim HRA tax benefit separately?</h4>
    <p>Yes, why not, provided both are paying rent. Also, it will be better if the landlord issues two separate rent receipts or specifies
        the proportion of rent borne by each person on the rent receipt.</p>
    <hr>
    <h4> If HRA is not mentioned in FORM 16 how can I claim the HRA?</h4>
    <p>Many times, it’s observed that companies do not give HRA exemption in Form 16 due
        to unavailability of complete details. If your HRA claim has not been considered in form 16,
        then you can directly claim the exemption in your IT return. Our experts are here to help
        you claim all the available tax exemptions and deductions & file your IT return in a hassle-free manner.
        Connect Now to know how!</p>
    <hr>
    <h4>How can a self-employed person claim tax benefit for the rent paid?</h4>
    <p>A self-employed person doesn't receive any salary so there is no HRA and consequently question of HRA exemption doesn't arise.
        However, to take care of such a situation, there is a separate provision in the Income Tax Act,
        whereby a person not in receipt of HRA but incurring rent expenses for his residence can claim a deduction under section 80GG.
    </p><hr>
    <h4>What if I pay rent but do not receive HRA?</h4>
    <p>If you are paying rent but are not in receipt of HRA, then,
        you can claim a deduction under section 80GG. Least of the following amounts is available as deduction:</p>
    <ul style="list-style-type:disc">
        <li>Rent paid less 10% of total income</li>
        <li>Rs.5,000 per month</li>
        <li>25% of total income</li>
    </ul>
    <p>However, following points must be kept in mind:</p>
     <ul style="list-style-type:disc">
         <li>You, your spouse and minor child do not own residential house in the city where you are working</li>
         <li>You are not be in receipt of house rent allowance.</li>
         <li>If you own a house in the city [other than the city where you resides], it must not be assessed as the self-occupied house.</li>
     </ul>

</div>
</div>
{% endblock content %}