{% extends 'navbar.html' %}
{% block content %}
<style>

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #04AA6D;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}
</style>

<div class="container-fluid">
      <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 p-3" style="background:#00bfff;">
          <center><h3>Calculatate Your Income Tax Here </h3></center>
      </div>
  <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12" style="background:;">
    <div class="row">
          <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12 mt-3 " style="background:white;">
               <form id="regForm" >
                 <!-- One "tab" for each step in the form: -->
                 <div class="tab">
                   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center p-4">
                        <h4>Personal Info</h4>
                   </div>
                   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 p-4">
                        <div class="row">
                          <div class="col-md-6 col-sm-6 col-xs-12  form-group">
                          <label for="name">Name:</label>
                          <input type="text" name="name" value=""  class="form-control valid" id="name" placeholder="Name">
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-12  form-group">
                          <label for="email">Email ID:</label>
                          <input type="email" name="email" value=""  class="form-control valid" id="email" placeholder="Email">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6 col-sm-6 col-xs-12  form-group">
                          <label for="dob">Date of Birth:</label>
                          <input type="date" name="dob" value=""  class="form-control valid" id="dob" placeholder="Date of birth">
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-12  form-group">
                          <label for="profession">Select Profession:</label>
                          <select name="profession" class="form-control valid" id="profession" aria-invalid="false">
                              <option value="" selected="selected">Select your Profession</option>
                              <option value="Salaried Employee">Salaried Employee</option>
                              <option value="Business Man">Business Man</option>
                              <option value="Freelancer">Freelancer</option>
                              <option value="Professional">Professional</option>
                              <option value="others">Others</option>
                          </select>
                          </div>
                        </div>
                   </div>
                 </div>
                 <div class="tab">
                   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center p-4">
                        <h4>Income Informatiom</h4>
                   </div>
                   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 p-4">
                          <label for="income_from_salary">Income From Salary/Pension:</label>
                          <input type="text" name="income_from_salary" value=""  class="form-control valid" id="income_from_salary" placeholder="">
                          <label for="income_from_freelancing">Income From Business / Profession / Freelancing:</label>
                          <input type="text" name="income_from_freelancing" value=""  class="form-control valid" id="income_from_freelancing" placeholder="">

                          <label for="rental_income">Rental Income Received</label>
                          <input type="text" name="rental_income" value=""  class="form-control valid" id="rental_income" placeholder="">
                            <label for="interest_on_home_loan">Interest Paid On Home Loan</label>
                          <input type="text" name="interest_on_home_loan" value=""  class="form-control valid" id="interest_on_home_loan" placeholder="">
                   </div>
                 </div>
                 <div class="tab">
                   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center p-4">
                        <h4>Other Income Informatiom</h4>
                   </div>
                   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 p-4">
                          <label for="fd_interest">FD Interest:</label>
                          <input type="text" name="fd_interest" value=""  class="form-control valid" id="fd_interest" placeholder="">
                          <label for="saving_ac_interest">Saving A/C Interest :</label>
                          <input type="text" name="saving_ac_interest" value=""  class="form-control valid" id="saving_ac_interest" placeholder="">
                          <label for="other_interest_income">Any Other Interest Income </label>
                          <input type="text" name="other_interest_income" value=""  class="form-control valid" id="other_interest_income" placeholder="">
                            <label for="other_income">Any Other Income</label>
                          <input type="text" name="other_income" value=""  class="form-control valid" id="other_income" placeholder="">
                   </div>
                 </div>
                 <div class="tab">
                   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center p-4">
                        <h4>Deductions</h4>
                   </div>
                   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 p-4">
                          <label for="section80c">Section 80C:</label>
                          <input type="text" name="section80c" value=""  class="form-control valid" id="section80c" placeholder="">
                          <label for="section80d">Section 80D  :</label>
                          <input type="text" name="section80d" value=""  class="form-control valid" id="section80d" placeholder="">
                          <label for="section80e">Section 80E  :</label>
                          <input type="text" name="section80e" value=""  class="form-control valid" id="section80e" placeholder="">
                            <label for="other_deduction">Others Deductions</label>
                          <input type="text" name="other_deduction" value=""  class="form-control valid" id="other_deduction" placeholder="">
                   </div>
                 </div>
                 <center>
         <div style="overflow:auto;">
          <div>
            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
            <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
          </div>
        </div>
                 </center>
        <!-- Circles which indicates the steps of the form: -->
        <div style="text-align:center;margin-top:40px;">
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
        </div>
      </form>
          </div>
          <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12 mt-3 " >
              <img src="static/images/it.jpg" width="100%">
          </div>
    </div>
  </div>
</div>
<script>
var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the current tab

function showTab(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";
  //... and fix the Previous/Next buttons:
  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
  } else {
    document.getElementById("prevBtn").style.display = "inline";
  }
  if (n == (x.length - 1)) {
    document.getElementById("nextBtn").innerHTML = "Calculate";
  } else {
    document.getElementById("nextBtn").innerHTML = "Next";
  }
  //... and run a function that will display the correct step indicator:
  fixStepIndicator(n)
}

function nextPrev(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");
  // Exit the function if any field in the current tab is invalid:
  if (n == 1 && !validateForm()) return false;
  // Hide the current tab:
  x[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
  // if you have reached the end of the form...
  if (currentTab >= x.length) {
    // ... the form gets submitted:
    document.getElementById("regForm").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab);
}

function validateForm() {
  // This function deals with validation of the form fields
  var x, y, i, valid = true;
  x = document.getElementsByClassName("tab");
  y = x[currentTab].getElementsByTagName("input");
  // A loop that checks every input field in the current tab:
  for (i = 0; i < y.length; i++) {
    // If a field is empty...
    if (y[i].value == "") {
      // add an "invalid" class to the field:
      y[i].className += " invalid";
      // and set the current valid status to false
      valid = false;
    }
  }
  // If the valid status is true, mark the step as finished and valid:
  if (valid) {
    document.getElementsByClassName("step")[currentTab].className += " finish";
  }
  return valid; // return the valid status
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += " active";
}
</script>
<div class="container-fluid mt-4 p-4" style="background:#87CEEB">
    <div class=" container col-lg-12 col-sm-12 col-md-12 col-xs-12" >
        <h5>How to Calculate Income Tax?</h5>
        <p>Estimating your taxes before you file your tax return is an essential part of tax planning.
            However, income tax computation requires good knowledge of taxation laws:
            ( Thus, looking at the hardships faced by people, we created a simple online tax calculator
            tool to help you easily estimate your tax refund or tax payable to the government.
            Our income tax calculator calculate taxes, on the basis of latest provisions of the
            income tax act and rules issued by the Income Tax Department.</p>
    </div>
</div>

<div class="container-fluid mt-4 mb-4">
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
        <center><h3>FAQs on Income Tax Calculation in India</h3></center>
    </div>
    <div class="container p-5" style="background:white">
        <h5 style="background:;"> What is income ?</h5>
        <p>Income means the amount that an individual earns in exchange for providing goods or services.
            In other words, income is the sum of all the wages, salaries, profits, interests payments,
            rents, and other forms of earnings received for a period of time.
        </p>
        <p><b>For the purpose of taxation, income has been categorized into five heads :</b></p>
        <ul style="list-style-type:circle">
           <li>Income from Salary </li>
            <li>Income from House Property</li>
            <li>Income from Profit & Gain of Business & Profession</li>
            <li>Income from Capital Gain</li>
            <li>Income from Other Sources</li>
        </ul>
        <hr>
        <h5> What is income tax ?</h5>
        <p>An income tax is a direct tax which is imposed on assessee depending upon the their respective income or profit.
            In other words, it is the tax levied on the income earned.</p>
        <hr>
        <h5 >When income tax is required to be paid ?</h5>
        <p>Income Tax is required to be paid when your income exceeds the Basic Exemption Limit. This limit is specified by the government every year.
            Currently, it is Rs. 2,50,000 for Individual below the age of 60 Years.</p>
        <hr>
        <h5>What is the period for which tax is calculated?</h5>
        <p>Tax is charged on any income earned during the period April 1- March 31. The year
            in which the income has been earned is known as the ‘previous year’
            and the year in which the tax is calculated, is known as the ‘assessment year’.</p>
        <hr>
        <h5>What are the benefits of tax calculation beforehand?</h5>
        <p>You should calculate Taxes beforehand so that you are able to set aside the funds which you will
            be needing for paying taxes at the time of filing return.Therefore, at the time of return filing,
            you don’t have to rush for arranging funds.The other benefit is, it lets you know that whether your
            taxes will go up or down in comparison to the previous year.</p>
        <hr>
        <h5>How to calculate income tax in India?</h5>
        <p>In India,the Income tax is calculated on the basis of tax rates and slabs defined by
            Finance Ministry in the budget which is presented every year.</p>
        <hr>
        <h5>What are the income tax slabs and rates?</h5>
        <p>Government has determined various Income Tax Slabs on the basis of the age of the individual.
            The Slab helps to determine tax rate at which tax will be levied upon you.
            The latest income tax slab rate for Individuals less than 60 years for the F.Y. 2017-18 (A.Y. 2018-19) are:</p>
        <p><b>Income Tax Slab for Individuals less than 60 years (For Male & Female both)</b></p>
        <style>
                table, td, th {
                  border: 1px solid black;
                }

                table {
                  border-collapse: collapse;
                  width: 100%;
                  background:#D8BFD8;

                }
       </style>
        <table>
             <tr><th>Income Slab</th><th>Income Tax Rate</th></tr>
            <tr><td>Upto 2,50,000</td><td>Nil</td></tr>
            <tr><td>From 2,50,001- 5,00,000	</td><td>5%</td></tr>
            <tr><td>From 5,00,001-10,00,000</td><td>20%</td></tr>
            <tr><td>Above 10,00,000	</td><td>30%</td></tr>
        </table>
        <p><b>Income Tax Slab for Individuals more than or equal to 60 years but less than 80 years
            known as Senior Citizens for F.Y. 2017-18 (Both Male and Female)
        </b></p>
        <table>
             <tr><th>Income Slab</th><th>Income Tax Rate</th></tr>
            <tr><td>Upto 3,00,000</td><td>Nil</td></tr>
            <tr><td>From 3,00,001- 5,00,000	</td><td>5%</td></tr>
            <tr><td>From 5,00,001-10,00,000</td><td>20%</td></tr>
            <tr><td>Above 10,00,000	</td><td>30%</td></tr>
        </table>
        <p><b>Income Tax Slab for Individuals more than or equal to 80 years known as Super
            Senior Citizens For F.Y. 2017-18 (Both Male and Female)
        </b></p>
        <table>
             <tr><th>Income Slab</th><th>Income Tax Rate</th></tr>
            <tr><td>Upto 5,00,000</td><td>Nil</td></tr>
            <tr><td>From 5,00,001- 10,00,000	</td><td>20%</td></tr>
            <tr><td>Above 10,00,000</td><td>30%</td></tr>
            <tr><td colspan="2">Less: Rebate under Section 87A</td></tr>
            <tr><td colspan="2">Add: Surcharge and EC & SHEC</td></tr>
        </table>
        <hr>
        <h5> How to calculate income tax for salaried person ?</h5>
        <p>To understand the calculation of income tax,let us take an example of a salaried person.
            The facts are as under :
            Income from Salary - 8,00,000, Income from Other Sources - 2,00,000, Deduction u/s 80C - 1,50,000.
            So, total income would be = 8,50,000. (8L+2L-1.5L).</p>
        <hr>
        <h5>What is TDS? How to calculate monthly TDS amount ?</h5>
        <p>Tax Deducted at Source (TDS) is a mechanism whereby the tax is deducted directly at the point
            of origin of income and submitted to government.It enables speedy collection of taxes.You
            can claim this tax paid as a credit while filing your income tax return.In case of salary income,
            it is the responsibility of your employer to deduct the TDS and deposit it to the government.
            For the purpose of calculation of monthly TDS amount, just calculate your
            taxes from the above calculator and divide it by 12. You will get your monthly TDS amount.</p>
        <hr>
        <h5> How does the government collect income tax?</h5>
        <p><b>The government collects the revenue in the form of income tax in 3 ways:</b></p>
        <ol>
            <li>Voluntary payment by the taxpayers like Advance Tax and Self-Assessment Tax.</li>
            <li>Tax Deducted at Source (TDS) which is deducted at the point of origin of your income even before receiving it.</li>
            <li>Taxes Collected at Source (TCS).</li>
        </ol>
        <hr>
        <h5>How to calculate Income-tax for ?</h5>
        <p>Please follow the below given steps to calculate your income tax through Tax2win portal and
            there you are with the the tax calculation:</p>
        <ol>
            <li>visit the income tax calculator online page</li>
            <li>Fill all the details as required for tax calculation.</li>
            <li>Click on "Calculate".</li>
        </ol>
        <hr>
        <h5>Can this calculator compute my tax liability post budget 2018 ?</h5>
        <p>Yes, It will help you understand the impact on your Income-tax liability after the Budget 2018.</p>
        <hr>
        <h5>Does this Income tax calculator computes my final tax liability?</h5>
        <p>Yes,it computes your tax liability on the basis of information entered.
            You can surely use the same for your tax planning for 2018-19.
            Your Income-tax liability will be more or less same, subject to the actual information.</p>
        <hr>
        <h5>Why should i use an online tool for Income Tax Calculation?</h5>
        <p>With the help of an online tool it becomes easy to estimate your tax payment for the year.
            You can use the calculator by Tax2win. It is a quick, simple and
            user-friendly way of estimating how much your income tax liability and provides
            you with fast and accurate calculation.</p>
        <hr>
        <h5> How to calculate tax liability for F.Y 2018-19 (income tax calculator AY 2019-20)?</h5>
        <p>There has been no change in the existing income tax rate for the
            financial year 2018-2019 except the abolishment of EC & SHEC and introduction of Health & Education Cess.
            Further, apart from the rate there has been various changes in the deductions.</p>
        <hr>
        <h5>What is rebate under section 87A of the income tax?</h5>
        <p>Rebate u/s 87A provides exemption on tax payment to a RESIDENT INDIVIDUAL.As per this provision,
            if an individual’s taxable income is upto Rs. 5 lakhs then he will get the tax benefit of Rs. 12,500
            or the amount of tax whichever is lower. If you are liable to pay tax upto the limit of rebate allowed,
            then after taking the rebate benefit, no payment will be required to be made for tax amount.
            For availing the full amount of rebate, the Total Taxable Income of return filer shall be
            upto Rs 5,00,000 for the Financial Year 2019-20(AY 2020-21).</p>
        <hr>
        <h5>Is there any change in the income tax slab after budget 2019?</h5>
        <p>No change in the income tax slab in the budget.</p>

    </div>
</div>
{% endblock %}