{% extends 'navbar.html' %}
{% block content %}
<!--msme first div-->
<div class="container-fluid mb-3">
    <div class="row">
        <div class="col-lg-6">
            <img src="static/images/msme3.jpeg" width="100%">
        </div>
        <div class="col-lg-6">
            <div class="text-center mt-3" style="color:#473C8B;" >
                <h1>MSME Registration In India : <br>Procedure, Documents Required </h1>
            </div>
            <hr>
            <div>
                <p>
                    MSME stands for Micro, Small and Medium Enterprises.
                    In a developing country like India, MSME  industries are the backbone of the economy.
                </p>
                <p>
                    The MSME sector contributes to 45% of India’s Total Industrial Employment,
                    50% of India’s Total Exports and 95% of all industrial units of the country and more than 6000
                    types of products are manufactured in these industries (As per msme.gov.in).
                    When these industries grow, the economy of the country grows as a whole and flourishes.
                    These industries are also known as small-scale industries or SSI’s.
                </p>
            </div>
        </div>
    </div>
</div>
<!--what is msme-->
<div class="container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-2" style="background:#0096FF">
        <h2 class="text-center" style="color:white;">What are Micro, Small and Medium Enterprise?</h2>
    </div>
    <p style="font-size:120%;">
        The existing MSME classification was based on the criteria of investment in plant and machinery or equipment.
        So, to enjoy the MSME benefits, the MSMEs have to limit their investment to a lower limit, as mentioned below:
    </p>
            <style>
th, td {
  padding: 15px;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}
#t1 ,#t2{
  width: 100%;
  background-color: #f1f1c1;
}
</style>

    <div>
        <table id="t1">
            <tr><th>Sector</th><th>Criteria</th><th>Micro</th><th>Small</th><th>Medium</th></tr>
            <tr><td>Manufacturing</td><td>Investment</td><td>< Rs.25 lakh</td><td>< Rs.5 crore	</td><td>< Rs.10 crore</td></tr>
            <tr><td>Services</td><td>Investment</td><td>< Rs.10 lakh</td><td>< Rs.2 crore</td><td>< Rs.5 crore</td></tr>
        </table>
    </div>
    <p style="font-size:120%;" class="m-3">
        Now, under the Aatmanirbhar Bharat Abhiyan (ABA), the government revised the MSME classification* by
        inserting composite criteria of both investment and annual turnover. Also, the distinction between the
        manufacturing and the services sectors under the MSME definition has been removed.
        This removal will create parity between the sectors. The following is the revised MSME classification*,
        where the investment and annual turnover, both are to be considered for deciding an MSME.
    </p>
    <div>
        <table id="t2">
            <tr><th>Sector</th><th>Criteria</th><th>Micro</th><th>Small</th><th>Medium*</th></tr>
            <tr><td>Investment & Annual Turnover</td><td>< Rs.1 crore & < Rs.5 crore</td>
                <td>< Rs.10 crore & < Rs.50 crore</td><td>< Rs.5 crore	</td><td>< Rs.50 crore & < Rs.250 crore</td></tr>
        </table>
    </div>

</div>
<!--Required Documents-->
<div class="container-fluid mt-5">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-2" style="background:#0096FF">
        <h2 class="text-center" style="color:white;">Documents Required</h2>
    </div>
         <p style="font-size:120%;">
             The Udyam registration process is entirely online and does not require the uploading of any documents.
             However, before applying for Udyam Registration, the proprietor or owner of the enterprise is required
             to have the following documents:
         </p>
        <ol>
            <li style="font-size:20px;color:green" class="p-3"><b>Aadhar Card</b></li>
                <ul style="list-style:circle;">
                <li>In the case of a Proprietorship Firm, the Aadhar number of the proprietor is to be entered in the Udyam Registration form.</li>
                <hr><li>In the case of a Partnership Firm, the Aadhar number of the managing partner is to be entered in the Udyam Registration form.</li>
                <hr><li>In the case of a Hindu Undivided Family (HUF), the Aadhar number of the Karta is to be entered in the Udyam Registration form.</li>
                <hr><li>In the case of a Company or Limited Liability Partnership or a Cooperative Society or a Society or a Trust, the Aadhar number of
                    the organisation or authorised signatory is to be entered in the Udyam Registration form.</li>
            </ul>
            <li style="font-size:20px;color:green" class="p-3"><b>PAN Card</b></li>
        </ol>
    </div>


{% endblock %}