{% extends 'navbar.html' %}
{% block content %}
<style>

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #04AA6D;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}
</style>
<div class="container-fluid">
      <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 p-3" style="background:#00bfff;">
          <center><h3>New v/s old Tax Regime </h3></center>
      </div>
  <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12" style="background:;">
    <div class="row">
          <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12 mt-3 " style="background:white;" >
               <form id="regForm" >
                 <!-- One "tab" for each step in the form: -->
                 <div class="tab">
                   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center p-4">
                        <h4>Income Details</h4>
                   </div>
                   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 p-4">

                          <div class="col-md-12 col-sm-12 col-xs-12  form-group">
                          <label for="name">Income from Salaries:</label>
                          <input type="text" name="name" value=""  class="form-control valid" id="name" placeholder="Income from Salaries">
                          </div>
                          <div class="col-md-12 col-sm-12 col-xs-12  form-group">
                          <label for="allowance">Allowances & Exemptions</label>
                          <input type="text" name="allowance" value=""  class="form-control valid" id="allowance" placeholder="Allowances & Exemptions">
                          </div>
                          <div class="col-md-12 col-sm-12 col-xs-12  form-group">
                          <label for="incomebusiness">Income from Business</label>
                          <input type="text" name="incomebusiness" value=""  class="form-control valid" id="incomebusiness" placeholder="Income from Business">
                          </div>
                          <div class="col-md-12 col-sm-12 col-xs-12  form-group">
                          <label for="incomehouseproperty">Income from House Property</label>
                          <input type="text" name="incomehouseproperty" value=""  class="form-control valid" id="incomehouseproperty" placeholder="Income from House Property">
                          </div>
                   </div>
                 </div>
                 <div class="tab">
                   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center p-4">
                        <h4>Other Details</h4>
                   </div>
                   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 p-4">

                          <div class="col-md-12 col-sm-12 col-xs-12  form-group">
                          <label for="fdinterest">FD Interest :</label>
                          <input type="text" name="fdinterest" value=""  class="form-control valid" id="fdinterest" placeholder="FD Interest">
                          </div>
                          <div class="col-md-12 col-sm-12 col-xs-12  form-group">
                          <label for="savingacinterest">Savings A/c Interest :</label>
                          <input type="text" name="savingacinterest" value=""  class="form-control valid" id="savingacinterest" placeholder="Savings A/c Interest">
                          </div>
                          <div class="col-md-12 col-sm-12 col-xs-12  form-group">
                          <label for="otherincome">Any Other Income</label>
                          <input type="text" name="otherincome" value=""  class="form-control valid" id="otherincome" placeholder="Any Other Income">
                          </div>
                   </div>
                 </div>
                 <div class="tab">
                   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center p-4">
                        <h4>Deduction</h4>
                   </div>
                   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 p-4">

                          <div class="col-md-12 col-sm-12 col-xs-12  form-group">
                          <label for="section80c">Section 80C</label>
                          <input type="text" name="section80c" value=""  class="form-control valid" id="section80c" placeholder="Section 80C">
                          </div>
                          <div class="col-md-12 col-sm-12 col-xs-12  form-group">
                          <label for="section80d">Section 80D :</label>
                          <input type="text" name="section80d" value=""  class="form-control valid" id="section80d" placeholder="Section 80D">
                          </div>
                          <div class="col-md-12 col-sm-12 col-xs-12  form-group">
                          <label for="otherdeduction">Other Deductions:</label>
                          <input type="text" name="otherdeduction" value=""  class="form-control valid" id="otherdeduction" placeholder="Other Deductions">
                          </div>
                   </div>
                 </div>
                 <center>
         <div style="overflow:auto;">
          <div>
            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
            <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
          </div>
        </div>
                 </center>
               </form>
        <!-- Circles which indicates the steps of the form: -->
        <div style="text-align:center;margin-top:40px;">
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
        </div>
      </form>
          </div>
          <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12 mt-3 " >
              <img src="static/images/oldnew.jpg" class="pt-5" width="100%">
          </div>
    </div>
  </div>
</div>
<script>
var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the current tab

function showTab(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";
  //... and fix the Previous/Next buttons:
  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
  } else {
    document.getElementById("prevBtn").style.display = "inline";
  }
  if (n == (x.length - 1)) {
    document.getElementById("nextBtn").innerHTML = "Calculate";
  } else {
    document.getElementById("nextBtn").innerHTML = "Next";
  }
  //... and run a function that will display the correct step indicator:
  fixStepIndicator(n)
}

function nextPrev(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");
  // Exit the function if any field in the current tab is invalid:
  if (n == 1 && !validateForm()) return false;
  // Hide the current tab:
  x[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
  // if you have reached the end of the form...
  if (currentTab >= x.length) {
    // ... the form gets submitted:
    document.getElementById("regForm").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab);
}

function validateForm() {
  // This function deals with validation of the form fields
  var x, y, i, valid = true;
  x = document.getElementsByClassName("tab");
  y = x[currentTab].getElementsByTagName("input");
  // A loop that checks every input field in the current tab:
  for (i = 0; i < y.length; i++) {
    // If a field is empty...
    if (y[i].value == "") {
      // add an "invalid" class to the field:
      y[i].className += " valid";
      // and set the current valid status to false
      valid = true;
    }
  }
  // If the valid status is true, mark the step as finished and valid:
  if (valid) {
    document.getElementsByClassName("step")[currentTab].className += " finish";
  }
  return valid; // return the valid status
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += " active";
}
</script>
<hr>
<div  class="container-fluid mt-5 mb-4">
    <style>
           table, td, th {
                  border: 1px solid black;
                  padding: 1%;
                }
           th {
           background:#6495ED;
           }
    </style>
    <div class="container">
        <table style="width:100%; background:" class="text-center">
            <tr><th>Income From</th><th>F.Y.2019-20</th><th>F.Y. 2020-21 <br>Slab option 1<br> (With Exemptions)</th>
            <th>F.Y. 2020-21<br> Slab option 2<br> (Without Exemptions)</th>
            </tr>
            <tr><td>Income from Salaries</td><td>Amount</td><td>Amount</td><td>Amount</td></tr>
            <tr><td>Less: Allowances & Exemptions</td><td>Amount</td><td>Amount</td><td>Amount</td></tr>
            <tr><td>Income from Business</td><td>Amount</td><td>Amount</td><td>Amount</td></tr>
            <tr><td>Income from House Property</td><td>Amount</td><td>Amount</td><td>Amount</td></tr>
            <tr><td>Income from Other Sources</td><td>Amount</td><td>Amount</td><td>Amount</td></tr>
        </table><br>
        <table style="width:100%; background:" class="text-center">
            <tr><th>Deduction</th><th>F.Y.2019-20</th><th>F.Y. 2020-21 <br>Slab option 1<br> (With Exemptions)</th>
            <th>F.Y. 2020-21<br> Slab option 2<br> (Without Exemptions)</th>
            </tr>
            <tr><td>Basic Deductions (80C)</td><td>Amount</td><td>Amount</td><td>Amount</td></tr>
            <tr><td>Medical Insurance Premium (80D)</td><td>Amount</td><td>Amount</td><td>Amount</td></tr>
            <tr><td>Interest from Savings (80TTA)</td><td>Amount</td><td>Amount</td><td>Amount</td></tr>
            <tr><td>Other Deductions</td><td>Amount</td><td>Amount</td><td>Amount</td></tr>
            <tr><td>Standard Deduction / Allowance</td><td>Amount</td><td>Amount</td><td>Amount</td></tr>
        </table><br>
        <table style="width:100%; background:" class="text-center">
            <tr><th>Impact of Budget</th><th>F.Y.2019-20</th><th>F.Y. 2020-21 <br>Slab option 1<br> (With Exemptions)</th>
            <th>F.Y. 2020-21<br> Slab option 2<br> (Without Exemptions)</th>
            </tr>
            <tr><td>Basic Tax</td><td>Amount</td><td>Amount</td><td>Amount</td></tr>
            <tr><td>Rebate u/s 87a</td><td>Amount</td><td>Amount</td><td>Amount</td></tr>
            <tr><td>Surcharge</td><td>Amount</td><td>Amount</td><td>Amount</td></tr>
            <tr><td>Education Cess</td><td>Amount</td><td>Amount</td><td>Amount</td></tr>
            <tr><td>Total Tax Liability</td><td>Amount</td><td>Amount</td><td>Amount</td></tr>
        </table>
    </div>
</div>
<hr>
<style>
    a{
    color:black;
    }
</style>
<div class="container-fluid">
    <div class="container p-4" style="background:white;">
        <ul style="list-style-type:disc">
            <li><a href="#q1">What is the New Tax Regime?</a></li><hr>
            <li><a href="#q2">Why has the Government introduced the new tax regime?</a></li><hr>
            <li><a href="#q3">Which are the exemptions/deductions unavailable under the new tax regime?</a></li><hr>
            <li><a href="#q4">Which are the Exemptions and deductions still available under the new tax regime?</a></li><hr>
            <li><a href="#q5">Which tax slab is better?</a></li><hr>
            <li><a href="#q6">Is there a situation of paying the same tax under both tax regimes?</a></li><hr>
            <li><a href="#q7">What are the benefits or disadvantages of opting both the tax regimes?</a></li><hr>
            <li><a href="#q8">Frequently Asked Questions</a></li><hr>
        </ul>
    </div>
</div>

<div class="container p-5 mt-2" style="background:white;" id="q1">
    <h4 style="color:green;font-size:160%">What is the New Tax Regime?</h4>
    <hr>
    <p style="font-size:110%">A new tax slab has been introduced in Budget 2020 which will be effective from 1 April 2020.
        This new income tax slab has lower rates of tax for higher incomes.
        It allows you to lower your tax liability subject to certain conditions and is optional.
        If you choose to calculate your taxes using the new tax regime,
        the specified deductions and exemptions available under the Income Tax Act, 1961 would not be available.
        Under the old tax regime, however, the deductions and exemptions would be available.
        Here’s the tax slabs under both the new tax regime and the old one.</p>
    <h6>Comparison Of Old v/s New Tax Slab Rates</h6>
    <table width="100%">
        <tr><th>Income Tax Slab for New FY 2020-21</th><th>New Tax Rate</th><th>Existing Tax Rate</th></tr>
        <tr><td>Upto Rs 2.5 Lakhs</td><td>Extempt</td><td>Extempt</td></tr>
        <tr><td>Rs 2.5- Rs 5 Lakhs</td>5%<td></td><td>5%</td></tr>
        <tr><td>Rs 5- Rs 7.5 Lakhs</td>10%<td></td><td>20%</td></tr>
        <tr><td>Rs 7.5 -Rs 10 Lakhs</td>15%<td></td><td>20%</td></tr>
        <tr><td>Rs 10 - Rs 12.5 Lakhs</td>20%<td></td><td>30%</td></tr>
        <tr><td>Rs 12.5 - Rs 15 Lakhs</td>25%<td></td><td>30%</td></tr>
        <tr><td>Above Rs 15 Lakhs</td><td>30%</td><td>30%</td></tr>
    </table>
</div>

<div class="container p-5 mt-2" style="background:white;" id="q2">
    <h4 style="color:green;font-size:160%">Why has the Government introduced the new tax regime?</h4>
    <hr>
    <p style="font-size:110%">The Government has introduced the new tax regime to give taxpayers the option
        to pay the lowest tax on their incomes. Since the new regime is optional, taxpayers can
        compare and choose the regime which is more beneficial for them in lowering their tax outgo.
        The new tax regime has removed approximately 70 out of 100 exemptions to make tax filing simple
        and easier for taxpayers so that they can calculate their tax liability themselves in an easy manner.
    </p>
</div>

<div class="container p-5 mt-2" style="background:white;" id="q3">
    <h4 style="color:green;font-size:160%">Which are the exemptions/deductions unavailable under the new tax regime?</h4>
    <hr>
    <p style="font-size:110%">The budget has removed 70 of the available 100 exemptions. The following exemptions and deductions are some of the most important ones which would not be available if the new tax slab is chosen for tax calculation –
    </p>
    <ul style="list-style-type:circle">
        <li>Standard deduction of INR 50,000 from salary income under Section 16</li>
        <li>House Rent Allowance under Section 10 (13A)</li>
        <li>Leave Travel Allowance under Section 10(5)</li>
        <li>Allowances under Section 10(14)</li>
        <li>Food coupons and other tax-free allowances and perquisites</li>
        <li>Deductions under Chapter VI A of the Income Tax Act like Section 80C, 80D, 80TTA, etc.</li>
        <li>Deduction for home loan interest paid for self-owned house property under Sections 24 (b) and Section 80EEA</li>
    </ul>
</div>

<div class="container p-5 mt-2" style="background:white;" id="q4">
    <h4 style="color:green;font-size:160%">Which are the Exemptions and deductions still available under the new tax regime?</h4>
    <hr>
    <p style="font-size:110%">The following deductions and exemptions would be available under the new tax regime –
    </p>
    <ul style="list-style-type:circle">
        <li>Employer’s contribution to the NPS for up to 10% of your salary under Section 80CCD (2) [ 14% in case of Central Govt employee</li>
        <li>Standard deduction of 30% of net rental income if a house property is let out.</li>
        <li>Home loan interest paid can be deducted from the rental income from a house property. However, loss from the House Property head can not be set off from any other head of income.</li>
        <li>Transport allowance exemption will be available to divyang employees to meet the day to day travel expenses from the workplace to home.</li>
        <li>Conveyance allowance will be allowed to meet the expenditure on the conveyance for the purpose of performing the official duty.</li>
        <li>Allowances granted will be allowed to meet the cost of traveling on tour or on transfer to the employees.</li>
        <li>Daily allowance granted for day to day ordinary expenses in case of absence from his / her normal place of duty.</li>
    </ul>
</div>

<div class="container p-5 mt-2" style="background:white;" id="q5">
    <h4 style="color:green;font-size:160%">Which tax slab is better?</h4>
    <hr>
    <p style="font-size:110%">Ever since the new tax regime was proposed, many are debating as to which tax regime is better, the old one with deductions or the new one without them? The answer is relative. One tax regime cannot be universally beneficial for all. Your income, its type, available deductions and exemptions determine which tax regime would give you better tax benefits. You should calculate your tax liability using both the regimes and the regime which gives you the lowest tax liability should be chosen depending on your requirement.
    </p>
</div>

<div class="container p-5 mt-2" style="background:white;" id="q6">
    <h4 style="color:green;font-size:160%">Is there a situation of paying the same tax under both tax regimes?</h4>
    <hr>
    <p style="font-size:110%">
        Dividend taxable in the hands of the receiver
As per the new rules, Dividend Distribution Tax payable by companies has been removed. Instead, the dividend would be charged in the hands of the investor. Therefore, Dividend is taxable in the hands of the receiver now.
Extension of time limit for Section 80EEA
The existing provisions of section 80EEA of the Act provide for a deduction in respect of interest on loan taken from any financial institution for acquisition of an affordable residential house property. The deduction allowed is up to one lakh fifty thousand rupees and is subject to certain conditions. One of the conditions is that loan has been sanctioned by the financial institution during the period from 1st April, 2019 to 31st March, 2020. In order to continue promoting purchase of affordable housing, the period of sanctioning of loan by the financial institution is proposed to be extended to 31st March, 2021.
    </p>
</div>

<div class="container p-5 mt-2" style="background:white;" id="q7">
    <h4 style="color:green;font-size:160%">What are the benefits or disadvantages of opting both the tax regimes?</h4>
    <hr>
    <p style="font-size:110%">
        <h6 style="text-center">OLD TAX REGIME :</h6>
    <table>
        <tr><th>Benefits</th><th>Disadvantages</th></tr>
        <tr><td rowspan="2">Option to avail around 70 exemptions and deductions under the Income Tax Act</td>
        <td>Investment only in specified options were required to claim the tax benefit.</td>
        <tr> <td>Practice to submit false disclosures for investment proofs is prevalent</td></tr>
    </table>
    </p>
    <hr>
    <p>
        <h6>NEW TAX REGIME :</h6>
    <table>
        <tr><th>Benefits</th><th>Disadvantages</th></tr>
    <tr>
        <td>Tax Rates Reduced </td><td rowspan="2">Not attractive to those who were already investing and have binding premiums</td>
    </tr>
    <tr><td>No major tax saving options given, increasing cash flow in hands of taxpayer</td></tr>
    </table>
    </p>
</div>

<!--FAQs-->
<div class="container p-5 mt-2" style="background:white;" id="q8">
    <h3 class="text-center">FAQs on the Old Vs New Tax Regime</h3>
    <hr>
    <h5 style="color:blue">Q1. Can I switch between the old and new tax regime?</h5>
    <p>Yes, a salaried individual can make a choice for every year as to which tax regime should be chosen. There is no compulsion if one scheme is selected for a year then it should be adhered every year. Taxpayers can switch amongst the schemes yearly.</p>
    <hr>
    <h5 style="color:blue">Q2.  Is the new tax regime more beneficial? </h5>
    <p> New tax regime is more beneficial particularly for those who have not invested and are not looking forward for making investment in tax saving options eligible under the old scheme. This option is more lucrative for new joinees or senior citizens willing to have more liquidity in hand s compared to investments.</p>
    <hr>
    <h5 style="color:blue">Q3. Is HRA benefit available under the new tax regime?</h5>
    <p>House Rent Allowance or HRA exemption is not available under the new tax regime pronounced in Budget 2020.</p>
    <hr>
    <h5 style="color:blue">Q4. How to calculate tax for the new regime?</h5>
    <p>Tax under the new regime can be calculated as per the income tax slabs rates prescribed or with the help of income tax calculator.</p>
    <hr>
    <h5 style="color:blue">Q5. Whether rental income earners should shift to the new tax regime?</h5>
    <p>The choice of opting for the new tax regime shall depend upon your willing to make tax saving investments. In case you are a rental income earner and you are not looking forward for making any tax deductible contributions then you should preferably opt for the old tax regime. Still it would be suggested to take more informed decision by calculating your tax liability under both the regimes.</p>
</div>


{% endblock %}