{% extends 'navbar.html' %}
{% block content %}


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3 pt-3" style="background:#A4D3EE;">
  <div class="row">
  <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12" >
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" >
  <div class="carousel-inner" style="width:auto;">
    <div class="carousel-item active">
      <img src="static/images/nri.png" height="100%" width="100%">
    </div>
    <div class="carousel-item">
       <img src="static/images/nri2.png" height="100%" width="100%">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  </div>
  <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 p-5">
    <h2>NRI Income Tax e-Filing in India</h2>
    <p style="font-size:25px">
     Do you live Outside India & have an income from India
through sale of property or by other means? File your taxes
with our inhouse expert e-CAs
    </p>
  </div>
  </div>
</div>
<hr>
<style>
  .xyz
  {
  height:auto;
  background-image: url('static/images/map.png');
  background-repeat:no-repeat;
    background-size: cover;
      background-attachment: fixed;


  }
</style>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="height:auto" >
  <div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 p-5">
    <h4 class="p-3">Taxable income for NRIs</h4>
    <ol>
      <li>Salary received for services provided in India (Global Income)</li><hr>
      <li>Capital gains earned on the transfer of assets located in India</li><hr>
      <li>Rental income from property owned in India</li><hr>
      <li>Revenue from Fixed Deposits </li><hr>
      <li>Interest on Bank Savings Accounts </li>
    </ol>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 p-5">
    <img src="static/images/map.png" width="100%">
  </div>
</div>
</div>
<hr>
<div class="container">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background:white;">
  <div class="text-center p-3"><strong><h2>What You Will Get ?</h2></strong></div>
  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <ul style="line-height:330%;">
        <li><i class="far fa-star " style="font-size:30px;color:green "></i>On call and mail consultation as per your convenience</li><hr>
        <li><i class="far fa-star " style="font-size:30px;color:green "></i>Income Tax Return Filing for one financial year</li><hr>
        <li><i class="far fa-star " style="font-size:30px;color:green "></i>Vigilant Analysis of Indian Income with foreign Income<hr>
        <li><i class="far fa-star " style="font-size:30px;color:green "></i>E-verification Assistance</li><hr>

      </ul>
  </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <ul style="line-height:330%;">
        <li><i class="far fa-star " style="font-size:30px;color:green "></i>Suggestion to maximise tax refund</li><hr>
        <li><i class="far fa-star " style="font-size:30px;color:green "></i> Tax Payment Assistance</li><hr>
        <li><i class="far fa-star " style="font-size:30px;color:green "></i>Extensive analysis to determine if the income is falling under Capital Gain Head</li><hr>
      </ul>
  </div>
</div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
    <h2>Pricing</h2>
    <h6>NRI Provides maximum tax benefit on your Indian income.</h6>

  <div class="text-center mt-4" style="margin:auto; background:green;width: 30%; color:white;">
    <p style="font-size:40px;">₹ &nbsp4449</p>

  </div>
 <p>With taxes</p>
  </div>
</div>
</div>
<hr>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-3 mb-2 " style="background-color: #485461; color:white">
  <center><h1>Frequently Asked Questions (FAQ's)</h1></center>
</div>
  <div class="m-3">
  <h4>Who is a Non- Resident of India (NRI)?</h4>
      <p style="">"Non-Resident" is a person who is not Resident in India.
        The residential status of an individual in a given year determines whether
        the individual is Resident or Non-Resident for that given year.
        Thus, the residential status of an individual needs to be determined every year.</p>
      <hr>
  <h4> How to determine my Residential Status in India?</h4>
      <ul  style="line-height:180%;list-style-type: disc;">
      <li>for a period of 182 days or more during the Financial year;</li>
      or
      <li>for 60 days in the financial year and for a total of 365 days in the preceding 4 years.</li>
      <hr>
      <p>There are certain exceptions to the above condition of 60 Days i.e. only the test of first condition is done in these cases:</p>
      <li>If you are an Indian citizen who has left India in the financial year
        as a crew member of an Indian ship or for the purposes of employment abroad; or</li>
        <li>If you are a Person of Indian Origin(PIO) or a citizen of India who comes on a visit to India;</li>
    </ul>
      <hr>
  <h4> Do NRI’s have to pay taxes in India?</h4>
      <p>The answer is YES. After you have determined your residential status, the next step is to identify whether your income
        is taxable or not in India as per your residential status determined under Income Tax Act,1961.</p>
      <ul style="line-height:180%;list-style-type:circle">
    <li>For Resident Individuals: Your Global income is taxable in India i.e. income earned whether in
      India or outside India is taxable in India.</li>
    <li>For Non-Resident Indians: Only income earned or accrued in India or deemed to be so is taxable in India.
      Therefore, your income from any country besides India is not taxable in India.</li>
  </ul>
      <hr>
  <h4> I am a non-resident. Under what conditions do I need to file my Income Tax Return in India?</h4>
      <p>Generally, you need to file your Income Tax Returns if:</p>
      <ul style="list-style-type:circle;list-height:180%;">
    <li>Your total income earned or accrued in India exceeds the basic exemption limit of ₹ 2,50,000;</li>
    <li>You have a refund for excessively deducted TDS on Interest, Rent etc;</li>
    <li>You want the benefit of carrying forward of losses or want to set off your losses with gains;</li>
  </ul>
      <hr>
  <h4>Should I be present in India at the time of filing of my ITR?</h4>
      <p>No. You are not required to be physically present to file & verify your income tax returns.
    You can file income tax return online from anywhere in the world. You can now e-verify your ITR from anywhere .
    You can send signed copy of ITR-V to the CPC Income Tax Department,
    Bengaluru or e-verify the same within 120 days from the date of filing your ITR.</p>
      <hr>
  <h4>I am a non-resident, will I get the benefit of basic exemption limit?</h4>
      <p>Yes. The basic exemption limit is available to a non-resident as well.
        However, if your income consists of Short Term Capital Gains [section 111A] or Long Term Capital Gains only,
        then such exemption is not available as they are taxed at special rates. Similarly, if your income is only from
        such other incomes which are taxed at special rates like Winning from lottery, then basic exemption limit will
        not be available.</p>
      <hr>
  <h4>What is Income tax rate for NRI?</h4>
      <p>Income tax slab rate for NRIs is same as Slab rate for individuals.
        However, NRIs do not get slab benefit for senior and super senior citizens.</p>
      <hr>
  <h4>What is the role of Double Taxation Avoidance Agreement(DTAA)?</h4>
      <p>Double Taxation Avoidance Agreement or DTAA is an agreement entered between two countries
        which aims to avoid taxation of the same income in both countries. For claiming the DTAA
        benefit in India assessee needs to present Tax Residency Certificate.
        Tax Residency Certificate can be obtained by the assessee from the government of the country in which NRI resides. </p>
       <hr>
  <h4>How much foreign income is taxable?</h4>
      <p>Income earned and recieved outside India is not taxable in India. However, any income earned
        or accrued or recieved in India is taxable as per income tax slab rate.</p>
      <hr>
  <h4>What will be Taxability of Income from NRE Account ?</h4>
      <p>Any interest earned on the deposit in an NRE account is exempt under section 10(4)(ii)
        for an individual who is a ‘person resident outside India’ as per the FEMA,1999, or who
        is a person permitted by the Reserve Bank of India to maintain the aforesaid account.
        Thus, if you are NRI & permitted to open such account, your interest income is completely tax-free.
        But when you become a Resident – then interest earned on NRE accounts shall be taxable for you.</p>
      <hr>
  </div>
</div>



  <div class="container-fluid" style=" background: #2c5277; padding: 40px 0 60px;">
<h3 class="text-center" style="color:white;">NRI Related Guides</h3>
  <div class="row gx-5 p-3" >
    <div class="col">
     <div class=" border bg-light p-5">
       iconIncome tax for NRIs Status of NRI seems to be cool but it brings with itself a lot of taxation hassle and worries
     </div>
    </div>
    <div class="col">
     <div class=" border bg-light p-5">
       NRE-NRO Accounts: Basic Meaning, Eligibility, Taxation Non-resident Indians (NRI)
       comprises of non-residents under FEMA and non-Indian citizens of Indian Origin (PIO)
     </div>
    </div>
    <div class="col">
      <div class=" border bg-light p-5">
        Double taxation avoidance agreement When it comes to money, everyone wants to earn as much as possible, isn’t it..
      </div>
    </div>
  </div>
</div>

{% endblock %}