{% extends 'navbar.html' %}
{% block content %}
<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 " style="background-color:#3BB9FF;height:auto;">
<div class="text-center pt-5 pb-1" >
    <h1 style="color:white;">Plan Tax Saving and FileIncome Tax Return</h1>
    <h6>With Specialist future proof your Financial Life</h6>
</div>
</div>
<div class="container-fluid mt-3" style="height:auto;">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-xs-12 col-sm-12">
                <img src="static/images/plantaxbg.jpg" width="100%">
                <img src="static/images/plantaxbg.jpg" width="100%">
            </div>
             <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12">
        <div class="row my-3 px-3 mr-2"  style="background-color:white;height:auto; ">
            <div class="col-md-12 col-sm-12   col-xs-12">
                <center style="font-size:30px;" class="pt-5">Let's Start</center>
                <div>
                <div class="my-3">
                <input  type="text" name="full_name"  class="form-control form-control-md " placeholder="Full Name" aria-required="true">
                </div>
                <div class="my-3">
                <input type="email" name="email" class="form-control form-control-md " placeholder="Email Address" aria-required="true">
                </div>
                <div class="my-3">
                <input type="text" name="mobile_no" class="form-control form-control-md mobile_no onflyfields" placeholder="Mobile Number" aria-required="true">
                </div>
                <div class="my-3">
                    <select name="profession" id="cars" class="pt-2 pb-2" style="border-style:groove; padding-right:400px;" >
                            <option value="Select Your Profession">Select Your Profession</option>
                            <option value="SalariedEmployee">Salaried Employee</option>
                            <option value="BusinessMan">Business Man</option>
                            <option value="Freelancer">Freelancer</option>
                            <option value="Professional">Professional</option>
                            <option value="Other">Other</option>
                    </select>
                </div>

                </div>
                <div class="my-4 centerbutton">
                    <button type="button"  class="btn  btn-success " >Proceed to Plan</button>
                </div>
            </div>
           </div>

        </div>


            <div class="col-lg-3 col-md-12 col-xs-12 col-sm-12">
                <img src="static/images/plantaxbg.jpg" width="100%">
                <img src="static/images/plantaxbg.jpg" width="100%">
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container-fluid">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 p-2 mt-4 text-center mb-2" style="background-color:#3BB9FF;height:auto; color:white;font-size:30px;">
      Expertise can help you save maximum taxes and file correct tax return.
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 p-2 mt-4 text-center mb-2" style="font-size:15px;">
        You would agree when we say that alot of money is spent in paying taxes and filing returns.
        When it comes to tax planning and income tax return filing, the right strategy could be highly
        rewarding in saving money & building Rich Life. Hire an Expert for you to future-proof your Financial Life.
    </div>
</div>
<hr>
<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 " style="height:auto;">
<div class="text-center pt-2 pb-1" >
    <h1 style="color:green;">We will Tell you How it works ?</h1>
</div>
</div>


<div class="container-fluid">
<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 ">
    <div class="row">
        <div class="col-lg-5 col-md-12 col-xs-12 col-sm-12 ">
          <img src="static/images/fillform.png">
        </div>
         <div class="col-lg-7 col-md-12 col-xs-12 col-sm-12 p-5">
             <h3  class="pb-3 pl-5">Enter Details & Make Payment</h3>
        <ul>
        <li><img src="static/images/star.png" style="width:5%;">Enter your contact details and pay our fees</li><hr>
        <li><img src="static/images/star.png" style="width:5%;">Our Tax Planning Specialist (CA) will be assigned to you</li><hr>
        <li><img src="static/images/star.png" style="width:5%;">CA will call you and understand about your tax situation</li><hr>
       </ul>
        </div>

    </div>
    <div class="row">

         <div class="col-lg-7 col-md-12 col-xs-12 col-sm-12 p-5">
             <h3 class="pb-3 pl-5">Leave all the hard work to us, We will analyse your</h3>
        <ul>
        <li><img src="static/images/star.png" style="width:5%;">Previous year tax return for excess tax you have paid</li><hr>
        <li><img src="static/images/star.png" style="width:5%;">26 AS with Tax Dept to check correct TDS is deducted & deposited</li><hr>
        <li><img src="static/images/star.png" style="width:5%;">CTC structure to check if that is tax friendly</li><hr>
       </ul>
        </div>
        <div class="col-lg-5 col-md-12 col-xs-12 col-sm-12 ">
          <img src="static/images/leaveonus.png">
        </div>

    </div>
    <div class="row">
        <div class="col-lg-5 col-md-12 col-xs-12 col-sm-12 ">
          <img src="static/images/readydocs.png" width="70% ">
        </div>
         <div class="col-lg-7 col-md-12 col-xs-12 col-sm-12 p-5">
             <h3 class="pb-3 pl-5">Hurray! Your Taxes are Planned & Return is Filed!!!</h3>
        <ul>
        <li><img src="static/images/star.png" style="width:5%;">CA Prepares your Tax planning report</li><hr>
        <li><img src="static/images/star.png" style="width:5%;">We suggests Deductions to save maximum tax</li><hr>
        <li><img src="static/images/star.png" style="width:5%;">We will remind you in June for tax filing once your form 16 is received.</li><hr>
       </ul>
        </div>

    </div>

</div>
</div>
<hr>

<div class="container-fluid mb-4">
    <div class="container-fluid col-lg-12 col-sm-12 col-xs-12 col-md-12  p-5" style="height:auto; background-color:white;">
        <h2 style="color:blue;" class="text-center">Look Out Pricing Plans</h2>
            <ul>
                <div class="row">
                    <div class="col-lg-6 col-sm-12 col-xs-12 col-md-12  pl-5 pt-5 pr-5">
                        <li><i class="far fa-star " style="font-size:30px;color:green"></i>
                                    ITR Filing FY 2021-22(AY 2022-23)
                        </li><hr>
                                <li><i class="far fa-star " style="font-size:30px;color:green "></i>
                                    Tax Saving report
                                 </li><hr>
                                <li><i class="far fa-star " style="font-size:30px;color:green "></i>
                                   Previously Filed ITR Analysis
                                 </li><hr>
                                <li><i class="far fa-star " style="font-size:30px;color:green "></i>
                                    Analysis of 26AS (Tax Credit Statement)
                                 </li><hr>
                                <li><i class="far fa-star " style="font-size:30px;color:green "></i>
                                    Research for maximum tax deductions
                                 </li><hr>
                                <li><i class="far fa-star" style="font-size:30px;color:green "></i>
                                    CTC Structure Optimization
                                 </li><hr>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-xs-12 col-md-12  p-5">
                                <li><i class="far fa-star " style="font-size:30px;color:green "></i>
                                    Rent Receipt Generation
                                 </li><hr>
                                <li><i class="far fa-star " style="font-size:30px;color:green "></i>
                                    Intimation Assistance u/s 143(1)
                                 </li><hr>
                                <li><i class="far fa-star " style="font-size:30px;color:green "></i>
                                    Refund Status Update
                                 </li><hr>
                                <li><i class="far fa-star " style="font-size:30px;color:green "></i>
                                    E-Verification Assistance
                                 </li><hr>
                                <li><i class="far fa-star" style="font-size:30px;color:green "></i>
                                    On call consultation with CA for 30 minutes
                                 </li><hr><li><i class="far fa-star " style="font-size:30px;color:green "></i>
                                    All Tax Situations except capital gain
                                 </li><hr>
                    </div>
                </div>
                <div><center><p class="btn btn-outline-success btn-block" >
                    <strong style="font-size:30px;"> ₹ 999.00</strong>  <br> Inclusive of All Taxes </center>
                </div>
            </ul>
        <br>
        <hr>
            <div class=" container row " >
                <div class="col-lg-8 col-sm-12 col-xs-12 col-md-12 p-5">
                    <h3 style="color:green; " >For Capital Gains</h3>
                    If you have Income from Capital Gains.(Like traded in Shares/ Property/Gold ,etc or want extended on
                    Call Consultation add this to your plan while making payment (Included all listed features mentioned above)
                </div>
                <div class="col-lg-4 col-sm-12 col-xs-12 col-md-12 p-5">
                     <div><center><p class="btn btn-outline-success btn-block" >
                    <strong style="font-size:30px;"> ₹ 1899.00</strong>  <br> Inclusive of All Taxes </center>
                </div>

                </div>
            </div>


        </div>

</div>

{% endblock content %}