{% extends 'navbar.html' %}
{% block content %}


<div class="container-fluid">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
              <img src="static/images/houserent.png" width="100%">
            </div>
            <div class="col-lg-8 col-md-12 col-xs-12 col-sm-12 mt-2">
                <h3 style=""><center>CREATE RENT RECEIPTS TEMPLATES PRE FILLED FOR FREE</center></h3>
               <h4 style="color:blue;"> <center>Get Your Rent Receipts Now!</center></h4>
                <p><center>Avoid the last minute hassle of arranging your rent receipts for claiming HRA exemption.
                Use our free rent receipt generator and save taxes. It is fast, convenient and easy.</center></p>
                <hr>
                <div>
                <strong><h6>Generate FREE Rent Receipts</h6></strong>
                <ul style="list-style-type:disc;">
                    <li>Avoid last minute hassle of arranging rent receipts</li>
                    <li>Fill the required details</li>
                    <li>Print the receipt in PDF Format</li>
                    <li>Get the receipt signed from your landlord</li>
                    <li>Submit it to your company's HR department</li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
           <center><div class="p-2" style="border-radius:50%;background:green;color:white;width:15%; height:20%;font-size:25px;">1</div></center>
            <hr>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                <label for="monthly_rent">Monthly Rent</label>
                <input type="text" name="monthly_rent" value="" id="monthly_rent" maxlength="100" required="" class="form-control " >
            </div>
             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                <label for="rented_house_address">Address of Rented House</label>
                <input type="text" name="rented_house_address" value="" id="rented_house_address" maxlength="100" required="" class="form-control " >
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                <label for="receipt_type">Address of Rented House</label>
                <select id="receipt_type" class="form-control">
                    <option value="Monthly">Monthly</option>
                    <option value="Quartly">Quartly</option>
                    <option value="Half_yearly">Half Yearly</option>
                    <option value="Yearly">Yearly</option>
                </select>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
           <center><div class="p-2" style="border-radius:50%;background:green;color:white;width:15%; height:20%;font-size:25px;">2</div></center>
            <hr>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                <label for="renter_name">Your Name</label>
                <input type="text" name="renter_name" value="" id="renter_name" maxlength="100" required="" class="form-control " >
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                <label for="landlord_name">Name of Landlord</label>
                <input type="text" name="landlord_name" value="" id="landlord_name" maxlength="100" required="" class="form-control " >
            </div>
             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                <label for="landlord_pan">PAN Number of Landlord</label>
                <input type="text" name="landlord_pan" value="" id="landlord_pan" maxlength="100" required="" class="form-control " >
            </div>

        </div>
        <div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
           <center><div class="p-2" style="border-radius:50%;background:green;color:white;width:15%; height:20%;font-size:25px;">3</div></center>
            <hr>
             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                <label for="renter_email">Your Email ID</label>
                <input type="email" name="renter_email" value="" id="renter_email" maxlength="100" required="" class="form-control " >
            </div>
             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                <label for="rent_from">From when would you like to generate the rent receipt? </label>
                <input type="date" name="rent_from" value="" id="rent_from" maxlength="100" required="" class="form-control " >
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                <label for="rent_to">Till when would you like to generate the receipt?</label>
                <input type="date" name="rent_to" value="" id="rent_to" maxlength="100" required="" class="form-control " >
            </div>

        </div>
    </div>

    <div  style="margin:auto;">
        <center>
        <button class="btn btn-outline-success pl-4 pr-4" style="">Generate</button>
        </center>
    </div>
</div>
<hr>
<!--div for generated receipt-->
<div>

</div>

<hr>
<div class="container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="container text-center mb-4">
            <h2>Fill Information And Create Rent Receipt For free</h2>
       <p>For claiming HRA exemptions it is mandatory to submit Rent Receipts to the employer</p>


        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-12 col-xs-12 col-md-12">
                 <p>This can be done in just 4 simple steps</p>
                    <ol style="line">
                <li>Generate rent receipt by filling in the required details</li>
                <hr>
                <li>Print the receipt</li>
                <hr>
                <li>Get the receipt stamped & signed by landlord</li>
                <hr>
                <li>Submit Rent Receipts to your employer</li>
            </ol>
                </div>
                <style>
                    .rent:hover
                    {
                    outline:5px solid gray;
                    }

                </style>
                 <div class="col-lg-8 col-sm-12 col-xs-12 col-md-12 " >
                    <img src="static/images/rent_receipt.jpg" class ="rent" width="100%">

                </div>

            </div>
        </div>
    </div>
</div>
<hr>

<style>
    .t1:hover
    {
      outline:10px ridge white;
      }
</style>
<div class="container-fluid mb-4">
<div class="container p-4 t1" style="background:white;">
<h4>How to generate Rent Receipt ?</h4>
    <hr>
    <p>For claiming HRA exemptions it is mandatory to submit Rent Receipts to the employer
        <br>This can be done in just 3 simple steps</p>
    <ol>
        <li>Enter amount of rent paid and address</li>
        <li>Fill details of self and landlord</li>
        <li>Select Period for which you want to generate rent receipt (Monthly, Quarterly, Annually)</li>
    </ol>
    <div>
        <center>
        <div class="row" style="margin:auto;width:70%;">
            <div class="col p-5   m-2" style="border-radius:50%;background:	#66CDAA;">
                Enter Amount and Address
            </div>
            <span style='font-size:100px;'>&#8594;</span>
            <div class="col p-5   m-2" style="border-radius:50%;background:	#66CDAA;">
               Fill Details of landlord & Self
            </div>
            <span style='font-size:100px;'>&#8594;</span>
            <div class="col p-5  m-2" style="border-radius:50%;background:	#66CDAA;">
               Select Period
            </div>
        </div>
        </center>

    </div>
</div>
</div>
<hr>

<div class="container-fluid mb-4">
<div class="container p-4 t1" style="background:white;">
<h4>What are the details required in rent receipts?</h4>
    <hr>
    <p>The following are the details which are required in the rent receipt:</p>
    <ol>
        <li>Tenant Name (If you are the tenant, fill in your name)</li>
        <li>Landlord Name.</li>
        <li>Amount of Payment.</li>
        <li>Date of Payment.</li>
        <li>Rental Period.</li>
        <li>House Address (Rented Property)</li>
        <li>Signature of Landlord or Manager.</li>
    </ol>
</div>
</div>

<div class="container-fluid mb-4">
<div class="container p-4 t1" style="background:white;">
<h4>Is it necessary to affix a revenue stamp on rent receipt?</h4>
    <hr>
    <p>A revenue stamp is required to be affixed on rent receipts
        if cash payment is more than Rs. 5000 per receipt. If rent is paid through cheque then revenue
        stamp is not required</p>
     <style>
                          td,  th {
                           border: 1px solid #ddd;
                           padding: 8px;
                           }

                      </style>
   <table style="border:1px solid;">
       <tr><th>Mode of Payment</th><th>Whether revenue stamp is required</th></tr>
       <tr><td>Cash, upto 5000 per receipt</td><td>No</td></tr>
       <tr><td>Cash, more than 5000 per receipt</td><td>Yes</td></tr>
       <tr><td>Cheque</td><td>No</td></tr>
   </table>
</div>
</div>

<style>
    .t1:hover
    {
      outline:10px ridge white;
      }
</style>
<div class="container-fluid mb-4">
<div class="container p-4 t1" style="background:white;">
    <center><h3>FAQ’S ON RENT RECEIPTS</h3></center>
     <hr>
     <h4>Can I claim HRA without a rent receipt?</h4>
          <p> If an employee receives HRA in excess of Rs. 3000/- per month, it is mandatory to provide Rent receipt
              to employer as an evidence for claiming HRA. Even if your HRA is less than Rs. 3000/-, try to
              keep rent receipts with you in case the Income Tax Officer asks for them at a later date.
          </p>
     <h4>Do I need to produce a rent receipt for every month?</h4>
          <p> Generally employers ask for rent receipts for 3-4 months.
          </p>
     <h4>Can I claim HRA without a rent receipt?</h4>
          <p> While generating rent receipts online in the third step when you select the period you can make a
              choice of generating rent receipts yearly, monthly or quarterly for the specified time period.</p>
     <h4>Will revenue stamp come in e receipt generation?</h4>
          <p> No, You will get printable rent receipts without revenue stamps.
              You can always get revenue stamps and affix the same if required.</p>
    <h4> Is the PAN of the landlord required for claiming HRA?</h4>
    <p>PAN of landlord is required only if rent exceeds Rs.8333/- per month (Rs.100000/- annually).
        In case the landlord does not have PAN, declaration of the same is required</p>

</div>
</div>
{% endblock content %}