{% extends 'navbar.html' %}

{% block content %}



<div class="container-fluid pt-5 pb-5 mt-3" style="width:auto;background-color:transperent;border-style: ridge;">
    <div class="row">
        <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12 mt-5" >

            <img src="static/images/rf.png" width="100%">
        </div>
        <div id="refundform" class="col-lg-6 col-sm-12 col-md-12 col-xs " style="background-color:;">
            <div class=" col-lg-12 col-md-12 col-sm-12  col-xs-12 pl-0  ">
                <div style="background-color:white ;margin-left:40px; margin-top:40px; padding:50px;" >
                 <div class="my-1">
                 <input type="text" name="pan" class="form-control form-control-md " placeholder="Permanent Account Number" aria-required="true">
                 </div>
                 <div class="my-3">
                 <input type="email" name="email" class="form-control form-control-md " placeholder="Email Address" aria-required="true">
                 </div>
                 <div class="my-3">
                    <input type="datetime-local" name="year" class="form-control form-control-md " placeholder="year" aria-required="true">
                </div>
                    <div class="">
                        <center> <input type="submit" value="Check Refund status" class="btn btn-success"></center>
                </div>
                    <hr >

                    <center>  Or<br><a href="https://tin.tin.nsdl.com/oltas/refund-status-pan.html">
                    Go To Refund Tracking of Tax Information Network of <br>Income Tax Department
                </a>
                </center>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container-fluid pt-5 pb-5 mt-3" style="width:auto;background-color:transparent;border-style: ridge;">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12 col-xs " style="">
        <center>
            <p style="font-size:30px;">Check Income Tax <strong style="color:green;">Refund Status</strong>
                Online Using Income Tax India E-filing</p>
            <hr>
            <p style="font-size:20px;">
                <strong style="color:blue;">  You can check your refund status online and it is Free</strong><br><br>
                If you want to get refund status of income tax which is field this year ,
                that should be updated in Income Tax Department Systems.
                Are you waiting for your Income tax refund?
                Let’s understand various matters related to Income tax refund.

            </p>
        </center>
        </div>
        </div>
    </div>
<div class="container-fluid">
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12" >
        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 mt-4">
        <img src="static/images/tax.jpg" width="100%" height="500px">
        </div>
    </div>
</div>
<div class="container-fluid pt-5 pb-5 mt-3" style="width:auto;background-color:transparent;border-style: ridge;">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 " >
          <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 " >
            <center><h1>Income Tax Refund Status Online</h1></center>
            <hr>
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 ml-4 mr-5" >
              <h3 style="color:green;">What is Income Tax Refund Status ?</h3>
                <p>When a taxpayer makes excess payment of income tax to the
                    government against its actual income tax liability for a given year,
                    the excess amount paid is refunded
                    by the Income tax department after due assessment.
                    This refunded amount is known as “Income tax refund”</p>
                <hr>
                <h3 style="color:green;">How to Check Income Tax Refund status ?</h3>
                  <div>
                    <div class="row">
                         <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                             <center><h5><strong>Option :- 1</strong></h5></center>
                             <hr>
                        <ol>
                            <li>Visit the income tax official website</li>
                            <li>Enter your PAN, password and captcha code to login.</li>
                            <li>On the dashboard click on “View returns/forms”.</li>
                            <li>Choose income tax return in the drop-down.</li>
                            <li>Click on acknowledgment number and if the refund has been
                                paid the details of payment mode, date of credit and amount of refund will show</li>
                        </ol>
                        </div>
                         <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                              <center><h5><strong>Option :- 2</strong></h5></center>
                             <hr>
                        <ol>
                            <li>Thourgh TaxPro website - go to form</li>
                            <li><a href="#refundform" class="btn btn-success mt-3 ml-3">Click Here</a> </li>

                        </ol>
                        </div>
                         </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

                          <div class="row">
                          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="padding-top:100px;">
                              <h5><strong>Option :- 3</strong></h5>
                          <ol>
                              <li>Through <a href="https://tin.tin.nsdl.com/oltas/refundstatuslogin.html">TIN NSDL </a>website</li>
                          <li>Enter your PAN number</li>
                          <li>Select the assessment year for which you want to check the refund status</li>
                          <li>Enter Captcha Code and proceed</li>
                         </ol>
                          </div>
                              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="width:auto;">
                          <img src="static/images/rfs6.png" width="400px;">
                          </div>
                          </div>
                      </div>
                  </div>
                <hr>
                <div class="mb-5">
                    <h3 style="color:green;">When & How to apply for Refund Reissue ?</h3>
                    <p>
                        First verify your Income Tax Return, then track the status of your income tax refund
                        with the department. In case, you have still not received your refund then one of the reasons
                        for the ITR refund delay could be due to a problem in your bank account or address details.
                        In such a situation, you can make a request for refund reissue to the Income Tax Department
                        but only after receiving an "Intimation"
                    </p>
                    <div>
                        <h4>Steps for refunding :</h4>
                        <br>
                          <ol >
                        <div class="row">

                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

                            <li class="l">Open this link  <a href =http://incometaxindiaefiling.gov.in>  http://incometaxindiaefiling.gov.inM</a></li><hr>
                            <li class="l">Enter Credentials ( Pan card Details & Password) </li><hr>
                            <li class="l">After login Search for 'My Account' and click it</li><hr>
                            <li class="l">In DropDown select 'Service Request'</li><hr>
                            <li class="l"> In request type dropdown select “New Request”</li><hr>


                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

                            <li class="l">select “Refund Reissue” under the Request Category. </li><hr>
                            <li class="l">Click Submit button</li><hr>
                            <li class="l">Fill required info.(A/c number,A/c Type,IFSC code,etc) And click Submit</li><hr>
                            <li class="l">For submission of Refund request, users must
                                have EVC. (Authenticate refund request through Aadhaar OTP & EVC code. And click Submit</li><hr>
                        </div>

                        </div>
                              </ol>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12" style="height:500px;">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" >
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img class="d-block w-100" src="static/images/rfs1.jpg" alt="First slide" height="500px" width="100%">
                                </div>
                                <div class="carousel-item">
                                  <img class="d-block w-100" src="static/images/rfs2.jpg" alt="Second slide" height="500px" width="100%">
                                </div>
                                <div class="carousel-item">
                                  <img class="d-block w-100" src="static/images/rfs3.jpg" alt="Third slide" height="500px" width="100%">
                                </div>
                                  <div class="carousel-item">
                                  <img class="d-block w-100" src="static/images/rfs4.jpg" alt="Third slide" height="500px" width="100%">
                                </div>
                                  <div class="carousel-item">
                                  <img class="d-block w-100" src="static/images/rfs5.jpg" alt="Third slide" height="500px" width="100%">
                                </div>
                              </div>
                              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </div>
                    </div>
                </div>
                <h3 style="color:green;">How to claim income tax refund?</h3>
                <p>How to claim income tax refund?
                For claiming your income tax refund or TDS refund all you need to do is give a written
                proof to the Department about your Income and deduction details,
                by way of filing your Income Tax Return. Just make sure that you provide the details of
                all your income and tax deducted/ collected/ paid during the relevant year to ensure the component of refund
                is reflected in your income tax return. Remember, to claim your Income Tax Refund,
                online filing of the return is a must. </p>
                <hr>
                <h3 style="color:green;">How much time does it take for a refund to get credited to my Bank Account?</h3>
                <p>As per the procedure, the Income Tax Department processes the refund only after
processing your ITR.
Generally, it takes 30-45 days from the date of e-verification of your Income Tax
Return to get your refund credited. However, for the returns verified through sending of
ITR-V to CPC Bengaluru, it may take some more time. </p>
                <hr>
                <h3 style="color:green;"> How much income tax refund is received by the taxpayer?</h3>
                <p>When a taxpayer claims a refund in his return of income, the tax department processes
                    such return and the taxpayer would receive an intimation from CPC under section 143(1)
                    which will confirm the amount of refund that the taxpayer is eligible to receive.
                    The refund can either match with or it could be higher / lower than what is claimed in
                    the return of income based on asses sment done by the income tax department. This refund
                    amount is what the taxpayer would ideally receive from the income tax department. </p>
                <hr>
                <h3 style="color:green;">How to Update profile at Tax eFiling ?</h3>
                <div class="container-fluid">
                    <ol>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <li> Visit Tax-eFilin portal <a href=" http://incometaxindiaefiling.gov.in">
                                http://incometaxindiaefiling.gov.in</a> &nbsp &nbsp <strong>Click on Profile Setting > My Profile</strong></li>
                            <div class="m-3" style="width=auto">
                                <img src="static/images/profupdate1.png" >
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <li>Click on the section whose details you wish to change. And then  Click on the option to<strong> “Edit.” </strong></li>
                              <div class="m-3" style="width=auto">
                                <img src="static/images/profupdate3.png" >
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <li>Enter the required details that you wish to edit under the respective fields. And Click on <strong>Save</strong></li>
                              <div class="m-3" style="width=auto">
                                <img src="static/images/profupdate3.png" >
                            </div>
                    </div>
                    </ol>
                </div>
                <hr>
                <h3 style="color:green;"> I am eligible for a refund as per my ITR but haven’t received it yet?</h3>
                <p>First make sure that you have verified your Income Tax Return within 120 days because once
                    your ITR has been verified, only then it will be further processed by the Income Tax Department. </p>
                <hr>
                 <h3 style="color:green;"> How much time does it take for a refund to get credited to my Bank Account?</h3>
                <p>As per the procedure, the Income Tax Department processes the refund only after
                    processing your ITR.
                    Generally, it takes 30-45 days from the date of e-verification of your Income Tax
                    Return to get your refund credited. However, for the returns verified through sending of
                    ITR-V to CPC Bengaluru, it may take some more time. </p>
                <hr>
                <h3 style="color:green;">What are the different ways in which refund is issued by the Department?</h3>
                <p>
                    The Refunds are sent by the Income Tax Department in two ways-<br>
                    <strong>RTGS/NECS</strong>: This is the fastest facility provided by the department to get refunds.
                    Under this facility your refund is directly credited in your bank account.
                    Paper Cheque: Under this facility the department sends an account payee cheque to you.
                    This is comparatively time consuming. The Income Tax Department has altered the process of claiming
                    the ITR refund a bit. It has been made compulsory by the IT Department to pre-validate your bank account
                    in which you wish to receive the income tax refund. Pre Validating bank account
                    alone is not enough, the individual also needs to link the PAN with the bank account.
                    This has come into force from March 1, 2019.
                <hr>

            </div>
            </div>
        </div>

    </div>
</div>

{% endblock content%}
