{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<div class="container-fluid mt-5" style="background-color:#90A8D8;">
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 p-2" >
    <div class="heading-div">
        <center><h1>Aadhaar Card</h1></center>
    </div>
        <hr>
        <p>For establishing unique identification of every single person, UIDAI (Unique Identification Authority of India) on behalf of government of India created a centralised database for collecting biometric and demographic data of residents, and issued a unique 12- digit number known as AADHAR Number. Aadhar is a proof of identity and address, valid for lifetime. It is issued in the form of a letter which is delivered via post to the address mentioned in the application.
        <br>Read Below to know more about Aadhaar Card.
        </p>

</div>
</div>

<style>
  .list1{
     color:black;
     font-size:120%;
     }
</style>
<div class="container-fluid mt-5" style="padding-bottom:50px;background-color:#90A8D8;">
    <div class="row" >
        <div class="col-lg-7 col-sm-12 col-xs-12 col-md-12 p-3" style="padding-top:;" >
            <div class="heading-div pl-4" style="padding-bottom:">
            <h1>Contents</h1>
                <hr>
            </div>
            <ul style="list-style-type:circle;">
            <li><a href="#What-is-Aadhaar-Card" class="list1">What is Aadhar Card?</a></li><hr>
            <li><a href="#what-is-baal-aadhar" class="list1"> What is Baal Addhar?</a></li><hr>
            <li><a href="#Can an agency store VID" class="list1">Can an agency store VID?</a></li><hr>
            <li><a href="#In case of VID, do I need to provide consent for authentication" class="list1">In case of VID, do I need to provide consent for authentication?</a></li><hr>
            <li><a href="#Can VID be used for OTP or biometrics or demographics authentication" class="list1">Can VID be used for OTP or biometrics or demographics authentication?</a></li><hr>
            <li><a href="#Can anyone else generate VID for me" class="list1">Can anyone else generate VID for me?</a></li><hr>
            <li><a href="#What is Virtual ID (VID)" class="list1">What is Virtual ID (VID)?</a></li><hr>
            <li><a href="#What details can I update in Self Service Update Portal (SSUP)" class="list1">What details can I update in Self Service Update Portal (SSUP)?</a></li><hr>
            <li><a href="#Where can I Update my Mobile Number" class="list1" >Where can I Update my Mobile Number?</a></li><hr>
            <li><a href="#e-KYC" class="list1">e-KYC</a></li><hr>
            </ul>
        </div>
        <div class="col-lg-5 col-sm-12 col-md-12 col-xs-12" >
            <img src="static/images/aadharlogo.png"class="mt-5"  width="80%">
            <img src="static/images/aadharbg.png"class="mt-5"  width="80%">
        </div>
    </div>
</div>

<div class="container-fluid mt-5 p-5" style="background-color:white;">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="heading-div" >
            <h2 id="What-is-Aadhaar-Card"> What is Aadhar Card?</h2>
a1        </div>
    <p > India is the second largest populated countries in the world with a population of more than 1.2 billon individuals. In such a large country,<br>
                a need was felt to identify each individual for various financial and welfare services. As such, the Government of India launched the<br>
    concept of Aadhar Card. Aadhar, also called as the Unique Identification Number (UID), is a 12-digit unique identification number which<br>
    is allotted to individuals who apply for it. The record of each individual’s biometric and demographic data is stored in the Aadhar Card<br>
    which can be easily accessed using the unique Aadhar number.<br>
    <br>
    The Unique Identification Authority of India (UIDAI) is the main agency which operates under the Government of India and is tasked with<br>
    the job of issuing Aadhar Cards to individuals. UIDAI collects the biometric and demographic data of the applicants and stores it in a<br>
    centralised database. After the data is collected and verified, a unique Aadhar number is issued which is printed on the Aadhar Card.<br>
    The card also contains the name, address, date of birth, gender and other details of the cardholder. Moreover, there is a QR code in the<br>
        card which can be scanned to access the details of the cardholder easily.</p>
    <div class="heading-div"  >
        <hr>
            <h2 id="what-is-baal-aadhar">What is Baal Addhar?</h2>
        </div>
    <li style="">Baal Aadhaar is for children below 5 year</li>
    <li style="">Baal Aadhaar is blue in colour</li>
    <li style="">Baal Aadhaar does not contain biometric information of the child</li>
    <li style="">When a child attains the age of five, it is mandatory to get Baal Aadhaar updated with biometric information</li>
    <li style="">For the purpose of authentication, one of parent aadhaar is mandatory.</li>
    <li style="">A picture of the child is also required for enrollment of Aadhaar</li>

    <div class="heading-div" >
        <hr>
            <h2 id="Can an agency store VID">Can an agency store VID?</h2>
        </div>
    <p>No. Since VID is temporary and can be changed by the Aadhaar number holder, storing VID has no value. Agencies should not store VID in any database or logs.</p>

<div class="heading-div">
        <hr>
            <h2 id="In case of VID, do I need to provide consent for authentication">In case of VID, do I need to provide consent for authentication?</h2>
        </div>
    <p >Yes, Aadhaar number holder consent is necessary for VID based authentication. Agency is required to inform the Aadhaar number holder the purpose for authentication and collect explicit consent for performing authentication.</p>

    <div class="heading-div">
        <hr>
            <h2 id="Can VID be used for OTP or biometrics or demographics authentication">Can VID be used for OTP or biometrics or demographics authentication?</h2>
        </div>
    <p >Yes. VID can be used in lieu of Aadhaar number in Authentication API input. Various entities will update their Aadhaar authentication application by 31st May 2019 to accept VID as an input for authentication.</p>

    <div class="heading-div">
        <hr>
            <h2 id="Can anyone else generate VID for me">Can anyone else generate VID for me?</h2>
        </div>
    <p >No other entity like AUA/KUA can generate VID on behalf of Aadhaar number holder.</p>
    <div class="heading-div">
        <hr>
            <h2 id="What is Virtual ID (VID)">What is Virtual ID (VID)?</h2>
        </div>
    <p >VID is a temporary, revocable 16-digit random number mapped with the Aadhaar number. VID can be used in lieu of Aadhaar number whenever authentication or e-KYC services are performed. Authentication may be performed using VID in a manner similar to using Aadhaar number. It is not possible to derive Aadhaar number from VID.</p>
<div class="heading-div"  >
        <hr>
            <h2 id="What details can I update in Self Service Update Portal (SSUP)"> What details can I update in Self Service Update Portal (SSUP)?</h2>
        </div>
    <p >You can update your Address online in Self Service Update Portal (SSUP).<br>

For other details updates such as Demographic details (Name, Address, DoB, Gender, Mobile Number, Email) as well as Biometrics (Finger Prints, Iris & Photograph) in Aadhaar you will have to visit Permanent Enrolment Center.</p>
<div class="heading-div"  >
        <hr>
            <h2 id="Where can I Update my Mobile Number"> Where can I Update my Mobile Number?</h2>
        </div>
    <p >You can update your mobile number by visiting a Permanent Enrolment Center. </p>
<div class="heading-div"  >
        <hr>
            <h2 id="e-KYC">e-KYC</h2>
        </div>
    <p class="mb-5">e-KYC is shareable document for verification and it can be used by any Aadhar card holder.To generate e-KYC, all you have to do is generate digitally signed UIDAI details of the user. This should contain mobile no., name , address, DOB etc.

</p>







</div>

</div>


{% endblock %}