{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<div class="container-fluid mt-5" style="background-color:#90A8D8;">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding:50px;">
    <div class="heading-div">
        <center><h1>Capital Gain Tax In India</h1></center>
    </div>
        <hr>
        <p>A capital gains tax (CGT) is a tax on the profit realized on the sale of a non-inventory asset. The most common capital gains are realized from the sale of stocks, bonds, precious metals, real estate, and property.<br>
            Two types of capital gains tax which is levied on long term and short term gains starts from 10% and 15%, respectively. The capital gains tax in India, under Union Budget 2018, 10% tax is applicable on the LTCG on sale of listed securities above Rs. 1lakh and the STCG are taxed at 15%</p>

</div>
</div>

<div class="container-fluid mt-5" style="background-color:#90A8D8;padding-bottom:50px;">
    <div class="row" >
        <div class="col-lg-8 col-sm-12 col-md-12 col-xs-12 ml-4" style="padding-top:50px;padding-left:100px;" >
            <div class="heading-div" style="padding-bottom:20px;">
            <h1>Contents</h1>
            </div>
            <li><a href="#What can be deducted from capital gains?" style="color:black;">What can be deducted from capital gains?</a></li>
            <li><a href="#How taxation of capital gain takes place?" style="color:black;">How taxation of capital gain takes place?</a></li>
            <li><a href="#Do you have to pay income tax after capital gains tax?" style="color:black;">Do you have to pay income tax after capital gains tax?</a></li>
            <li><a href="#Do seniors have to pay capital gains?" style="color:black;">Do seniors have to pay capital gains?</a></li>
            <li><a href="#What is Capital Gain example?" style="color:black;">What is Capital Gain example?</a></li>
            <li><a href="#What would capital gains tax be on $50 000?" style="color:black;">What would capital gains tax be on $50 000?</a></li>
            <li><a href="#Do I pay capital gains when I sell my house?" style="color:black;">Do I pay capital gains when I sell my house?</a></li>
            <li><a href="#Do you pay state tax on capital gains?" style="color:black;">Do you pay state tax on capital gains?</a></li>
            <li><a href="#Do capital gains get taxed twice?" style="color:black;">Do capital gains get taxed twice?</a></li>



        </div>
        <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 mt-5">
            <img src="static/images/capitalgain2.png" style="hight:570px; width:570px;padding-bottom:30px;padding-right:150px;">
<!--            <img src="static/images/aadharbg.png" style="hight:320px; width:300px;">-->

        </div>
    </div>
</div>

<div class="container-fluid " style="background-color:white;padding-top:50px;">
        <div class="heading-div" style="padding-left:50px; padding-top:30px; padding-bottom:20px;" >
            <h2 id="What can be deducted from capital gains?">What can be deducted from capital gains?</h2>
        </div>
    <p style="padding-left:50px">You are allowed to deduct from the sales price almost any type of selling expenses, provided that they don't physically affect the property. Such expenses may include: advertising. appraisal fees.
</p>

    <div class="heading-div" style="padding-left:50px; padding-top:30px; padding-bottom:20px;" >
        <hr>
            <h2 id="How taxation of capital gain takes place?">How taxation of capital gain takes place?</h2>
        </div>
    <p style="padding-right:70px;padding-left:50px;">The entire value earned from selling a capital asset is considered as taxable income. To be eligible for taxation during a financial year, the transfer of a capital asset should take place in the previous fiscal year. Financial gains against a sale of an asset are not applicable to inherited property.</p>

<div class="heading-div" style="padding-left:50px; padding-top:30px; padding-bottom:20px;" >
        <hr>
            <h2 id="Do you have to pay income tax after capital gains tax?">Do you have to pay income tax after capital gains tax?</h2>
        </div>
    <p style="padding-right:70px;padding-left:50px;">And now, the good news: long-term capital gains are taxed separately from your ordinary income, and your ordinary income is taxed FIRST. In other words, long-term capital gains and dividends which are taxed at the lower rates WILL NOT push your ordinary income into a higher tax bracket.</p>
 <div class="heading-div" style="padding-left:50px; padding-top:30px; padding-bottom:20px;" >
        <hr>
            <h2 id="Do seniors have to pay capital gains?">Do seniors have to pay capital gains?</h2>
        </div>
    <p style="padding-right:70px;padding-left:50px;">Seniors, like other property owners, pay capital gains tax on the sale of real estate. The gain is the difference between the "adjusted basis" and the sale price. ... The selling senior can also adjust the basis for advertising and other seller expenses.</p>
 <div class="heading-div" style="padding-left:50px; padding-top:30px; padding-bottom:20px;" >
        <hr>
            <h2 id="What is Capital Gain example?">What is Capital Gain example?</h2>
        </div>
    <p style="padding-right:70px;padding-left:50px;">When you sell a capital asset, the difference between the sales price and your basis is either a capital gain (if the sales price is higher than your basis) or a capital loss (if the sales price is lower than your basis). For example, say you purchase 100 shares of Apple stock (AAPL) for $120 per share.</p>
 <div class="heading-div" style="padding-left:50px; padding-top:30px; padding-bottom:20px;" >
        <hr>
            <h2 id="What would capital gains tax be on $50 000?">What would capital gains tax be on $50 000?</h2>
        </div>
    <p style="padding-right:70px;padding-left:50px;">If the capital gain is $50,000, this amount may push the taxpayer into the 25 percent marginal tax bracket. In this instance, the taxpayer would pay 0 percent of capital gains tax on the amount of capital gain that fit into the 15 percent marginal tax bracket.</p>
 <div class="heading-div" style="padding-left:50px; padding-top:30px; padding-bottom:20px;" >
        <hr>
            <h2 id="Do I pay capital gains when I sell my house?">Do I pay capital gains when I sell my house?</h2>
        </div>
    <p style="padding-right:70px;padding-left:50px;">Under current laws, if you sell your principal home and make a profit, you can exclude $250,000 of that profit from your taxable income. ... So, depending on how much of a profit you make on the sale, you and your husband could potentially have no capital gains tax bill at all.</p>

<div class="heading-div" style="padding-left:50px; padding-top:30px; padding-bottom:20px;" >
        <hr>
            <h2 id="Do you pay state tax on capital gains?">Do you pay state tax on capital gains?</h2>
        </div>
    <p style="padding-right:70px;padding-left:50px;">Simply put, California taxes all capital gains as regular income. ... This means your capital gains taxes will run between 1% up to 13.3%, depending on your overall income and corresponding California tax bracket.</p>
<div class="heading-div" style="padding-left:50px; padding-top:30px; padding-bottom:20px;" >
        <hr>
            <h2 id="Do capital gains get taxed twice?">Do capital gains get taxed twice?</h2>
        </div>
    <p class="mb-5" style="padding-right:70px;padding-left:50px;">Capital Gains are Taxed Twice. ... Since the effective corporate rate is 39.2% (the top federal rate and the average state tax rate), the corporation has already paid taxes on all income, including what is paid out to investors as dividends.</p>









{% endblock %}