{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<div class="container-fluid mt-5" style="background-color:#90A8D8;">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding:50px;">
    <div class="heading-div">
        <center><h1>Income tax return</h1></center>
    </div>
        <hr>
        <p>Income Tax Return is the form in which assessee files information about his/her Income and tax thereon to Income Tax Department. Various forms are ITR 1, ITR 2, ITR 3, ITR 4, ITR 5, ITR 6 and ITR 7. When you file a belated return, you are not allowed to carry forward certain losses.<br>
            The Income Tax Act, 1961, and the Income Tax Rules, 1962, obligates citizens to file returns with the Income Tax Department at the end of every financial year. These returns should be filed before the specified due date. Every Income Tax Return Form is applicable to a certain section of the Assessees. Only those Forms which are filed by the eligible Assessees are processed by the Income Tax Department of India. It is therefore imperative to know which particular form is appropriate in each case. Income Tax Return Forms vary depending on the criteria of the source of income of the Assessee and the category of the Assessee.
        </p>

</div>
</div>

<div class="container-fluid mt-5" style="background-color:#90A8D8;padding-bottom:50px;">
    <div class="row" >
        <div class="col-lg-8 col-sm-12 col-md-12 col-xs-12 ml-4" style="padding-top:50px;padding-left:100px;" >
            <div class="heading-div" style="padding-bottom:20px;">
            <h1>Contents</h1>
            </div>
            <li><a href="#What is Form No. 16?" style="color:black;">What is Form No. 16??</a></li>
            <li><a href="#What is the difference between Form No. 16 and I-T Return?" style="color:black;">What is the difference between Form No. 16 and I-T Return?</a></li>
            <li><a href="#Can I compute my tax at lesser amount than shown in Form 16?" style="color:black;">Can I compute my tax at lesser amount than shown in Form 16?</a></li>
            <li><a href="#What will happen if I do not share my PAN share the wrong PAN with my employer?" style="color:black;">What will happen if I do not share my PAN share the wrong PAN with my employer?</a></li>
            <li><a href="#Besides my salary income, do I need to inform my employer about my other incomes?" style="color:black;">Besides my salary income, do I need to inform my employer about my other incomes?</a></li>
            <li><a href="#What is Part A and Part B of Form No. 16?" style="color:black;">What is Part A and Part B of Form No. 16?</a></li>
            <li><a href="#In Form No. 16, there are mentions of section 17(1), 17(2) and 17(3), what do they mean?" style="color:black;">In Form No. 16, there are mentions of section 17(1), 17(2) and 17(3), what do they mean?</a></li>
            <li><a href="#What do you mean by ‘perquisites’?" style="color:black;">What do you mean by ‘perquisites’?</a></li>
            <li><a href="#What is meant by Standard Deduction?" style="color:black;">What is meant by Standard Deduction?</a></li>



        </div>
        <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 mt-5">
            <img src="static/images/itr1.png" style="hight:570px; width:570px;padding-bottom:30px;padding-right:150px;">
<!--            <img src="static/images/aadharbg.png" style="hight:320px; width:300px;">-->

        </div>
    </div>
</div>

<div class="container-fluid " style="background-color:white;padding-top:50px;">
        <div class="heading-div" style="padding-left:50px; padding-top:30px; padding-bottom:20px;" >
            <h2 id="What is Form No. 16?">What is Form No. 16?</h2>
        </div>
    <p style="padding-left:50px">Form 16 is your salary TDS certificate. ... Form 16 is a certificate issued to salaried individuals from their employer when he deducts tax from the employee salary. In simple words, it is an acknowledgement which states your deducted tax has been deposited with the Income Tax department</p>

    <div class="heading-div" style="padding-left:50px; padding-top:30px; padding-bottom:20px;" >
        <hr>
            <h2 id="What is the difference between Form No. 16 and I-T Return?">What is the difference between Form No. 16 and I-T Return?</h2>
        </div>
    <p style="padding-right:70px;padding-left:50px;">Form 16 is a Certificate issued by employer showing TDS deducted and paid on the employee's salary. ... However, Form 16 is not a substitute to Income Tax Return. This is because Form 16 includes only that information which is disclosed to the employer.</p>

<div class="heading-div" style="padding-left:50px; padding-top:30px; padding-bottom:20px;" >
        <hr>
            <h2 id="Can I compute my tax at lesser amount than shown in Form 16?">Can I compute my tax at lesser amount than shown in Form 16?</h2>
        </div>
    <p style="padding-right:70px;padding-left:50px;">Sometimes the receipts under the heads 'income from house property' or 'income from other sources' mentioned in Forms 16, Form 16A and Form 26AS may be shown under a different head in ITR. So in this case, income tax notice will not be served for any likely difference between the two.</p>
 <div class="heading-div" style="padding-left:50px; padding-top:30px; padding-bottom:20px;" >
        <hr>
            <h2 id="What will happen if I do not share my PAN share the wrong PAN with my employer?">What will happen if I do not share my PAN share the wrong PAN with my employer?</h2>
        </div>
    <p style="padding-right:70px;padding-left:50px;">If you do not have a PAN, the Income Tax Department may consider you to be concealing important information related to your financial transactions from them. Also, in the absence of a PAN, you can't enjoy the tax benefits offered by the Government and you will be liable to pay taxes at the highest rate applicable.</p>
 <div class="heading-div" style="padding-left:50px; padding-top:30px; padding-bottom:20px;" >
        <hr>
            <h2 id="Besides my salary income, do I need to inform my employer about my other incomes?">Besides my salary income, do I need to inform my employer about my other incomes?</h2>
        </div>
    <p style="padding-right:70px;padding-left:50px;">However, it is not mandatory for the employee to disclose such income to the employer. ... While calculating Tax Deducted at Source on salary, your employer will consider both the figures and balance TDS if any will be deducted from your salary. You have option of not disclosing such income and TDS to your employer.</p>
 <div class="heading-div" style="padding-left:50px; padding-top:30px; padding-bottom:20px;" >
        <hr>
            <h2 id="In Form No. 16, there are mentions of section 17(1), 17(2) and 17(3), what do they mean?">In Form No. 16, there are mentions of section 17(1), 17(2) and 17(3), what do they mean?</h2>
        </div>
    <p style="padding-right:70px;padding-left:50px;">“Perquisite” is defined in the section 17(2) of the Income tax Act as including: ... (i) Value of rent-free/concessional rent accommodation provided by the employer. (ii) Any sum paid by employer in respect of an obligation which was actually payable by the assessee.</p>
 <div class="heading-div" style="padding-left:50px; padding-top:30px; padding-bottom:20px;" >
        <hr>
            <h2 id="What is Part A and Part B of Form No. 16?">What is Part A and Part B of Form No. 16?</h2>
        </div>
    <p style="padding-right:70px;padding-left:50px;">What Is Form 16 Part A & Part B ?? As per the Income Tax Act 1961 A person making payment to other person upon a threshold limit need to deduct tax. In case of Employer making payment to his Employee in a term of Salary. ... whereas Form 16 A is Aggregate of salary paid/ Credited to his Account and tax deducted thereon..</p>

<div class="heading-div" style="padding-left:50px; padding-top:30px; padding-bottom:20px;" >
        <hr>
            <h2 id="What do you mean by ‘perquisites’?">What do you mean by ‘perquisites’?</h2>
        </div>
    <p style="padding-right:70px;padding-left:50px;">“Perquisite” may be defined as any casual emolument or benefit attached to an office or position in addition to salary or wages. In essence, these are usually non-cash benefits given by an employer to employees in addition to cash salary or wages.</p>
<div class="heading-div" style="padding-left:50px; padding-top:30px; padding-bottom:20px;" >
        <hr>
            <h2 id="What is meant by Standard Deduction?">What is meant by Standard Deduction?</h2>
        </div>
    <p class="mb-5" style="padding-right:70px;padding-left:50px;">The standard deduction is the portion of income not subject to tax that can be used to reduce your tax bill. You can choose between a standard deduction and itemized deductions. The amount of your standard deduction is based on your filing status, age, and other criteria.</p>









{% endblock %}