{% extends 'navbar.html' %}
{% block content %}
<style>
    .tx
    {
      font-size:24px;
      color:white;
      font-weight: bold;
    }

</style>
 <div id="glossary" class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <nav id="alphabet" class="glossaryNav navbar navbar-light my-4">
                            <ul id="glossaryNavList" class="btn-success nav nav-pills mx-auto mt-2  " role="tablist" style="background:#79CDCD;">
                                <li class="nav-item  "><a class="nav-link rounded-0 tx" href="#listA" >A</a></li>
                                <li class="nav-item  "><a class="nav-link rounded-0 tx" href="#listB">B</a></li>
                                <li class="nav-item  "><a class="nav-link rounded-0 tx" href="#listC">C</a></li>
                                <li class="nav-item  "><a class="nav-link rounded-0 tx" href="#listD">D</a></li>
                                <li class="nav-item  "><a class="nav-link rounded-0 tx" href="#listE">E</a></li>
                                <li class="nav-item  "><a class="nav-link rounded-0 tx" href="#listF">F</a></li>
                                <li class="nav-item  "><a class="nav-link rounded-0 tx" href="#listG">G</a></li>
                                <li class="nav-item  "><a class="nav-link rounded-0 tx" href="#listH">H</a></li>
                                <li class="nav-item  "><a class="nav-link rounded-0 tx" href="#listI">I</a></li>
                                <li class="nav-item  "><a class="nav-link rounded-0 tx" href="#listJ">J</a></li>
                                <li class="nav-item  "><a class="nav-link rounded-0 tx" href="#listK">K</a></li>
                                <li class="nav-item  "><a class="nav-link rounded-0 tx" href="#listL">L</a></li>
                                <li class="nav-item  "><a class="nav-link rounded-0 tx" href="#listM">M</a></li>
                                <li class="nav-item  "><a class="nav-link rounded-0 tx" href="#listN">N</a></li>
                                <li class="nav-item  "><a class="nav-link rounded-0 tx" href="#listO">O</a></li>
                                <li class="nav-item  "><a class="nav-link rounded-0 tx" href="#listP">P</a></li>
                                <li class="nav-item  "><a class="nav-link rounded-0 tx" href="#listQ">Q</a></li>
                                <li class="nav-item  "><a class="nav-link rounded-0 tx" href="#listR">R</a></li>
                                <li class="nav-item  "><a class="nav-link rounded-0 tx" href="#listS">S</a></li>
                                <li class="nav-item  "><a class="nav-link rounded-0 tx" href="#listT">T</a></li>
                                <li class="nav-item  "><a class="nav-link rounded-0 tx" href="#listU">U</a></li>
                                <li class="nav-item  "><a class="nav-link rounded-0 tx" href="#listV">V</a></li>
                                <li class="nav-item  "><a class="nav-link rounded-0 tx" href="#listW">W</a></li>
                                <li class="nav-item  "><a class="nav-link rounded-0 tx" href="#listX">X</a></li>
                                <li class="nav-item  "><a class="nav-link rounded-0 tx" href="#listY">Y</a></li>
                                <li class="nav-item  "><a class="nav-link rounded-0 tx" href="#listZ">Z</a></li>
                            </ul>
                        </nav>
                    </div>
 </div>
<div class="container-fluid">
    <h2 class="text-center">A</h2>
    <hr>
    <div id="listA">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6 p-3 text-center"><img src="static/images/glossarrow.png" width="20%">
                &nbsp&nbsp&nbsp <a href="#aadhar">Aadhar</a></div>
            <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6 p-3 text-center"><img src="static/images/glossarrow.png" width="20%">
                &nbsp&nbsp&nbsp <a href="#accruedincome">Accrued income </a></div>
            <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6 p-3 text-center"><img src="static/images/glossarrow.png" width="20%">
                &nbsp&nbsp&nbsp <a href="#advancetax">Advance tax</a></div>
            <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6 p-3 text-center"><img src="static/images/glossarrow.png" width="20%">
                &nbsp&nbsp&nbsp <a href="#assessee">Assessee</a></div>
            <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6 p-3 text-center"><img src="static/images/glossarrow.png" width="20%">
                &nbsp&nbsp&nbsp <a href="#assessmentyear">Assessment year</a></div>
        </div>
    </div>
    <h2 class="text-center">C</h2>
    <hr>
    <div id="listC">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6 p-3 text-center"><img src="static/images/glossarrow.png" width="20%">
                &nbsp&nbsp&nbsp <a href="#capitalexpenses">Capital Expenses</a></div>
            <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6 p-3 text-center"><img src="static/images/glossarrow.png" width="20%">
                &nbsp&nbsp&nbsp <a href="#capitalgain">Capital Gain </a></div>
            <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6 p-3 text-center"><img src="static/images/glossarrow.png" width="20%">
                &nbsp&nbsp&nbsp <a href="#computationofincome">Computation of Income</a></div>

        </div>
    </div>
    <h2 class="text-center">D</h2>
    <hr>
    <div id="listD">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6 p-3 text-center"><img src="static/images/glossarrow.png" width="20%">
                &nbsp&nbsp&nbsp <a href="#deductionunderchaptervia">Deduction under chapter VI-A</a></div>
            <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6 p-3 text-center"><img src="static/images/glossarrow.png" width="20%">
                &nbsp&nbsp&nbsp <a href="#directtax">Direct tax </a></div>
            <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6 p-3 text-center"><img src="static/images/glossarrow.png" width="20%">
                &nbsp&nbsp&nbsp <a href="#doubletaxtation">Double Taxtation</a></div>

        </div>
    </div>
    <h2 class="text-center">E</h2>
    <hr>
    <div id="listE">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6 p-3 text-center"><img src="static/images/glossarrow.png" width="20%">
                &nbsp&nbsp&nbsp <a href="#everify">E verify</a></div>
            <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6 p-3 text-center"><img src="static/images/glossarrow.png" width="20%">
                &nbsp&nbsp&nbsp <a href="#exemptincome">Exempt income</a></div>
        </div>
    </div>
    <h2 class="text-center">F</h2>
    <hr>
    <div id="listF">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6 p-3 text-center"><img src="static/images/glossarrow.png" width="20%">
                &nbsp&nbsp&nbsp <a href="#form26as">Form 26AS </a></div>
            <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6 p-3 text-center"><img src="static/images/glossarrow.png" width="20%">
                &nbsp&nbsp&nbsp <a href="#form16">Form -16</a></div>
        </div>
    </div>
    <h2 class="text-center">G</h2>
    <hr>
    <div id="listG">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6 p-3 text-center"><img src="static/images/glossarrow.png" width="20%">
                &nbsp&nbsp&nbsp <a href="#grosstotaleincome">Gross total INCOME </a></div>
            <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6 p-3 text-center"><img src="static/images/glossarrow.png" width="20%">
                &nbsp&nbsp&nbsp <a href="#gst">GST </a></div>
        </div>
    </div>
    <h2 class="text-center">I</h2>
    <hr>
    <div id="listI">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6 p-3 text-center"><img src="static/images/glossarrow.png" width="20%">
                &nbsp&nbsp&nbsp <a href="#">INCOME </a></div>
            <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6 p-3 text-center"><img src="static/images/glossarrow.png" width="20%">
                &nbsp&nbsp&nbsp <a href="#">Income tax</a></div>
            <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6 p-3 text-center"><img src="static/images/glossarrow.png" width="20%">
                &nbsp&nbsp&nbsp <a href="#incometaxrate">Income tax rate</a></div>
            <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6 p-3 text-center"><img src="static/images/glossarrow.png" width="20%">
                &nbsp&nbsp&nbsp <a href="#incometaxrefund">Income tax Refund</a></div>
            <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6 p-3 text-center"><img src="static/images/glossarrow.png" width="20%">
                &nbsp&nbsp&nbsp <a href="#itrv">ITR-V</a></div>
            <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6 p-3 text-center"><img src="static/images/glossarrow.png" width="20%">
                &nbsp&nbsp&nbsp <a href="#itrform">ITR form</a></div>
            <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6 p-3 text-center"><img src="static/images/glossarrow.png" width="20%">
                &nbsp&nbsp&nbsp <a href="#incometaxreturn">Income tax return </a></div>
            <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6 p-3 text-center"><img src="static/images/glossarrow.png" width="20%">
                &nbsp&nbsp&nbsp <a href="#indirecttaxgst">Indirect tax-GST</a></div>
        </div>
    </div>
    <h2 class="text-center">P</h2>
    <hr>
    <div id="listP">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6 p-3 text-center"><img src="static/images/glossarrow.png" width="20%">
                &nbsp&nbsp&nbsp <a href="#pan">Pan</a></div>
            <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6 p-3 text-center"><img src="static/images/glossarrow.png" width="20%">
                &nbsp&nbsp&nbsp <a href="#person">Person</a></div>
            <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6 p-3 text-center"><img src="static/images/glossarrow.png" width="20%">
                &nbsp&nbsp&nbsp <a href="#previousyear">Previous year(P.Y)</a></div>
        </div>
    </div>
    <h2 class="text-center">S</h2>
    <hr>
    <div id="listS">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6 p-3 text-center"><img src="static/images/glossarrow.png" width="20%">
                &nbsp&nbsp&nbsp <a href="#selfassessmenttax">Self Assessment tax</a></div>
            <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6 p-3 text-center"><img src="static/images/glossarrow.png" width="20%">
                &nbsp&nbsp&nbsp <a href="#specimensofdifferentitrformt">Specimens of different ITR form T</a></div>
        </div>
    </div>
    <h2 class="text-center">T</h2>
    <hr>
    <div id="listT">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6 p-3 text-center"><img src="static/images/glossarrow.png" width="20%">
                &nbsp&nbsp&nbsp <a href="#tan">Tan</a></div>
            <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6 p-3 text-center"><img src="static/images/glossarrow.png" width="20%">
                &nbsp&nbsp&nbsp <a href="#tds">TDS</a></div>
        </div>
    </div>

</div>

<div class="container-fluid">
    <div id="aadhar" class="p-4 mb-3" style="background:white;">
        <h3>Aadhar</h3>
       <p> Aadhaar is a 12 digit individual identification number issued by the Unique Identification
           Authority of India on behalf of the Government of India.The number serves as a proof of identity
           and address, anywhere in India.
       Aadhaar is a unique identification number which consists of 12 digits. This is issued by UIDAI to
           against successful submission of requisite documents. An important thing about aadhaar is that it
           is generated based upon the Demographic information (name, dob, address etc) and Biometric details
           of a person (fingerprints, IRIS scan & facial photograph). Since the biometric profiles could not
           be forged or duplicated, aadhaar leaves no way out for duplication or fraud.
       </p>
    </div>
    <div id="accruedincome" class="p-4 mb-3" style="background:white;">
        <h3>Accrued Income</h3>
       <p>Accrued income refers to that amount of money which has been booked on your name but not yet
           actually received. Suppose for an example, the salary for the month of march accrues as soon
           as the month is completed although it might be transferred in the bank account during the next
           financial year i.e. in april. As per the accrual concept of accounting such incomes are recorded
           in books of accounts and offered for taxation at vary time they have accrued and not postponed
           till actual receipt.In the example above salary for the month of march would be offered for taxation
           in the month of march and not in the next financial year or month of April. </p>
    </div>
    <div id="advancedtax" class="p-4 mb-3" style="background:white;">
        <h3>Advanced Tax</h3>
       <p> Advance tax is also known as pay tax as you earn. It should be paid in advance during the financial
           year instead of a lump sum payment after the end of the year. You need to pay advance tax,
           if your estimated total tax liability [after TDS] is Rs 10,000 or more in a financial year.
          These payments have to be made in instalments as per due dates provided by the income tax department.
           Advance tax applies to all taxpayers irrespective of the profession, whether you are salaried,
           freelancer, or businessmen. However, Senior citizens, who are 60 years or more , and do not run a
           business, are exempt from paying advance tax.</p>
    </div>
    <div id="assessee" class="p-4 mb-3" style="background:white;">
        <h3>Assessee</h3>
       <p> Any person whose interest is being talked about is referred as assessee In simple words,
           if you are filing a return of any person, then that person will be called assessee by the
           Income Tax Department, not you.
           <strong>The various situations when you will be termed as “Assessee” by the Income Tax Department are :</strong>
       <ul style="list-style-type:disc;">
        <li>You have tax, interest or penalty payable to the IT department.</li>
        <li>Any proceeding have been done or initiated by the department against your income or refund or loss or in respect of any person for whom you are assessable.</li>
        <li>You are a deemed assessee under IT Act.</li>
        <li>You are at default under any of the sections of the IT Act. For instance, you have not deposited TDS deducted of any person with the government</li>
        <li>You are entitled to tax refund, if any.</li>
       </ul>
        <strong>Types of Assessee:</strong>
        <ul>
            <li>Individual - Ayush, Tarun</li>
            <li>Partnership Firm - M/s ABC and Company, M/s ABC and associates, ABC LLP</li>
            <li>A Hindu Undivided Family - Mr. A (HUF) or Mr. B (HUF).</li>
            <li>Company - Winiin Taxscope Private Ltd., Winiin Taxscope Ltd.</li>
            <li>An Association of persons or a body of Individuals - ABC Sangh or XYZ Dal</li>
            <li>A Local Authority - JDA or PCMC Municipal Corporation.</li>
            <li>Artificial Juridical person not covered under any of the above categories. (Residual Category).</li>
        </ul>
       </p>
    </div>
    <div id="assessmentyear" class="p-4 mb-3" style="background:white;">
        <h3>Assessment Year (A.Y.)</h3>
       <p>The year in which your income is assessed is known as assessment year. The period for assessment year starts from 1st April and ends on 31st March of the next year.
In other words, it is the year immediately following the financial year i.e. the year in which you have earned your income.
For instance, for F.Y. 2017-18, the A.Y. would be from 1st April 2018 till 31st March 2019. </p>
    </div>
     <div id="capitalexpenses" class="p-4 mb-3" style="background:white;">
        <h3>Capital Expenses</h3>
       <p> Outflow of money i.e. expenses incurred on procuring (buying) , installing or bringing capital assest (i.e. fixed assets) into function (maintenance or improvement costs) are known as capital expenses.</p>
    </div>
    <div id="capitalgain" class="p-4 mb-3" style="background:white;">
        <h3>Capital Gain</h3>
       <p>The profit or gain arising on sale, transfer or disposal of capital asset is known as capital gain.</p>
    </div>
    <div id="computationofincome" class="p-4 mb-3" style="background:white;">
        <h3>Computation of income</h3>
       <p>A systematic presentation of all the incomes, exemptions, rebate, reliefs, deductions together with calculation of taxes is known as computation of total income. There is no set format for the same, generally following elements are considered while making computation of total income - personal details of assessee ( Name, father's name, address, contact details etc), bank account details, income details and calculation of taxes and taxes paid details.</p>
    <div class="text-center">
        <img src="static/images/b1.jpg">
    </div>
    </div>
    <div id="deductionunderchaptervia" class="p-4 mb-3" style="background:white;">
        <h3>Deductions under Chapter VI - A</h3>
       <p>The income tax law, allows the subtraction of some specified expenditures / investments from your gross total income, for the calculation of taxes.These specified expenditures/investments are covered under Chapter VI-A of the Income Tax Act under various sections (Section 80C -Section 80U).These deductions cannot exceed the gross total income.</p>
    </div>
    <div id="directtax" class="p-4 mb-3" style="background:white;">
        <h3>Direct Tax</h3>
       <p> Taxes paid directly by the taxpayer on his income earned are known as direct taxes. One such common example in India is Income Tax.</p>
    </div>
    <div id="doubletaxtation" class="p-4 mb-3" style="background:white;">
        <h3>Double Taxtation</h3>
       <p>Double taxation refers to tax charged on the income which has already been charged to taxes under the provisions of some other tax law or the tax law of some other country. Basically, it means tax charged twice on the same income, hence known as double taxation.</p>
    </div>
    <div id="everify" class="p-4 mb-3" style="background:white;">
        <h3>E Verify</h3>
       <p>The electronic verification of the income tax return filed thorugh EVC (electronic verification code), aadhaar based OTP, thorugh net banking or authorised bank ATM's etc is known as e verify of ITR. The copy of acknowledgement (ITR V) is not required to be sent by post to Bengaluru in this case. </p>
    </div>
    <div id="exemptincome" class="p-4 mb-3" style="background:white;">
        <h3>Exempt Incomes</h3>
       <p>Exempt Incomes are the incomes that are not chargeable to tax as per Income Tax law i.e. they are not included in the total income for the purpose of tax calculation while taxable Incomes are chargeable to tax under the Income Tax law.
           Exempt income are those on which tax is not likely to be paid.Some examples are - dividend income, agricultural income etc.</p>
    </div>
    <div id="form26as" class="p-4 mb-3" style="background:white;">
        <h3>Form 26AS</h3>
       <p>Form 26AS is a statement maintained and generated by the Income Tax Department for each individual assessee (person). Form 26AS is also known as annual statement which contains all tax related information of a taxpayer. The details give a clearer picture of the tax commitments of a taxpayer. It is associated with PAN. Form 26AS contains:</p>
        <ul style="list-style-type:disc">
            <li>Details of tax deducted on your income by deductors(TDS).</li>
            <li>Details of tax collected by collectors(TCS).</li>
            <li>Advance tax paid by the taxpayer.</li>
            <li>Regular assessment tax deposited by the taxpayers (PAN holders).</li>
            <li>Details of refund received by you during the financial year.</li>
            <li>Details of the High value Transactions in respect of shares, mutual fund etc.</li>
            <li>Interest received from bank & others without deducting any TDS as declaration is provided such as Form 15G / H in respect of low/no deduction.</li>
        </ul>
    </div>
    <div id="form16" class="p-4 mb-3" style="background:white;">
        <h3>Form 16</h3>
        <p>Form-16 is a certificate that your employer gives you as an acknowledgement of the deduction and deposition of the total TDS (tax) deducted from salary with the Income Tax Department.
            Details of TDS deducted and the details of salary, allowances (like amount paid for housing rent, medical reimbursements etc) & deductions are mentioned in Form-16 (Part B).
            It is given after the end of year and helps you file your income tax return.
            Form 16 might differ in formats depending upon employer to employer but a standard form 16 looks like this :-
            Part A of FORM 16 contains details of tax which is deducted from your income by the employer while Part B gives the detailed breakup / composition of your income details and dedcutions etc</p>
   <div class="row">
       <div class="col-lg-6">
       <img src="static/images/form16a.jpg" width="100%">
       </div>
       <div class="col-lg-6">
       <img src="static/images/form16.jpg" width="100%">
       </div>
    </div>
    </div>
    <div id="grosstotalincome" class="p-4 mb-3" style="background:white;">
        <h3>Gross Total Income</h3>
       <p>The aggregate of all your income from all the five heads - salary, house property, capital gains, business and other sources, before allowing the deductions under chapter VI-A(section 80C-80U) is known as Gross Total Income.</p>
    </div>
    <div id="gst" class="p-4 mb-3" style="background:white;">
        <h3>GST</h3>
       <p>GST or Goods and Service Tax is an indirect tax implemented in India with effect form July 2017. It has subsumed all major indirect taxes prevelant previously like luxury tax, entertainment tax, sales tax, excise duty, service tax, VAT etc. GST has came out to be as one nation one tax and it is a destination based consumption tax</p>
    </div>
    <div id="income" class="p-4 mb-3" style="background:white;">
        <h3>Income</h3>
       <p>The word Income has a very broad meaning. It generally means a monetary return whether received in cash or kind. The income tax department does not make any distinction between temporary and permanent income. Every the temporary income or one time income is taxable.
          For instance, if you are salaried person, then all that is received from an employer whether in cash, kind or as a facility is considered as income. For a businessman, his business profits will constitute income. Income may also flow from investments in the form of Interest, Dividend, and Commission etc. The Income Tax Act has classified all incomes earned by persons into 5 different heads. These are:</p>
        <li><strong>1- Income from Salary :</strong></li>
        <p>Income can be charged under this head only if there is an employer-employee relationship. Salary includes wages, basic, dearness allowance, annuity, gratuity, advance of salary, allowances, commission, perquisites in lieu of or in addition to salary and retirement benefits. The aggregate of the above incomes, after exemptions available, is known as Gross Salary and this is charged under the head income from salary.</p>
        <li><strong>2- Income from House property :</strong></li>
        <p>Any residential or commercial property that you own will be taxed as per the Income Tax Law. If you have home loan then interest part of it would also be considered as negative income from House property i.e. tax benefit is there on home loan.</p>
        <li><strong>3- Income from Business or Profession :</strong></li>
        <p> Income earned through your profession or business is charged under the head ‘profits and gains of business or profession.’ Normally, The income chargeable to tax is the difference between the income received and expenses incurred.</p>
        <li><strong>4- Income from capital gains :</strong></li>
        <p>Any profit or gain arising from transfer of capital asset held as investments (such as house,Jewellery) are chargeable to tax under the head capital gains. The gain can be on account of short- and long-term gains. Our article Basics of Capital Gain talks about in detail.</p>
        <li><strong>5- Income from other sources :</strong></li>
        <p>Any income that does not fall under any of the above four heads of income is taxed under the head income from other sources. For eg. Dividend income, interest received from bank deposits etc.</p>
    </div>
    <div id="incometax" class="p-4 mb-3" style="background:white;">
        <h3>Income Tax</h3>
       <p>An income tax is a tax imposed by government on your financial income. Income tax is a key source of funds which is later used by the government to fund its activities like building infrastructure and serve the public.</p>
    </div>
    <div id="incometaxrate" class="p-4 mb-3" style="background:white;">
        <h3>Income Tax Rate</h3>
       <p>The rate at which you will be taxed, is known as the Income Tax Rate. Your income earned during the year is taxed in the immediately following year i.e. Assessment Year at the rates applicable for that assessment year with few exceptions.
           The Income Tax Rate varies on the basis of the following factors-
       <li>Type of Person (Individual, company etc)</li>
       <li>Your Source of Income (Salary, House Property, Capital Gain, Business or Other Source Income)</li>
       <li>Your Age</li>
       <li>Your residential Status</li>
       </p>
    </div>
    <div id="incometaxrefund" class="p-4 mb-3" style="background:white;">
        <h3>Income Tax Refund</h3>
       <p>Income tax refund is the excess tax paid by you which is refunded back by the Income Tax Department. For eg : tax you need to pay was Rs. 10,000 but you paid 15,000 or already deducted & deposit by the person responsible for, then after filing your income tax return which would be showing tax refund of Rs. 5,000 the amount will be given back to you by the Income Tax Department.</p>
    </div>
    <div id="incometaxreturn" class="p-4 mb-3" style="background:white;">
        <h3>Income Tax Return</h3>
       <p>It’s the form prescribed by the Income Tax department through which a person can furnish the details of his /her income earned, deductions & exemptions taken and taxes paid for the relevant financial year to the Income Tax Department.</p>
    </div>
    <div id="indirecttaxgst" class="p-4 mb-3" style="background:white;">
        <h3>Indirect Tax GST</h3>
       <p>Indirect taxes cover levy of taxes like GST (Goods and Service Tax), Customs Duty, Excise etc. These taxes are not directly paid by the final consumer instead are indirectly recovered form the buyer. The prices of goods purchased or the fees of professional services paid is already inclusive of such taxes.</p>
    </div>
    <div id="itrv" class="p-4 mb-3" style="background:white;">
        <h3>ITR - V</h3>
       <p>ITR-V is a one page acknowledgement / receipt of the income tax return filed by you. It needs to be signed and sent to Income Tax Office at Bengaluru. These days electronic verification option has also been given under which hard copy is not required to be sent.
           A specimen of Acknowledge generated after successful filing of ITR Form / Income tax return has been attached herewith for your reference.
       </p>
        <img src="static/images/itrv.jpg">
    </div>
    <div id="itrform" class="p-4 mb-3" style="background:white;">
        <h3>ITR FORMs</h3>
       <p>ITR forms are the prescribed forms in which information is needed to be furnished to the income tax department. There are different ITR forms for different categories of taxpayers/ assessee/ user. Here's the list of ITR forms and who can use it.</p>
    </div>
     <div id="pan" class="p-4 mb-3" style="background:white;">
        <h3>PAN</h3>
       <p>PAN stands for Permanent Account Number. It’s a ten-digit unique alphanumeric number issued by the Income Tax Department. It issued in the form of a laminated plastic card (commonly known as PAN card).</p>
    </div>
     <div id="person" class="p-4 mb-3" style="background:white;">
        <h3>Person</h3>
       <p>The term person is defined under section 2(31) of the Income Tax Act. There are seven categories covered under the term “Person”.This means -</p>
         <li>An Individual ( Salaried Person, Person who is a sole proprietor, Teacher etc.)</li>
         <li>HUF(Hindu Undivided Family)</li>
         <li>A Company (Winiin Taxscope Private Limited, Infosys Ltd.)</li>
         <li>A Firm</li>
         <li>An Association of persons(AOP) / Body of Individuals(BOI) , even without registration</li>
         <li>A Local Authority (Jaipur Development Authority)</li>
         <li>Every Artificial Judicial Person, not covered above</li>
     </div>
     <div id="previousyear" class="p-4 mb-3" style="background:white;">
        <h3>Previous Year</h3>
         <p>As per the Income Tax law the income earned in current year is taxable in the next year. The year in which income is earned is known as the previous year.
            In layman language the current financial year is known as the previous year. The financial year starts from 1st April and end on 31st March of the next year.
            For Instance, for the salary income earned from 1 April 2017 - 31st March 2018 .The previous year would be 2017-18.
            All the assessee’s are required to follow the financial year( April 1 to March 31) as previous year for all types of incomes. Incase, of a newly set-up business/profession or first job then your first previous year will be less than 12 months. Though from subsequent years your previous year will always be your financial year.
              Remember your previous year can never exceed 12 months. </p>
         <strong>What is the difference between Financial Year and Assessment Year?</strong>
         <p>Financial Year is the actual year starting with 1st of April and ending on 31st of March for which you’re filing your return and the Assessment Year will always be the “succeeding year”. For example, if you file return for F.Y. 2016-17, then the assessment year will be 2017-18.</p>
    </div>
    <div id="selfassessmenttax" class="p-4 mb-3" style="background:white;">
        <h3>Self Assessment Tax</h3>
       <p>Your income tax return cannot be submitted to the tax department, unless you have paid tax dues in full. Sometimes, you may see tax payable at the time of filing your return. This income tax can be paid online or through offline challan [ deposit into the bank by mentioning the challan details such as BSR Code, Date of Challan, Amount deposit etc]. Incase, you are paying tax after due date, interest under section 234B and 234C will also have to be paid along with your tax due.</p>
    </div>
    <div id="specimensofdifferentitrformt" class="p-4 mb-3" style="background:white;">
        <h3>Specimens of different ITR form</h3>
       <p>Specimens of different ITR form - For ITR forms please visit http://incometaxindiaefiling.gov.in click on ITr forms under downloads section on right hand side.</p>
    </div>
    <div id="tan" class="p-4 mb-3" style="background:white;">
        <h3>TAN</h3>
       <p>Full form of TAN is Tax Deduction Number which is a 10 digit alphanumeric number allotted to those who are liable to deduct TDS by the Income Tax Department.</p>
    </div>
    <div id="tds" class="p-4 mb-3" style="background:white;">
        <h3>TDS</h3>
       <p>Full form of TDS is Tax Deducted at Source. Under Income Tax Act, there are certain payments including salary, interest etc. in which the one who makes such payment is liable to deduct tax. TDS is finally adjusted with the final tax payable at the time of computation of income tax return.</p>
    </div>
</div>
{% endblock %}