{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<div class="container-fluid mt-5" style="background-color:#90A8D8;">
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 p-2" >
    <div class="heading-div">
        <center><h1>Goods and Services Tax (GST)</h1></center>
    </div>
        <hr>
        <p>Goods and Services Tax (GST) is an indirect tax (or consumption tax) used in India on the supply of goods and services. It is a comprehensive, multistage, destination-based tax: comprehensive because it has subsumed almost all the indirect taxes except a few state taxes. Multi-staged as it is, the GST is imposed at every step in the production process, but is meant to be refunded to all parties in the various stages of production other than the final consumer and as a destination-based tax, it is collected from point of consumption and not point of origin like previous taxes.
        </p>

</div>
</div>

<style>
  .list1{
     color:black;
     font-size:120%;
     }
</style>
<div class="container-fluid mt-5" style="padding-bottom:50px;background-color:#90A8D8;">
    <div class="row" >
        <div class="col-lg-7 col-sm-12 col-xs-12 col-md-12 p-3" style="padding-top:;" >
            <div class="heading-div pl-4" style="padding-bottom:">
            <h1>Contents</h1>
                <hr>
            </div>
            <ul style="list-style-type:circle;">
            <li><a href="#Who is exempt from GST registration?" class="list1">Who is exempt from GST registration?</a></li><hr>
            <li><a href="#What is the minimum amount for GST?" class="list1">What is the minimum amount for GST?</a></li><hr>
            <li><a href="#What is the new rule of GST?" class="list1">What is the new rule of GST?</a></li><hr>
            <li><a href="#Do I have to pay GST if I earn under 75000?" class="list1">Do I have to pay GST if I earn under 75000?</a></li><hr>
            <li><a href="#Can I do business without GST?" class="list1">Can I do business without GST?</a></li><hr>
            <li><a href="#How is GST calculated?" class="list1">How is GST calculated?</a></li><hr>
            <li><a href="#Who has to pay GST?" class="list1">Who has to pay GST?</a></li><hr>
            <li><a href="#What are the GST rules?" class="list1">What are the GST rules?</a></li><hr>
            <li><a href="#What is set off in GST?" class="list1" >What is set off in GST?</a></li><hr>

            </ul>
        </div>
        <div class="col-lg-5 col-sm-12 col-md-12 col-xs-12" >
            <img src="static/images/gst2.png"class="mt-5"  width="80%">
            <img src="static/images/gst1.png"class="mt-5"  width="80%">
        </div>
    </div>
</div>

<div class="container-fluid mt-5 p-5" style="background-color:white;">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="heading-div" >
            <h2 id="Who is exempt from GST registration?">Who is exempt from GST registration?</h2>
       </div>
    <p >Businesses and individuals are exempt from GST if their annual aggregate turnover is less than a specific amount. At the time of GST implementation in July 2017, businesses/individuals with annual aggregate turnover of less than Rs. 20 lakhs were allowed GST exemption.</p>
    <div class="heading-div"  >
        <hr>
            <h2 id="What is the minimum amount for GST?">What is the minimum amount for GST?</h2>
        </div>
   <p>Rs 20 lakhs<br>A business whose aggregate turnover in a financial year exceeds Rs 20 lakhs has to mandatorily register under Goods and Services Tax. This limit is set at Rs 10 lakhs for North Eastern and hilly states flagged as special category states. Also, the definition of taxable turnover has been changed to aggregate turnover.
</p>

    <div class="heading-div" >
        <hr>
            <h2 id="What is the new rule of GST?">What is the new rule of GST?</h2>
        </div>
<p>The Central Board of Indirect Taxes and Customs (CBIC) has introduced Rule 86B in GST Rules, to be applicable from January 1, 2021, which restricts use of input tax credit for discharging GST liability to 99 per cent.</p>
<div class="heading-div">
        <hr>
            <h2 id="Do I have to pay GST if I earn under 75000?">Do I have to pay GST if I earn under 75000?</h2>
        </div>
<p>If your GST turnover is below the $75,000, registering for GST is optional. You may choose to register if your GST turnover is below the $75,000 threshold, however this means that once registered, regardless of your turnover, you must include GST in your fees and claim GST credits for your business purchases.</p>
    <div class="heading-div">
        <hr>
            <h2 id="Can I do business without GST?">Can I do business without GST?</h2>
        </div>
<p>As per the GST Act, if your financial turnover is above Rs 40 lakhs, then you need to register under GST. ... No organization and business can carry on business without registering under GST guidelines. Incorrect GST Returns entries, results in rejection of the input tax credit, in addition with penalties.</p>
    <div class="heading-div">
        <hr>
            <h2 id="How is GST calculated?">How is GST calculated?</h2>
        </div>
    <p >GST calculation can be explained by simple illustration : If a goods or services is sold at Rs. 1,000 and the GST rate applicable is 18%, then the net price calculated will be = 1,000+ (1,000X(18/100)) = 1,000+180 = Rs. 1,180</p>
    <div class="heading-div">
        <hr>
            <h2 id="Who has to pay GST?">Who has to pay GST?</h2>
        </div>
        <p>Who is liable to pay GST? In general the supplier of goods or service is liable to pay GST. However in specified cases like imports and other notified supplies, the liability may be cast on the recipient under the reverse charge mechanism.</p>
<div class="heading-div"  >
        <hr>
            <h2 id="What are the GST rules?">What are the GST rules?</h2>
        </div>
<p>GST is a single domestic indirect tax law for the entire country. Under the GST regime, the tax is levied at every point of sale. In the case of intra-state sales, Central GST and State GST are charged. All the inter-state sales are chargeable to the Integrated GST.</p>
<div class="heading-div"  >
        <hr>
            <h2 id="What is set off in GST?">What is set off in GST?</h2>
        </div>
    <p >The order of setting off ITC of IGST can be done in any proportion and any order towards setting off the CGST or SGST output after utilising the same for IGST output.</p>







</div>

</div>


{% endblock %}