{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<div class="container-fluid mt-5" style="background-color:#90A8D8;">
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 p-2" >
    <div class="heading-div">
        <center><h1>EWay Bill - (Electronic Way bill)</h1></center>
    </div>
        <hr>
    <p>EWay Bill is an Electronic Way bill for movement of goods to be generated on the eWay Bill Portal. A GST registered person cannot transport goods in a vehicle whose value exceeds Rs. 50,000 (Single Invoice/bill/delivery challan) without an e-way bill that is generated on ewaybillgst.gov.in.</p>
</div>
</div>

<style>
  .list1{
     color:black;
     font-size:120%;
     }
</style>
<div class="container-fluid mt-5" style="padding-bottom:50px;background-color:#90A8D8;">
    <div class="row" >
        <div class="col-lg-7 col-sm-12 col-xs-12 col-md-12 p-3" style="padding-top:;" >
            <div class="heading-div pl-4" style="padding-bottom:">
            <h1>Contents</h1>
                <hr>
            </div>
            <ul style="list-style-type:circle;">
            <li><a href="#What is e way bill in GST?" class="list1">What is e way bill in GST?</a></li><hr>
            <li><a href="#Is e way Bill mandatory for interstate supply less than 50000?" class="list1">Is e way Bill mandatory for interstate supply less than 50000?</a></li><hr>
            <li><a href="#How do I generate an e way bill under GST?" class="list1">How do I generate an e way bill under GST?</a></li><hr>
            <li><a href="#Is e way bill required for delivery challan?" class="list1">Is e way bill required for delivery challan?</a></li><hr>
            <li><a href="#Is e way Bill mandatory for e invoice?" class="list1">Is e way Bill mandatory for e invoice?</a></li><hr>
            <li><a href="#Who generates e-way Bill?" class="list1">Who generates e-way Bill?</a></li><hr>
            <li><a href="#What is URP in e-way Bill?" class="list1">What is URP in e-way Bill?</a></li><hr>
            <li><a href="#Can we generate EWAY bill without GST number?" class="list1">Can we generate EWAY bill without GST number?</a></li><hr>
            <li><a href="#What happens if EWAY bill is not generated?" class="list1" >What happens if EWAY bill is not generated?</a></li><hr>

            </ul>
        </div>
        <div class="col-lg-5 col-sm-12 col-md-12 col-xs-12" >
            <img src="static/images/gst2.png"class="mt-5"  width="80%">
            <img src="static/images/gst1.png"class="mt-5"  width="80%">
        </div>
    </div>
</div>

<div class="container-fluid mt-5 p-5" style="background-color:white;">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="heading-div" >
            <h2 id="What is e way bill in GST?">What is e way bill in GST?</h2>
       </div>
<p>Electronic Way Bill (E-Way Bill) is basically a compliance mechanism wherein by way of a digital interface the person causing the movement of goods uploads the relevant information prior to the commencement of movement of goods and generates e-way bill on the GST portal.</p>
    <div class="heading-div"  >
        <hr>
            <h2 id="Is e way Bill mandatory for interstate supply less than 50000?">Is e way Bill mandatory for interstate supply less than 50000?</h2>
        </div>
<p>eway bill is optional for Goods of value less than Rs. 50,000 (except in cases of mandatory Eway bill provisions like the movement of Handicraft goods and movement of goods for Inter-state Job work )</p>

    <div class="heading-div" >
        <hr>
            <h2 id="What is the new rule of GST?">What is the new rule of GST?</h2>
        </div>
<p>The Central Board of Indirect Taxes and Customs (CBIC) has introduced Rule 86B in GST Rules, to be applicable from January 1, 2021, which restricts use of input tax credit for discharging GST liability to 99 per cent.</p>
<div class="heading-div">
        <hr>
            <h2 id="How do I generate an e way bill under GST?">How do I generate an e way bill under GST?</h2>
        </div>
<p>Step 1: Login to E-Way Bill Portal at https://ewaybill.nic.in/ with your login details. Note: To generate E way Bill, it is mandatory to have GST Registration and transporter registration. <br>Step 2: Pick the “Generate New” option from the left menu. If you're a supplier, select “Outward” as the transaction type.</p>
    <div class="heading-div">
        <hr>
            <h2 id="Is e way bill required for delivery challan?">Is e way bill required for delivery challan?</h2>
        </div>
<p>No e-Way bill is required for movement of goods upto a distance of 20 Km from the place of business of consignor to a weighbridge for weighment or from the weighbridge back to the place of business of consignor, within the same State, subject to the condition that the movement of goods is accompanied by a delivery </p>
    <div class="heading-div">
        <hr>
            <h2 id="Is e way Bill mandatory for e invoice?">Is e way Bill mandatory for e invoice?</h2>
        </div>
<p>Who should Generate an eWay Bill? Registered Person – Eway bill must be generated when there is a movement of goods of more than Rs 50,000 in value to or from a registered person. A Registered person or the transporter may choose to generate and carry eway bill even if the value of goods is less than Rs 50,000.</p>
    <div class="heading-div">
        <hr>
            <h2 id="What is URP in e-way Bill?">What is URP in e-way Bill?</h2>
        </div>
<p>For any E-way bill where one party is unregistered you need to mention URP. ... URP means Unregistered Person</p>
        <div class="heading-div"  >
        <hr>
            <h2 id="Can we generate EWAY bill without GST number?">Can we generate EWAY bill without GST number?</h2>
        </div>
<p>Normally, E-way bill is generated by the Registered Person but, there is an option on E-way Bill system where even a person who does not have GST No. ... Being the owner of the small shop and having a turnover of less than 20Lakh he does not have GST Number.</p>
        <div class="heading-div"  >
        <hr>
            <h2 id="What happens if EWAY bill is not generated?">What happens if EWAY bill is not generated?</h2>
        </div>
<p>The vehicle that is found to be transporting the goods without an Eway bill can be detained or seized and would be released only on payment of appropriate tax and penalty as specified by the officer. ... If not, the penalty will be equal to 50% of the value of goods.</p>






</div>

</div>


{% endblock %}