{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<div class="container-fluid mt-5" style="background-color:#90A8D8;">
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 p-2" >
    <div class="heading-div">
        <center><h1>GST Procedure</h1></center>
    </div>
        <hr>
        <p>Based on the information provided by GSTN, registration process looks like this: The applicant will need to submit his PAN, mobile number, and email address in Part A of Form GST REG–01 on the GSTN portal or through the Facilitation center (notified by the board or commissioner). The PAN is verified on the GST Portal.</p>

</div>
</div>

<style>
  .list1{
     color:black;
     font-size:120%;
     }
</style>
<div class="container-fluid mt-5" style="padding-bottom:50px;background-color:#90A8D8;">
    <div class="row" >
        <div class="col-lg-7 col-sm-12 col-xs-12 col-md-12 p-3" style="padding-top:;" >
            <div class="heading-div pl-4" style="padding-bottom:">
            <h1>Contents</h1>
                <hr>
            </div>
            <ul style="list-style-type:circle;">
            <li><a href="#What is the procedure of GST?" class="list1">What is the procedure of GST?</a></li><hr>
            <li><a href="#What is required for GST in India?" class="list1">What is required for GST in India?</a></li><hr>
            <li><a href="#What is the process of registration under GST?" class="list1">What is the process of registration under GST?</a></li><hr>
            <li><a href="#Is GST compulsory for LLP?" class="list1">Is GST compulsory for LLP?</a></li><hr>
            <li><a href="#Who is eligible for GST?" class="list1">Who is eligible for GST?</a></li><hr>
            <li><a href="#How would GST be administered in India?" class="list1">How would GST be administered in India?</a></li><hr>
            <li><a href="#Will cross utilization of credits between goods and services be allowed under GST regime?" class="list1">Will cross utilization of credits between goods and services be allowed under GST regime?</a></li><hr>
            <li><a href="#What are the GST rules?" class="list1">What are the GST rules?</a></li><hr>
            <li><a href="#How will imports be taxed under GST?" class="list1" >How will imports be taxed under GST?</a></li><hr>

            </ul>
        </div>
        <div class="col-lg-5 col-sm-12 col-md-12 col-xs-12" >
            <img src="static/images/gst2.png"class="mt-5"  width="80%">
            <img src="static/images/gst1.png"class="mt-5"  width="80%">
        </div>
    </div>
</div>

<div class="container-fluid mt-5 p-5" style="background-color:white;">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="heading-div" >
            <h2 id="What is the procedure of GST?">What is the procedure of GST?</h2>
       </div>
<p>In order to get the GST number, you need to apply for GST registration by visiting the GST portal i.e., www.gst.gov.in. To start the process, you will need to have a valid email address, mobile number and a PAN for the business.</p>
    <div class="heading-div"  >
        <hr>
            <h2 id="What is required for GST in India?">What is required for GST in India?</h2>
        </div>
<p>Referred to as one of the biggest tax reforms in the country, GST is expected to bring together state economies and improve overall economic growth of the nation. Both the Central as well as State governments are set to impose GST on all services and goods produced, manufactured and imported in India.</p>

    <div class="heading-div" >
        <hr>
            <h2 id="What is the process of registration under GST?">What is the process of registration under GST?</h2>
        </div>
<p>GST Registration Process for New Business<br>

Step 1: First login to the online GST portal (www.gst.gov.in) Step 2: Fill part –A of registration form 1. Step 3: You will receive an application reference number on your mobile and via e-mail.</p>
        <div class="heading-div">
        <hr>
            <h2 id="Is GST compulsory for LLP?">Is GST compulsory for LLP?</h2>
        </div>
<p>The Central Government recently notified that the Limited Liability Partnerships (LLP) registered under the 2008 Act must be considered as a partnership firm or Firm under the Goods and Services Tax (GST) regime. ... It therefore exhibits elements of partnerships and corporations.</p>
    <div class="heading-div">
        <hr>
            <h2 id="Who is eligible for GST?">Who is eligible for GST?</h2>
        </div>
<p>you are at least 19 years old. you have (or had) a spouse or common-law partner. you are (or were) a parent and live (or lived) with your child.</p>
    <div class="heading-div">
        <hr>
            <h2 id="How would GST be administered in India?">How would GST be administered in India?</h2>
        </div>
<p>Keeping in mind the federal structure of India, there will be two components of GST – Central GST (CGST) and State GST (SGST). Both Centre and States will simultaneously levy GST across the value chain. Tax will be levied on every supply of goods and services. Centre would levy and collect Central Goods and Services Tax (CGST), and States would levy and collect the State Goods and Services Tax (SGST) on all transactions within a State. The input tax credit of CGST would be available for discharging the CGST liability on the output at each stage. Similarly, the credit of SGST paid on inputs would be allowed for paying the SGST on output. No cross utilization of credit would be permitted.</p>
    <div class="heading-div">
        <hr>
            <h2 id="Will cross utilization of credits between goods and services be allowed under GST regime?">Will cross utilization of credits between goods and services be allowed under GST regime?</h2>
        </div>
<p>Cross utilization of credit of CGST between goods and services would be allowed. Similarly, the facility of cross utilization of credit will be available in case of SGST. However, the cross utilization of CGST and SGST would not be allowed except in the case of inter-State supply of goods and services under the IGST model which is explained in answer to the next question.</p>
        <div class="heading-div"  >
        <hr>
            <h2 id="What are the GST rules?">What are the GST rules?</h2>
        </div>
<p>GST is a single domestic indirect tax law for the entire country. Under the GST regime, the tax is levied at every point of sale. In the case of intra-state sales, Central GST and State GST are charged. All the inter-state sales are chargeable to the Integrated GST.</p>
<div class="heading-div"  >
        <hr>
            <h2 id="How will imports be taxed under GST?">How will imports be taxed under GST?</h2>
        </div>
<p>The Additional Duty of Excise or CVD and the Special Additional Duty or SAD presently being levied on imports will be subsumed under GST. As per explanation to clause (1) of article 269A of the Constitution, IGST will be levied on all imports into the territory of India. Unlike in the present regime, the States where imported goods are consumed will now gain their share from this IGST paid on imported goods.</p>






</div>

</div>


{% endblock %}