{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<div class="container-fluid mt-5" style="background-color:#90A8D8;">
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 p-2" >
    <div class="heading-div">
        <center><h1>GST Registration Online - Guide</h1></center>
    </div>
        <hr>
<p>In the GST Regime, businesses whose turnover exceeds Rs. 40 lakhs* (Rs 10 lakhs for NE and hill states) is required to register as a normal taxable person. This process of registration is called GST registration. For certain businesses, registration under GST is mandatory.</p>

</div>
</div>

<style>
  .list1{
     color:black;
     font-size:120%;
     }
</style>
<div class="container-fluid mt-5" style="padding-bottom:50px;background-color:#90A8D8;">
    <div class="row" >
        <div class="col-lg-7 col-sm-12 col-xs-12 col-md-12 p-3" style="padding-top:;" >
            <div class="heading-div pl-4" style="padding-bottom:">
            <h1>Contents</h1>
                <hr>
            </div>
            <ul style="list-style-type:circle;">
            <li><a href="#Who is eligible for GST registration?" class="list1">Who is eligible for GST registration?</a></li><hr>
            <li><a href="#What documents are required for GST registration?" class="list1">What documents are required for GST registration?</a></li><hr>
            <li><a href="#How much it cost for GST registration?" class="list1">How much it cost for GST registration?</a></li><hr>
            <li><a href="#Can I do GST registration myself?" class="list1">Can I do GST registration myself?</a></li><hr>
            <li><a href="#What is the GST process?" class="list1">What is the GST process?</a></li><hr>
            <li><a href="#What happens if I don't register for GST?" class="list1">What happens if I don't register for GST?</a></li><hr>
            <li><a href="#Who has to pay GST?" class="list1">Who has to pay GST?</a></li><hr>
            <li><a href="#Is GST compulsory for LLP?" class="list1">Is GST compulsory for LLP?</a></li><hr>
            <li><a href="#Can we find GST number by name?" class="list1" >Can we find GST number by name?</a></li><hr>

            </ul>
        </div>
        <div class="col-lg-5 col-sm-12 col-md-12 col-xs-12" >
            <img src="static/images/gst2.png"class="mt-5"  width="80%">
            <img src="static/images/gst1.png"class="mt-5"  width="80%">
        </div>
    </div>
</div>

<div class="container-fluid mt-5 p-5" style="background-color:white;">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="heading-div" >
            <h2 id="Who is eligible for GST registration?">Who is eligible for GST registration?</h2>
       </div>
<p>In the GST Regime, businesses whose turnover exceeds Rs. 40 lakhs* (Rs 10 lakhs for NE and hill states) is required to register as a normal taxable person. This process of registration is called GST registration. For certain businesses, registration under GST is mandatory.</p>
    <div class="heading-div"  >
        <hr>
            <h2 id="What documents are required for GST registration?">What documents are required for GST registration?</h2>
        </div>
<p>The main documents for GST registration include a PAN card, proof of business registration, identity, photographs and address proof of persons in charge, the business' address proof and bank account statements.</p>

    <div class="heading-div" >
        <hr>
            <h2 id="How much it cost for GST registration?">How much it cost for GST registration?</h2>
        </div>
<p>There is no payable fee upon registering for GST. Every business with an annual aggregate turnover of over Rs. 20 Lakhs must register for GST. There are 11 states in India that are configured with the special status.</p>
        <div class="heading-div">
        <hr>
            <h2 id="Can I do GST registration myself?">Can I do GST registration myself?</h2>
        </div>
<p>GST registration can be easily done on the online GST portal. Business owners can fill a form on the GST portal and submit the necessary documents for registration. It is mandatory for certain businesses to complete the GST registration process.</p>
    <div class="heading-div">
        <hr>
            <h2 id="What is the GST process?">What is the GST process?</h2>
        </div>
<p>GST Registration Process. ... As all the,17 State and Central taxes subsumed in one tax form i.e. GST; now every entity needs to get registered if wants to collect taxes from a customer or claim a tax credit of the tax paid by them. Entities having the annual turnover of ₹ 20 lakhs and above will have to register under GST </p>
    <div class="heading-div">
        <hr>
            <h2 id="What happens if I don't register for GST?">What happens if I don't register for GST?</h2>
        </div>
<p>If you don't register for GST and are required to, you may have to pay GST on sales made since the date you were required to register. This could happen even if you didn't include GST in the price of those sales. You may also have to pay penalties and interest.</p>
    <div class="heading-div">
        <hr>
            <h2 id="Who has to pay GST?">Who has to pay GST?</h2>
        </div>
        <p>Who is liable to pay GST? In general the supplier of goods or service is liable to pay GST. However in specified cases like imports and other notified supplies, the liability may be cast on the recipient under the reverse charge mechanism.</p>
<div class="heading-div"  >
        <hr>
            <h2 id="Is GST compulsory for LLP?">Is GST compulsory for LLP?</h2>
        </div>
<p>The Central Government recently notified that the Limited Liability Partnerships (LLP) registered under the 2008 Act must be considered as a partnership firm or Firm under the Goods and Services Tax (GST) regime. ... It therefore exhibits elements of partnerships and corporations.</p>
        <div class="heading-div"  >
        <hr>
            <h2 id="Can we find GST number by name?">Can we find GST number by name?</h2>
        </div>
<p>The ClearTax GSTIN Number Search by Name tool helps businesses and consumers verify any GSTIN with a single-click. All a user has to do is enter the name of the business entity and the details will be displayed immediately.</p>






</div>

</div>


{% endblock %}