{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<div class="container-fluid mt-5" style="background-color:#90A8D8;">
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 p-2" >
    <div class="heading-div">
        <center><h1>GST Returns</h1></center>
    </div>
         <hr>
<p>A GST return is a document containing details of all income/sales and/or expense/purchase which a taxpayer (every GSTIN) is required to file with the tax administrative authorities. This is used by tax authorities to calculate net tax liability.</p>

</div>
</div>

<style>
  .list1{
     color:black;
     font-size:120%;
     }
</style>
<div class="container-fluid mt-5" style="padding-bottom:50px;background-color:#90A8D8;">
    <div class="row" >
        <div class="col-lg-7 col-sm-12 col-xs-12 col-md-12 p-3" style="padding-top:;" >
            <div class="heading-div pl-4" style="padding-bottom:">
            <h1>Contents</h1>
                <hr>
            </div>
            <ul style="list-style-type:circle;">
            <li><a href="#What is GST return?" class="list1">What is GST return?</a></li><hr>
            <li><a href="#How do GST returns work?" class="list1">How do GST returns work?</a></li><hr>
            <li><a href="#How much is GST refund?" class="list1">How much is GST refund?</a></li><hr>
            <li><a href="#What is GST 34?" class="list1">What is GST 34?</a></li><hr>
            <li><a href="#What is RCM in GST?" class="list1">What is RCM in GST?</a></li><hr>
            <li><a href="#What is first return in GST?" class="list1">What is first return in GST?</a></li><hr>
            <li><a href="#Who is eligible for GST refund?" class="list1" >Who is eligible for GST refund?</a></li><hr>

            </ul>
        </div>
        <div class="col-lg-5 col-sm-12 col-md-12 col-xs-12" >
            <img src="static/images/gst2.png"class="mt-5"  width="80%">
            <img src="static/images/gst1.png"class="mt-5"  width="80%">
        </div>
    </div>
</div>

<div class="container-fluid mt-5 p-5" style="background-color:white;">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="heading-div" >
            <h2 id="What is GST return?">What is GST return?</h2>
       </div>
<p>A GST return is a document containing details of all income/sales and/or expense/purchase which a taxpayer (every GSTIN) is required to file with the tax administrative authorities. This is used by tax authorities to calculate net tax liability.</p>
    <div class="heading-div"  >
        <hr>
            <h2 id="How do GST returns work?">How do GST returns work?</h2>
        </div>
<p>GST return is a document that will contain all the details of your sales, purchases, tax collected on sales (output tax), and tax paid on purchases (input tax). Once you file GST returns, you will need to pay the resulting tax liability (money that you owe the government)</p>

    <div class="heading-div" >
        <hr>
            <h2 id="How much is GST refund?">How much is GST refund?</h2>
        </div>
<p>For the 2020 base year (payment period from July 2021 to June 2022), you could get up to: $456 if you are single. $598 if you are married or have a common-law partner. $157 for each child under the age of 19.</p>
        <div class="heading-div">
        <hr>
            <h2 id="What is GST 34?">What is GST 34?</h2>
        </div>
<p>Businesses must file Goods and Services Tax (GST) returns with the Government of Canada. ... Use the Government of Canada GST Return (GST34 File/Pay) option to file your GST return and pay all or some of the amount owing.</p>
        <div class="heading-div">
        <hr>
            <h2 id="Can I do business without GST?">Can I do business without GST?</h2>
        </div>
<p>As per the GST Act, if your financial turnover is above Rs 40 lakhs, then you need to register under GST. ... No organization and business can carry on business without registering under GST guidelines. Incorrect GST Returns entries, results in rejection of the input tax credit, in addition with penalties.</p>
    <div class="heading-div">
        <hr>
            <h2 id="What is RCM in GST?">What is RCM in GST?</h2>
        </div>
<p>Reverse Charge Mechanism under GST is a mechanism under which the usual cycle of tax payment is reversed.</p>
    <div class="heading-div">
        <hr>
            <h2 id="What is first return in GST?">What is first return in GST?</h2>
        </div>
<p>Section 40 – First return<br>

Every registered person who has made outward supplies in the period between the date on which he became liable to registration till the date on which registration has been granted shall declare the same in the first return furnished by him after grant of registration.</p>
<div class="heading-div"  >
        <hr>
            <h2 id="Who is eligible for GST refund?">Who is eligible for GST refund?</h2>
        </div>
<p>You are at least 19 years old. You have (or had) a spouse or common-law partner. You are (or were) a parent and live (or lived) with your child.</p>






</div>

</div>


{% endblock %}