{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<div class="container-fluid mt-5" style="background-color:#90A8D8;">
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 p-2" >
    <div class="heading-div">
        <center><h1>Understanding the GST System In India</h1></center>
    </div>
        <hr>
       <p>GST is known as the Goods and Services Tax. It is an indirect tax which has replaced many indirect taxes in India such as the excise duty, VAT, services tax, etc. ... Under the GST regime, the tax is levied at every point of sale. In the case of intra-state sales, Central GST and State GST are charged.</p>

</div>
</div>

<style>
  .list1{
     color:black;
     font-size:120%;
     }
</style>
<div class="container-fluid mt-5" style="padding-bottom:50px;background-color:#90A8D8;">
    <div class="row" >
        <div class="col-lg-7 col-sm-12 col-xs-12 col-md-12 p-3" style="padding-top:;" >
            <div class="heading-div pl-4" style="padding-bottom:">
            <h1>Contents</h1>
                <hr>
            </div>
            <ul style="list-style-type:circle;">
            <li><a href="#How do you understand GST?" class="list1">How do you understand GST?</a></li><hr>
            <li><a href="#What is GST in India and how it works?" class="list1">What is GST in India and how it works?</a></li><hr>
            <li><a href="#What is the basic concept of GST?" class="list1">What is the basic concept of GST?</a></li><hr>
            <li><a href="#Who pays GST tax?" class="list1">Who pays GST tax?</a></li><hr>
            <li><a href="#How is GST collected?" class="list1">How is GST collected?</a></li><hr>
            <li><a href="#How is GST calculated?" class="list1">How is GST calculated?</a></li><hr>
            <li><a href="#Who has to pay GST?" class="list1">Who has to pay GST?</a></li><hr>
            <li><a href="#What are the GST rules?" class="list1">What are the GST rules?</a></li><hr>
            <li><a href="#What is the GST percentage?" class="list1" >What is the GST percentage?</a></li><hr>

            </ul>
        </div>
        <div class="col-lg-5 col-sm-12 col-md-12 col-xs-12" >
            <img src="static/images/gst2.png"class="mt-5"  width="80%">
            <img src="static/images/gst1.png"class="mt-5"  width="80%">
        </div>
    </div>
</div>

<div class="container-fluid mt-5 p-5" style="background-color:white;">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="heading-div" >
            <h2 id="How do you understand GST?">How do you understand GST?</h2>
       </div>
<p>GST is a destination based consumption tax levied at multiple stage of production & distribution of goods & services in which taxes paid on inputs are allowed as set-off against taxes payable on output. Thus, GST will be a single comprehensive integrated indirect tax on pure value addition at each stage.</p>
        <div class="heading-div"  >
        <hr>
            <h2 id="What is GST in India and how it works?">What is GST in India and how it works?</h2>
        </div>
<p>GST acts as a type of value-added tax and a proposed comprehensive indirect tax levy on manufacture, sale, and consumption of goods as well as services at the national level. It will replace all indirect taxes levied on goods and services by the Indian central and state governments.</p>

    <div class="heading-div" >
        <hr>
            <h2 id="What is the basic concept of GST?">What is the basic concept of GST?</h2>
        </div>
<p>GST stands for “Goods and Services Tax”, and is proposed to be a comprehensive indirect tax levy on manufacture, sale and consumption of goods as well as services at the national level. ... GST is an indirect tax in lieu of tax on goods (excise) and tax on service (service tax).</p>
        <div class="heading-div">
        <hr>
            <h2 id="Who pays GST tax?">Who pays GST tax?</h2>
        </div>
<p>With taxable distributions, the transferee beneficiary must pay the GST tax. When a taxable termination occurs, the trustee of the trust is responsible for paying the GST tax. If the taxable event is a direct skip from the outset, the transferor (grantor) pays the GST tax.</p>
    <div class="heading-div">
        <hr>
            <h2 id="How is GST collected?">How is GST collected?</h2>
        </div>
<p>GST is proposed to be a dual levy where the Central Government will levy and collect Central GST (CGST) and the State will levy and collect State GST (SGST) on intra-state supply of goods or services. The Centre will also levy and collect Integrated GST (IGST) on inter-state supply of goods or services.</p>
    <div class="heading-div">
        <hr>
            <h2 id="How is GST calculated?">How is GST calculated?</h2>
        </div>
    <p >GST calculation can be explained by simple illustration : If a goods or services is sold at Rs. 1,000 and the GST rate applicable is 18%, then the net price calculated will be = 1,000+ (1,000X(18/100)) = 1,000+180 = Rs. 1,180</p>
    <div class="heading-div">
        <hr>
            <h2 id="Who has to pay GST?">Who has to pay GST?</h2>
        </div>
        <p>Who is liable to pay GST? In general the supplier of goods or service is liable to pay GST. However in specified cases like imports and other notified supplies, the liability may be cast on the recipient under the reverse charge mechanism.</p>
<div class="heading-div"  >
        <hr>
            <h2 id="What are the GST rules?">What are the GST rules?</h2>
        </div>
<p>GST is a single domestic indirect tax law for the entire country. Under the GST regime, the tax is levied at every point of sale. In the case of intra-state sales, Central GST and State GST are charged. All the inter-state sales are chargeable to the Integrated GST.</p>
<div class="heading-div"  >
        <hr>
            <h2 id="What is the GST percentage?">What is the GST percentage?</h2>
        </div>
<p>The GST council has fitted over 1300 goods and 500 services under four tax slabs of 5%, 12%, 18% and 28% under GST. This is aside the tax on gold that is kept at 3% and rough precious and semi-precious stones that are placed at a special rate of 0.25% under GST.</p>






</div>

</div>


{% endblock %}