{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<div class="container-fluid mt-5" style="background-color:#90A8D8;">
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 p-2" >
    <div class="heading-div">
        <center><h1>House Property</h1></center>
    </div>
        <hr>
        <p>As per definition under the Act, a 'house property' consists of any building or land appurtenant thereto, which is owned by a taxpayer. ... However, this excludes a property which is used for the purpose of carrying out the taxpayer's business or profession, the profits of which are chargeable to income-tax.
        </p>

</div>
</div>

<style>
  .list1{
     color:black;
     font-size:120%;
     }
</style>
<div class="container-fluid mt-5" style="padding-bottom:50px;background-color:#90A8D8;">
    <div class="row" >
        <div class="col-lg-7 col-sm-12 col-xs-12 col-md-12 p-3" style="padding-top:;" >
            <div class="heading-div pl-4" style="padding-bottom:">
            <h1>Contents</h1>
                <hr>
            </div>
            <ul style="list-style-type:circle;">
            <li><a href="#Under which head is the rental income from a shop charged to tax?" class="list1">Under which head is the rental income from a shop charged to tax?</a></li><hr>
            <li><a href="#How to compute gross annual value of a property which is let-out throughout the year?" class="list1">How to compute gross annual value of a property which is let-out throughout the year?</a></li><hr>
            <li><a href="#What income is charged to tax under the head “Income from house property”?" class="list1">What income is charged to tax under the head “Income from house property”?</a></li><hr>
            <li><a href="#What is the tax of treatment of unrealised rent which is subsequently realised?" class="list1">What is the tax of treatment of unrealised rent which is subsequently realised?</a></li><hr>
            <li><a href="#What is the tax treatment of arrears of rent?" class="list1">What is the tax treatment of arrears of rent?</a></li><hr>
            <li><a href="#Can loss from self occupied house property be carried forward?" class="list1">Can loss from self occupied house property be carried forward?</a></li><hr>
            <li><a href="#What is fair rent of house property?" class="list1">What is fair rent of house property?</a></li><hr>
            <li><a href="#How do I claim loss on house property?" class="list1">How do I claim loss on house property?</a></li><hr>
            <li><a href="#How much rent is tax free?" class="list1" >How much rent is tax free?</a></li><hr>
            </ul>
        </div>
        <div class="col-lg-5 col-sm-12 col-md-12 col-xs-12" >
            <img src="static/images/house1.png"class="mt-5"  width="80%">
            <img src="static/images/house2.png"class="mt-5"  width="80%">
        </div>
    </div>
</div>

<div class="container-fluid mt-5 p-5" style="background-color:white;">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="heading-div" >
            <h2 id="Under which head is the rental income from a shop charged to tax?">Under which head is the rental income from a shop charged to tax?</h2>
        </div>
    <p>To tax the rental income under the head “Income from house property”, the rented property should be building or land appurtenant thereto. Shop being a building, rental income will be charged to tax under the head “Income from house property”.</p>
    <div class="heading-div"  >
        <hr>
            <h2 id="How to compute gross annual value of a property which is let-out throughout the year?">How to compute gross annual value of a property which is let-out throughout the year?</h2>
        </div>
   <p>The steps involved in computation of gross annual value of a property which is let-out throughout the year are already discussed earlier, hence, we will take an illustration for better understanding.</p>

    <div class="heading-div" >
        <hr>
            <h2 id="What income is charged to tax under the head “Income from house property”?">What income is charged to tax under the head “Income from house property”?</h2>
        </div>
    <p>Rental income from a property being building or land appurtenant thereto of which the taxpayer is owner is charged to tax under the head “Income from house property”.</p>

<div class="heading-div">
        <hr>
            <h2 id="What is the tax of treatment of unrealised rent which is subsequently realised?">What is the tax of treatment of unrealised rent which is subsequently realised?</h2>
        </div>
    <p >Any subsequent recovery of unrealized rent shall be deemed to be the income of taxpayer under the head “Income from house property” in the year in which such rent is realized (whether or not the assesse is the owner of that property in that year). It will be charged to tax after deducting a sum equal to 30% of unrealized rent.</p>

    <div class="heading-div">
        <hr>
            <h2 id="What is the tax treatment of arrears of rent?">What is the tax treatment of arrears of rent?</h2>
        </div>
        <p>The amount received on account of arrears of rent (not charged to tax earlier) will be charged to tax after deducting a sum equal to 30% of such arrears. It is charged to tax in the year in which it is received. Such amount is charged to tax whether or not the taxpayer owns the property in the year of receipt.</p>
    <div class="heading-div">
        <hr>
            <h2 id="Can loss from self occupied house property be carried forward?">Can loss from self occupied house property be carried forward?</h2>
        </div>
    <p >Mr X can claim a maximum of Rs. 2.00 lakh of the aggregate deduction (for both the self-occupied properties) against actual home loan interest paid of Rs 3 lakhs. ... Also, the loss amount can be carried forward for the next 8 AYs which can be set off against future house property income only.</p>
    <div class="heading-div">
        <hr>
            <h2 id="What is fair rent of house property?">What is fair rent of house property?</h2>
        </div>
    <p >Municipal authorities normally charge house tax/Municipal taxes on the basis of annual letting value of such house property. C) Fair rent – Fair rent is the rent which a similar property can fetch in the same or similar locality, if it is let out for a year.</p>
<div class="heading-div"  >
        <hr>
            <h2 id="How do I claim loss on house property?">How do I claim loss on house property?</h2>
        </div>
    <p >A taxpayer can claim deduction under Section 24 of interest paid on home loan for each of the houses separately. However, the overall loss from house property that can be claimed for a year is restricted to Rs 2 lakhs.<br>

For other details updates such as Demographic details (Name, Address, DoB, Gender, Mobile Number, Email) as well as Biometrics (Finger Prints, Iris & Photograph) in Aadhaar you will have to visit Permanent Enrolment Center.</p>
<div class="heading-div"  >
        <hr>
            <h2 id="How much rent is tax free?">How much rent is tax free?</h2>
        </div>
    <p >When the Rent Amount Exceeds Rs 1 Lakh<br>In case the rent paid towards house rent is more than Rs 1 Lakh, the individual can claim HRA tax exemptions towards it. He or she will have to furnish the PAN details of the property owner, along with the rent receipts.</p>







</div>

</div>


{% endblock %}