{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<div class="container-fluid mt-5" style="background-color:#90A8D8;">
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 p-2" >
    <div class="heading-div">
        <center><h1>What is input tax credit in GST with example?</h1></center>
    </div>
        <hr>
<p>For example- you are a manufacturer: a. Tax payable on output (FINAL PRODUCT) is Rs 450 b. Tax paid on input (PURCHASES) is Rs 300 c. You can claim INPUT CREDIT of Rs 300 and you only need to deposit Rs 150 in taxes.</p>

</div>
</div>

<style>
  .list1{
     color:black;
     font-size:120%;
     }
</style>
<div class="container-fluid mt-5" style="padding-bottom:50px;background-color:#90A8D8;">
    <div class="row" >
        <div class="col-lg-7 col-sm-12 col-xs-12 col-md-12 p-3" style="padding-top:;" >
            <div class="heading-div pl-4" style="padding-bottom:">
            <h1>Contents</h1>
                <hr>
            </div>
            <ul style="list-style-type:circle;">
            <li><a href="#What is input tax credit in GST with example?" class="list1">What is input tax credit in GST with example?</a></li><hr>
            <li><a href="#What is input tax credit?" class="list1">What is input tax credit?</a></li><hr>
            <li><a href="#Who is eligible for GST input credit?" class="list1">Who is eligible for GST input credit?</a></li><hr>
            <li><a href="#What are the conditions for availing input tax credit?" class="list1">What are the conditions for availing input tax credit?</a></li><hr>
            <li><a href="#How do I adjust GST input?" class="list1">How do I adjust GST input?</a></li><hr>
            <li><a href="#What is the time limit for taking ITC?" class="list1">What is the time limit for taking ITC?</a></li><hr>
            <li><a href="#What do you mean by ITC?" class="list1">What do you mean by ITC?</a></li><hr>
            <li><a href="#Can we claim GST input on hotel bills?" class="list1" >Can we claim GST input on hotel bills?</a></li><hr>

            </ul>
        </div>
        <div class="col-lg-5 col-sm-12 col-md-12 col-xs-12" >
            <img src="static/images/inputtaxcredit1.png"class="mt-5"  width="80%">
            <img src="static/images/gst1.png"class="mt-5"  width="80%">
        </div>
    </div>
</div>

<div class="container-fluid mt-5 p-5" style="background-color:white;">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="heading-div" >
            <h2 id="What is input tax credit in GST with example?">What is input tax credit in GST with example?</h2>
       </div>
<p>For example- you are a manufacturer: a. Tax payable on output (FINAL PRODUCT) is Rs 450 b. Tax paid on input (PURCHASES) is Rs 300 c. You can claim INPUT CREDIT of Rs 300 and you only need to deposit Rs 150 in taxes.</p>
    <div class="heading-div"  >
        <hr>
            <h2 id="What is input tax credit?">What is input tax credit?</h2>
        </div>
<p>Input tax credit (ITC) is the tax paid by the buyer on purchase of goods or services. Such tax which is paid at the purchase when reduced from liability payable on outward supplies is known as input tax credit. In other words, input tax credit is tax reduced from output tax payable on account of sales.</p>

    <div class="heading-div" >
        <hr>
            <h2 id="Who is eligible for GST input credit?">Who is eligible for GST input credit?</h2>
        </div>
<p>A registered person (including an Input Service Distributor) can claim Input tax credit on the strength of the following conditions: a) He must possess a Tax invoice issued by the supplier of goods or services or both or Debit note issued by a supplier b) He must have received supply of goods or services or both c)</p>
        <div class="heading-div">
        <hr>
            <h2 id="What are the conditions for availing input tax credit?">What are the conditions for availing input tax credit?</h2>
        </div>
<p>The following conditions have to be met to be entitled to Input Tax Credit under the GST scheme: One must be a registered taxable person. One can claim Input Tax Credit only if the goods and services received is used for business purposes. Input Tax Credit can be claimed on exports/zero-rated supplies and are taxable.</p>
    <div class="heading-div">
        <hr>
            <h2 id="Can I do business without GST?">Can I do business without GST?</h2>
        </div>
<p>As per the GST Act, if your financial turnover is above Rs 40 lakhs, then you need to register under GST. ... No organization and business can carry on business without registering under GST guidelines. Incorrect GST Returns entries, results in rejection of the input tax credit, in addition with penalties.</p>
    <div class="heading-div">
        <hr>
            <h2 id="How do I adjust GST input?">How do I adjust GST input?</h2>
        </div>
<p>With the new rules in place, it is mandatory to utilise the entire IGST available in electronic credit ledger before utilising ITC on CGST or SGST. The order of setting off ITC of IGST can be done in any proportion and any order towards setting off the CGST or SGST output after utilising the same for IGST output.</p>
    <div class="heading-div">
        <hr>
            <h2 id="What is the time limit for taking ITC?">What is the time limit for taking ITC?</h2>
        </div>
<p>180 days<br>
To claim ITC, the buyer should pay the supplier for the supplies received (inclusive of tax) within 180 days from the date of issuing the invoice.</p>
        <div class="heading-div"  >
        <hr>
            <h2 id="What do you mean by ITC?">What do you mean by ITC?</h2>
        </div>
<p>Input Tax Credit<br>
Input Tax Credit or ITC is the tax that a business pays on a purchase and that it can use to reduce its tax liability when it makes a sale. Goods and Services Tax (GST) is an integrated tax system where every purchase by a business should be matched with a sale by another business. ...</p>
        <div class="heading-div"  >
        <hr>
            <h2 id="Can we claim GST input on hotel bills?">Can we claim GST input on hotel bills?</h2>
        </div>
<p>Input Tax Credit (ITC) on Hotel Accommodation: In case hotel accommodation has been used for business purposes and taxable supplies, Input Tax Credit thereon can be availed as the hotel accommodation services are not blocked under Section 17(5) of the CGST Act, 2017.</p>






</div>

</div>


{% endblock %}