{% extends 'navbar.html' %}
{% load static %}
{% block content %}

<div class="container-fluid mt-5" style="background-color:#90A8D8;">
<div class="row" >
    <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7"style="padding-left:50px;">
        <div class="header-div" style="padding-top:35px;">
            <h1><center>Pan Card</center></h1></div>
        <hr>
        <p> A permanent account number (PAN) is a ten-character alphanumeric identifier, issued in the form of a laminated "PAN card", by the Indian Income Tax Department, to any "person" who applies for it or to whom the department allots the number without an application.<br>
            A PAN is a unique identifier issued to all judicial entities identifiable under the Indian Income Tax Act, 1961. The income tax PAN and its linked card are issued under Section 139A of the Income Tax Act. It is issued by the Indian Income Tax Department under the supervision of the Central Board for Direct Taxes (CBDT) and it also serves as an important proof of identification.
        </p>
    </div>
    
        <div class="col-4 ">
            <img src="static/images/pan.png" style="padding-left:50px;">
        </div>
</div></div>

<div class="container-fluid mt-5" style="background-color:#90A8D8;">
    <div class="row" >
        <div class="col-3" style="padding:37px;" >
            <img src="static/images/pan1.png" style="hight:490px;width:490px;padding-left:200px">

        </div>
        <div class="col-8 ml-4" style="padding-top:50px;padding-left:450px;padding-bottom:30px;" >
            <div class="heading-div" style="padding-bottom:20px;">
            <h1>Contents</h1>
            </div>
            <li><a href="#Uses of PAN" style="color:black;">Uses of PAN</a></li>
            <li><a href="#Obtaining a PAN" style="color:black;">Obtaining a PAN</a></li>
            <li><a href="#How do I apply for a PAN Card" style="color:black;">How do I apply for a PAN Card?</a></li>
            <li><a href="#Where to apply for PAN?" style="color:black;">Where to apply for PAN?</a></li>
            <li><a href="#Can an application for PAN be made through Internet?" style="color:black;">Can an application for PAN be made through Internet?</a></li>
            <li><a href="#How do I get a PAN allotted quickly (TATKAL)?" style="color:black;">How do I get a PAN allotted quickly (TATKAL)?</a></li>
        </div>

    </div>
</div>

<div class="container-fluid mt-5" style="background-color:white;">
        <div class="heading-div" style="padding-left:50px; padding-top:30px; padding-bottom:20px;" >
            <h2 id="Uses of PAN">Uses of PAN?</h2>
        </div>
    <p style="padding-left:50px">The Permanent Account Number (PAN) card, issued by the Income tax Department, is one of the most important documents nowadays. The card was issued in order to prevent tax evasion by individuals and entities as it links all financial transactions made by a particular individual or entity.</p>
    <div class="heading-div" style="padding-left:50px; padding-top:30px; padding-bottom:20px;" >
        <hr>
            <h2 id="Obtaining a PAN">Obtaining a PAN?</h2>
        </div>
        <p style="padding-left:50px">A person wishing to obtain PAN can apply for PAN by submitting the PAN application form (Form 49A/49AA) along with the related documents and prescribed fees at the PAN application center of UTIITSL or NSDL. An online application can also be made from the website of UTIITSL or NSDL.</p>



    <div class="heading-div" style="padding-left:50px; padding-top:30px; padding-bottom:20px;" >
        <hr>
            <h2 id="How do I apply for a PAN Card">How do I apply for a PAN Card?</h2>
        </div>
    <p style="padding-right:70px;padding-left:50px;">1.Applicant will fill PAN Change Request Form online and submit the form.<br>2.Applicant will initially select PAN Change Request along with citizenship, category and title of the applicant and then enter the required details and submit the form.</p>

<div class="heading-div" style="padding-left:50px; padding-top:30px; padding-bottom:20px;" >
        <hr>
            <h2 id="Where to apply for PAN?">Where to apply for PAN?</h2>
        </div>
    <p style="padding-right:70px;padding-left:50px;">Online application can be made either through the portal of NSDL ( https://tin.tin.nsdl.com/pan/index.html) or portal of UTITSL (https://www.pan.utiitsl.com/PAN/index.jsp).</p>

    <div class="heading-div" style="padding-left:50px; padding-top:30px; padding-bottom:20px;" >
        <hr>
            <h2 id="Can an application for PAN be made through Internet?">Can an application for PAN be made through Internet?</h2>
        </div>
    <p style="padding-right:70px;padding-left:50px;">Application for fresh allotment of PAN can be made through Internet. ... Online application can be made either through the portal of NSDL ( https://tin.tin.nsdl.com/pan/index.html) or portal of UTITSL (https://www.pan.utiitsl.com/PAN/index.jsp).</p>

    <div class="heading-div" style="padding-left:50px; padding-top:30px; padding-bottom:20px;" >
        <hr>
            <h2 id="How do I get a PAN allotted quickly (TATKAL)?">How do I get a PAN allotted quickly (TATKAL)?</h2>
        </div>
    <p class="mb-5"style="padding-right:70px;padding-left:50px;">How do I get a PAN allotted quickly (Tatkal)? If an application for allotment of PAN is submitted through Internet and payment made through a 'nominated' credit card, the PAN is allotted on priority and communicated through email.</p>








</div>




{% endblock content %}