{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<div class="container-fluid mt-5" style="background-color:#90A8D8;">
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 p-2" >
    <div class="heading-div">
        <center><h1>Save Income Tax on Salary Income</h1></center>
    </div>
        <hr>
        <p>For the assessment year 2016–17, individuals earning up to ₹2.5 lakh (US$3,500) were exempt from income tax. About one percent of the population, the upper class, falls under the 30-percent slab. It increased by an average of 22 percent from 2000 to 2010, encompassing 580,000 income-tax payers.
        </p>

</div>
</div>

<style>
  .list1{
     color:black;
     font-size:120%;
     }
</style>
<div class="container-fluid mt-5" style="padding-bottom:50px;background-color:#90A8D8;">
    <div class="row" >
        <div class="col-lg-7 col-sm-12 col-xs-12 col-md-12 p-3" style="padding-top:;" >
            <div class="heading-div pl-4" style="padding-bottom:">
            <h1>Contents</h1>
                <hr>
            </div>
            <ul style="list-style-type:circle;">
            <li><a href="#How tax is deducted from salary?" class="list1">How tax is deducted from salary?</a></li><hr>
            <li><a href="#What is the minimum salary to pay income tax?" class="list1">What is the minimum salary to pay income tax?</a></li><hr>
            <li><a href="#What is tax free salary?" class="list1">What is tax free salary?</a></li><hr>
            <li><a href="#What part of salary is taxable?" class="list1">What part of salary is taxable?</a></li><hr>
            <li><a href="#At what income do I pay tax?" class="list1">At what income do I pay tax?</a></li><hr>
            <li><a href="#How do millionaires avoid taxes?" class="list1">How do millionaires avoid taxes?</a></li><hr>
            <li><a href="#What salary puts you in a higher tax bracket?" class="list1">What salary puts you in a higher tax bracket?</a></li><hr>
            <li><a href="#Does Social Security count as income?" class="list1">Does Social Security count as income?</a></li><hr>
            </ul>
        </div>
        <div class="col-lg-5 col-sm-12 col-md-12 col-xs-12" >
            <img src="static/images/salary1.png"class="mt-5"  width="80%">
            <img src="static/images/salary2.png"class="mt-5"  width="80%">
        </div>
    </div>
</div>

<div class="container-fluid mt-5 p-5" style="background-color:white;">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="heading-div" >
            <h2 id="How tax is deducted from salary?">How tax is deducted from salary?</h2>
        </div>
    <p >TDS is Tax Deducted at Source – it means that the tax is deducted by the person making payment. ... For instance, An employer will estimate the total annual income of an employee and deduct tax on his Income if his Taxable Income exceeds INR 2,50,000. Tax is deducted based on which tax slab you belong to each year.</p>
    <div class="heading-div"  >
        <hr>
            <h2 id="What is the minimum salary to pay income tax?">What is the minimum salary to pay income tax?</h2>
        </div>
<p>Income Tax Slabs & Rates 2020-2021<br>
    However, under old tax regime the basic income threshold exempt from tax for senior citizen (aged 60 to 80 years) and super senior citizens (aged above 80 years) is ₹ 3 lakh and ₹ 5 lakh respectively.
</p>

    <div class="heading-div" >
        <hr>
            <h2 id="What is tax free salary?">What is tax free salary?</h2>
        </div>
    <p> Salary paid tax free - Tax free salary means the salary on which income tax is borne not by the employee but by the employer. Tax free salary is also taxable in the hands of the employee. Salary is taxable in the year of receipt or in the year of earning of the salary income, whichever is earlier.</p>

<div class="heading-div">
        <hr>
            <h2 id="What part of salary is taxable?">What part of salary is taxable?</h2>
        </div>
    <p >Here are the fully taxable income components<br>Basic Salary: the monthly compensation paid as salary, bonuses or commissions. City Compensatory Allowance: paid to offset the high cost of living in metro areas, the CCA is fully taxable as income to the employee. Incentives: reimbursement of personal expenses.</p>

    <div class="heading-div">
        <hr>
            <h2 id="At what income do I pay tax?">At what income do I pay tax?</h2>
        </div>
    <p >Single, under the age of 65 and not older or blind, you must file your taxes if: Unearned income was more than $1,050. Earned income was more than $12,000. Gross income was more than the larger of $1,050 or on earned income up to $11,650 plus $350.</p>

    <div class="heading-div">
        <hr>
            <h2 id="How do millionaires avoid taxes?">How do millionaires avoid taxes?</h2>
        </div>
    <p >Trust Freezing: A way to transfer valuable assets to others (such as your children) while avoiding the federal estate tax. "Freeze" the value of assets many years before you plan to pass them on to exclude all asset appreciation from the estate, and any taxes. Popular method: Trade common for preferred stock.</p>
    <div class="heading-div">
        <hr>
            <h2 id="What salary puts you in a higher tax bracket?">What salary puts you in a higher tax bracket?</h2>
        </div>
    <p >If your taxable income for 2020 is $50,000 as a single filer, that puts you in the 22% tax bracket, because you earn more than $40,125 but less than $85,525. This is known as your marginal tax rate. Marginal tax rate is the tax rate you pay on your last dollar of income; in other words — the highest rate you pay.</p>
<div class="heading-div"  >
        <hr>
            <h2 id="Does Social Security count as income?">Does Social Security count as income?</h2>
        </div>
    <p >Social Security benefits do not count as gross income. However, the IRS does count them in your combined income for the purpose of determining if you must pay taxes on your benefits.
    </p>



</div>

</div>


{% endblock %}