{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<div class="container-fluid mt-5" style="background-color:#90A8D8;">
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 p-2" >
    <div class="heading-div">
        <center><h1>Income Tax Deductions Section 80C to 80U for Tax Saving in India</h1></center>
    </div>
        <hr>
        <p>Section 80 CCD of the Income Tax Act offers a deduction of contribution to Pension plans by the Central Government – Under this scheme, both contributions made by the employer and the individual are eligible for a tax deduction of up to 10% of the individual's salary.
        </p>

</div>
</div>

<style>
  .list1{
     color:black;
     font-size:120%;
     }
</style>
<div class="container-fluid mt-5" style="padding-bottom:50px;background-color:#90A8D8;">
    <div class="row" >
        <div class="col-lg-7 col-sm-12 col-xs-12 col-md-12 p-3" style="padding-top:;" >
            <div class="heading-div pl-4" style="padding-bottom:">
            <h1>Contents</h1>
                <hr>
            </div>
            <ul style="list-style-type:circle;">
            <li><a href="#What are Section 80 deductions?" class="list1">What are Section 80 deductions?</a></li><hr>
            <li><a href="#What is the maximum deduction allowed on savings under Section 80 C?r" class="list1">What is the maximum deduction allowed on savings under Section 80 C?</a></li><hr>
            <li><a href="#What is 80C and 80D?" class="list1">What is 80C and 80D?</a></li><hr>
            <li><a href="#What is the 80C limit for 2020 21?" class="list1">What is the 80C limit for 2020 21?</a></li><hr>
            <li><a href="#Can we claim parents LIC in 80C?" class="list1">Can we claim parents LIC in 80C?</a></li><hr>
            <li><a href="#Can I invest more than 1.5 lakhs in 80C?" class="list1">Can I invest more than 1.5 lakhs in 80C?</a></li><hr>
            <li><a href="#Is proof required for 80D?" class="list1">Is proof required for 80D?</a></li><hr>
            <li><a href="#Can I pay rent to my parents to save tax?" class="list1">Can I pay rent to my parents to save tax?</a></li><hr>
            <li><a href="#Can 80D claim without bills?" class="list1" >Can 80D claim without bills?</a></li><hr>

            </ul>
        </div>
        <div class="col-lg-5 col-sm-12 col-md-12 col-xs-12" >
            <img src="static/images/80deduction.png"class="mt-5"  width="80%">
            <img src="static/images/80deducton1.png"class="mt-5"  width="80%">
        </div>
    </div>
</div>

<div class="container-fluid mt-5 p-5" style="background-color:white;">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="heading-div" >
            <h2 id="What are Section 80 deductions?">What are Section 80 deductions?</h2>
       </div>
    <p>Section 80 CCD of the Income Tax Act offers a deduction of contribution to Pension plans by the Central Government – Under this scheme, both contributions made by the employer and the individual are eligible for a tax deduction of up to 10% of the individual's salary.</p>
    <div class="heading-div"  >
        <hr>
            <h2 id="What is the maximum deduction allowed on savings under Section 80 C?">What is the maximum deduction allowed on savings under Section 80 C?</h2>
        </div>
   <p>For section 80C- The amount of eligible investment or expenditure as specified is fully allowed for deduction subject to the limit of Rs 1.5 lakh. The limit of Rs 1.5 lakh deduction of Section 80C includes 80CCC (contribution towards pension plan) and 80CCD (1), 80CCD (1b) and 80CCD (2).</p>
    <div class="heading-div" >
        <hr>
            <h2 id="What is 80C and 80D?">What is 80C and 80D?</h2>
        </div>
    <p>Deductions under Section 80D and 80C<br>
    Another point is that Section 80C incorporates investments made in an extensive range of financial instruments, such as small savings schemes, mutual funds, life insurance premium, etc., whereas Section 80D is meant entirely for deductions on the health insurance premiums paid.</p>

<div class="heading-div">
        <hr>
            <h2 id="What is the 80C limit for 2020 21?">What is the 80C limit for 2020 21?</h2>
        </div>
    <p >Kindly note that the Total Deduction under section 80C, 80CCC and 80CCD(1) together cannot exceed Rs 1,50,000 for the financial year 2020-21. The additional tax deduction of Rs 50,000 u/s 80CCD (1b) is over and above this Rs 1.5 Lakh limit.</p>

    <div class="heading-div">
        <hr>
            <h2 id="Can we claim parents LIC in 80C?">Can we claim parents LIC in 80C?</h2>
        </div>
    <p >Tax exemption offered under section 80C on life insurance policies from LIC: If you have purchased a life insurance policy on or before 31st March 2012 in your own name or in the name of spouse or child, then up to 20% of tax deduction can be availed on the premium paid towards life insurance policy.</p>

    <div class="heading-div">
        <hr>
            <h2 id="Can I invest more than 1.5 lakhs in 80C?">Can I invest more than 1.5 lakhs in 80C?</h2>
        </div>
    <p >If you are investing in an equity-linked savings scheme (ELSS) to claim the tax benefit under section 80C of the Income-tax Act, 1961, then do make sure that you have invested marginally more than the specified limit of Rs 1.5 lakh in a financial year. ... Rs 1,50,500 in case of a lump sum investment.</p>
    <div class="heading-div">
        <hr>
            <h2 id="Is proof required for 80D?">Is proof required for 80D?</h2>
        </div>
    <p >There is no proof or documentation needed to avail 80D deductions.</p>
<div class="heading-div"  >
        <hr>
            <h2 id="Can I pay rent to my parents to save tax?">Can I pay rent to my parents to save tax?</h2>
        </div>
    <p >Save tax as a family – By submitting rent receipts and paying it, you will be able to claim exemption on HRA. Your parents can deduct property taxes and also claim 30% standard deduction on the rental income. If they are in a lower tax bracket than you, the family can save tax as a whole</p>
<div class="heading-div"  >
        <hr>
            <h2 id="Can 80D claim without bills?">Can 80D claim without bills?</h2>
        </div>
    <p >You can claim the medical expenditures only if the payment is made from any mode other than cash. Hence, if you have paid the medical bills through debit-card, credit-card, online banking, UPI or wallet payments, you are eligible to claim.</p>






</div>

</div>


{% endblock %}