{% extends 'navbar.html' %}
{% block content %}
<div class="alert alert-dismissible fade show" role="alert" style="background-color: #00bfff;">
    <center><strong>Welcome To Taxpro !</strong> File Your ITR Here Easily.</center>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>



<center style="font-size:40px">Easy eFile Of Your Income Tax Return  </center>
<!--navbar -->
<center>
    <div class="row pic lg-sm-6">
  <div class="column " style="">
      <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
  <img src="static/images/file.png" alt="Snow" style="width:100% ">
        </div>
    <div class="flip-card-back">
        <br>
      <h1>FILE ITR</h1>
        <br>
      <p>File it yourself
Trust us, you can file your tax return on your own. It’s Easy, quick and free when you file with TaxPro on your own.</p>
    </div>
  </div>
</div>
      <hr>
      <button class="btn btn-block"><h5><a href="#">File Your ITR</a></h5></button>
  </div>
  <div class="column">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
  <img src="static/images/ca.png" alt="Forest" style="width:100%">
        </div>
    <div class="flip-card-back">
        <br>
      <h1>GET eCA</h1>
        <br>
      <p>You can
          get your personal eCA to do
          tax filing for you. And it is personal, convenient & fast with maximum refund calculated for you.
      </p>
    </div>
  </div>
</div>
<hr>
      <button class="btn btn-block"><h5><a href="{% url 'get_your_ca' %}">Get Your e-CA</a></h5></button>
  </div>

</div>
</center>

<!--refund status -->
<div class="container-fluid" style="padding-top:50px;">
<div class="row" style="padding-left:50px; background-color:  #90A8D8; ">
    <div style="width: 60%; ">
    <article style="padding-top:20px;">
    <h3>We are New Income Tax eFiling website</h3>
    <p>We have changed the way people do tax filing in India.
        We don’t just get your tax return filed within minutes but get you maximum refunds in shortest time.</p>
    <ul>
        <li><img src="static/images/team.png" style="width:5%;">Team of Chartered Accountants</li>
        <li><img src="static/images/lock.png" style="width:5%;">Secure and safe</li>
        <li><img src="static/images/medal.png" style="width:5%;">Authorized by Income Tax Department</li>
        <li><img src="static/images/star.png" style="width:5%;">4.0 star service rating</li>
    </ul>
    <br>
</article>
</div>
    <div style="width: 30%; float:right">

   <figure> <img src="static/images/home11.png" alt="Check Refund Status" title="Check Refund Status"400px height="400px" width=""> </figure>

</div>
</div>
</div>

<br>
<!--refund status -->



<hr>
<div class="ourAssoc" style="padding-top:30px">
    <center><h2>Associations With</h2></center>

<br>
    <div class="container px-1">
  <div class="row gx-2">
    <div class="col">
     <div class=" p-0 border bg-light"><img src="static/images/sbi.png" alt="Snow" style="width:100% " height="90"></div>
    </div>
    <div class="col">
      <div class="p-0 border bg-light"><img src="static/images/indus.png" alt="Snow" style="width:100% " height="90"></div>
    </div><div class="col">
      <div class="p-0 border bg-light"><img src="static/images/ola.png" alt="Snow" style="width:100% " height="90"></div>
    </div><div class="col">
      <div class="p-0 border bg-light"><img src="static/images/acca.png" alt="Snow" style="width:100% " height="90"></div>
    </div><div class="col">
      <div class="p-0 border bg-light"><img src="static/images/bajaj.png" alt="Snow" style="width:100% " height="90"></div>
    </div><div class="col">
      <div class="p-0 border bg-light"><img src="static/images/axis.png" alt="Snow" style="width:100% " height="90"></div>
    </div>
  </div>
        <br>
        <div class="row gx-5">
    <div class="col" >
     <div class="p-0 border bg-light"><img src="static/images/aviva.png" alt="Snow" style="width:100% " height="90"></div>
    </div>
    <div class="col">
      <div class="p-0 border bg-light"><img src="static/images/wonder.png" alt="Snow" style="width:100% " height="90"></div>
    </div><div class="col">
      <div class="p-0 border bg-light"><img src="static/images/tata.png" alt="Snow" style="width:100% " height="90"></div>
    </div><div class="col">
      <div class="p-0 border bg-light"><img src="static/images/bmarket.png" alt="Snow" style="width:100% " height="90"></div>
    </div><div class="col">
      <div class="p-0 border bg-light"><img src="static/images/icici.png" alt="Snow" style="width:100% " height="90"></div>
    </div><div class="col">
      <div class="p-0 border bg-light"><img src="static/images/tcs.png" alt="Snow" style="width:100% " height="90"></div>
    </div>
  </div>
</div>
</div>
<br>
<hr>

<br><br>


<!--refund status -->
<div class="row" style="padding-left:50px; background-color: #85C1E9; ">


<div style="width: 60%; ">
<article style="padding-top:80px;">
<h2>You Check Your Income Tax <strong style="color:green;">Refund Status </strong></h2>

<p>
Refund Status of income tax return that have been filed this year, must<br>
be updated in the Income Tax Department systems.
    Refund Status of income tax return that have been filed this year, must be updated in the Income Tax Department systems.
    You can check the latest status of tax refund by using this utility. Use the tool & check refund status now!
</p>
    <br>
<a href="#" class="btn btn-success" title="Income Tax Return Status">Check Refund Status</a>
</article>
</div>
    <div style="width: 30%;  float:right">

   <figure> <img src="static/images/refund.png" alt="Check Refund Status" title="Check Refund Status"> </figure>

</div>
</div>

<!--refund status -->
<div style="padding-top:30px; padding-left:30px;">
    <center style="font-size:40px">Our Special Income Tax Returns Guides</center>
    <hr>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="static/images/homeloan.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">House Property</h5>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="static/images/aadhar.jpg" alt="Card image cap" height="180px">
    <div class="card-body">
      <h5 class="card-title">Aadhar card</h5>
    </div>
  </div>
<div class="card">
    <img class="card-img-top" src="static/images/salaryincome.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Salary Income</h5>
    </div>
  </div>
    <div class="card">
    <img class="card-img-top" src="static/images/pancard.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Pan Card</h5>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
    <div class="card">
    <img class="card-img-top" src="static/images/tds.png" alt="Card image cap" height="180px">
    <div class="card-body">
      <h5 class="card-title">Income Tax Refund</h5>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
</div>
</div>
<br>
<!--refund status -->

<div class="container-fluid" >
         <div class="row p-1 text-center text-muted text-white" style="font-size:30px;background-color:rgba(0, 0, 0, 0.2);;">
        <div class="col-3">GST</div>
        <div class="col-3">ITR</div>
        <div class="col-3">MSME</div>
        <div class="col-3">TRADEMARK</div>
         </div>
  </div>
<hr>

{% endblock %}