<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>taxPro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link href ="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>

</head>
<body >
<nav class="navbar navbar-expand-lg navbar-dark  " style="background-color: #485461;" >
  <a class="navbar-brand" href="{% url 'home' %}">TaxPro</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
   </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class=" navbar-nav mr-auto" class="float:right;" >
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Income Tax
        </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'file_your_return' %}">File Your Return</a>
          <a class="dropdown-item" href="{% url 'form16' %}">Upload Form 16</a>
          <a class="dropdown-item" href="{% url 'get_your_ca' %}">CA Assisted Tax Filing</a>
          <a class="dropdown-item" href="{% url 'hra_calculator' %}">HRA Calculator</a>
          <a class="dropdown-item" href="{% url 'income_tax_calculator' %}">Income Tax Calculator</a>
          <a class="dropdown-item" href="{% url 'refund_status' %}">Refund Status</a>
          <a class="dropdown-item" href="{% url 'plan_tax' %}">Plan tax and file return </a>
          <a class="dropdown-item" href="{% url 'nri_taxtation' %}">NRI taxation and ITR filing </a>
          <a class="dropdown-item" href="{% url 'receipt_generate' %}">Rent Receipt Generator</a>
          <a class="dropdown-item" href="{% url 'form12BB' %}">Generate form 12BB </a>
          <a class="dropdown-item" href="{% url 'newold_tax_regime' %}"> New vs Old Tax Regime</a>
        </div>
      </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Knowledge Center
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Blog</a>
          <a class="dropdown-item" href="{% url 'faqs' %}">FAQ</a>
          <a class="dropdown-item" href="{% url 'glossary' %}">Tax Glossary</a>
        </div>
      </li>
          <li class="nav-item  ">
        <a class="nav-link active" href="{% url 'gst_registration' %}">GST Registration <span class="sr-only">(current)</span></a>
      </li>
          <li class="nav-item  ">
        <a class="nav-link active" href="{% url 'gst_return_filing' %}"> GST Return filing<span class="sr-only">(current)</span></a>
      </li>
          <li class="nav-item  ">
        <a class="nav-link active" href="{% url 'msme' %}">MSME Registration <span class="sr-only">(current)</span></a>
      </li>
                  <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Guides
        </a>
        <div class="dropdown-menu multi-column columns-2" aria-labelledby="navbarDropdown">
             <div class="row">
			            <div class="col-sm-7">
				            <ul class="multi-column-dropdown">
                                <li><a class="dropdown-item" href="#"><b>Income Tax Guides</b></a></li>
                                <li> <a class="dropdown-item" href="aadhar">Aadhar</a></li>
                                <li><a class="dropdown-item" href="capitalgain">Capital Gains Income</a></li>
                                <li> <a class="dropdown-item" href="eitr">E-filing of ITR</a></li>
                                <li> <a class="dropdown-item" href="houseproperty">House Property</a></li>
                                <li> <a class="dropdown-item" href="#">Income Tax Calender</a></li>
                                <li> <a class="dropdown-item" href="#">Income TAx Notices</a></li>
                                <li> <a class="dropdown-item" href="#">Income Tax Refund</a></li>
                                <li> <a class="dropdown-item" href="#">Income Tax Slabs</a></li>
                                <li> <a class="dropdown-item" href="#">Income Tax Verification</a></li>
                                <li> <a class="dropdown-item" href="pan">Pan Card</a></li>
                                <li> <a class="dropdown-item" href="salaryincome">Salary Income</a></li>
                                <li> <a class="dropdown-item" href="section80deduction">Section 80 Deductions</a></li>
                                <li> <a class="dropdown-item" href="#">TDS</a></li>
                            </ul>
                        </div>
                  <div class="col-sm-5">
				            <ul class="multi-column-dropdown">
                                 <li> <a class="dropdown-item" href="#"><b>GST Guides</b></a></li>
                                <li> <a class="dropdown-item" href="gst">GST</a></li>
                                <li><a class="dropdown-item" href="gstsystem">GST System</a></li>
                                <li> <a class="dropdown-item" href="gstregistration">GST Registration</a></li>
                                <li><a class="dropdown-item" href="inputtaxcredit">Input Tax Credit</a></li>
                                <li><a class="dropdown-item" href="gstprocedure">GST Procedure</a></li>
                                <li><a class="dropdown-item" href="gstreturn">GST Returns</a></li>
                                <li><a class="dropdown-item" href="gstewaybill">GST eWay Bill</a></li>
                                <li> <a class="dropdown-item" href="#">GST Rates</a></li>
                            </ul>

                        </div>
             </div>
        </div>
      </li>

        <li class="nav-item  ">
        <a class="nav-link active" href="contact">Contact <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item  ">
        <a class="nav-link active" href="#">Review <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item  ">
        <a class="nav-link active" href="#">Quick Links <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item  " style="padding-left:20px;">
           <button type="button" class="btn btn-outline-light">Sign Up</button>
           <button type="button" class="btn btn-outline-light">Log In</button>

      </li>
    </ul>
  </div>
</nav>

{% block content %}


{% endblock content %}
<footer class="text-center text-white" style="background-color: #9E9E9E;">

  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn  btn-lg btn-floating" style=" background: #3B5998; color: white; border-radius: 50%;" href="#!"
         role="button" ><i class="fab fa-facebook-f"></i></a>

      <!-- instagram -->

        <a class="btn  btn-lg btn-floating" style="background-color: #ac2bac; color: white;border-radius: 50%;" href="#!"
         role="button"><i class="fab fa-instagram"></i></a>

         <a class="btn  btn-lg btn-floating" style=" background: #55ACEE;color: white; border-radius: 50%;" href="#!"
         role="button"><i class="fab fa-twitter"></i></a>

             <!-- Google -->
      <a class="btn btn-lg btn-floating" style="background: #dd4b39; color: white; border-radius: 50%;"
         href="#!" role="button"><i class="fab fa-google"></i></a>

 <a class="btn  btn-lg btn-floating" style=" background: #00aff0; color: white; border-radius: 50%;" href="#!"
         role="button"><i class="fab fa-skype"></i></a>

      <!-- Linkedin -->
      <a class="btn  btn-lg btn-floating" href="#!" style=" background: #007bb5;  color: white; border-radius: 50%;"
         role="button"><i class="fab fa-linkedin"></i></a>

      <!-- Github -->
      <a class="btn  btn-lg btn-floating" href="#!" style="background: #00b489;
  color: white; border-radius: 50%;"
         role="button"><i class="fab fa-github"></i></a>
    </section>
    <!-- Section: Social media -->


    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        We are India’s largest tax and financial services software platform for individuals, tax experts,
          SMEs and enterprises with income tax returns, GST, e-Invoicing, billing solutions and more.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row text-left ">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">services</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">File Income Tax Return</a>
            </li>
            <li>
              <a href="#!" class="text-white">upload-form16</a>
            </li><li>
              <a href="#!" class="text-white">CA Assisted</a>
            </li><li>
              <a href="#!" class="text-white">Income Tax Refund Status
              </a>
            </li><li>
              <a href="#!" class="text-white">TDS Solution</a>
            </li>
            <li>
              <a href="#!" class="text-white">Plan Tax & File ITR</a>
            </li><li>
              <a href="#!" class="text-white">NRI Taxes & ITR Filing</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Tax Tools</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Income Tax Calculator</a>
            </li>
            <li>
              <a href="#!" class="text-white">Form 12BB</a>
            </li><li>
              <a href="#!" class="text-white">HRA Calculator</a>
            </li><li>
              <a href="#!" class="text-white">Gratuity Calculator</a>
            </li><li>
              <a href="#!" class="text-white">Rent Receipt Generator</a>
            </li><li>
              <a href="#!" class="text-white">Old vs New Tax Slab Regime Calculator</a>
            </li><li>
              <a href="#!" class="text-white">Transport Allowance Calculator</a>
            </li>
            <li>
              <a href="#!" class="text-white">TDS Calculator</a>
            </li><li>
              <a href="#!" class="text-white">Calculator on Section 234F</a>
            </li><li>
              <a href="#!" class="text-white">Sukanya Samriddhi Yojana Calculator</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Guides</h5>
            <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Income Tax Return</a>
            </li><li>
              <a href="#!" class="text-white">Deductions</a>
            </li><li>
              <a href="#!" class="text-white">Form 16</a>
            </li><li>
              <a href="#!" class="text-white">Rent Receipt</a>
            </li><li>
              <a href="#!" class="text-white">How to Link Aadhar with Pan</a>
            </li><li>
              <a href="#!" class="text-white">Income Tax Slab Rate 2019-20</a>
            </li><li>
              <a href="#!" class="text-white">Pan Card</a>
            </li>
            <li>
              <a href="#!" class="text-white">Aadhar</a>
            </li>
            <li>
              <a href="#!" class="text-white">e-verify Income Tax Return</a>
            </li>
            <li>
              <a href="#!" class="text-white">Revised Income Tax Return</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">TaxPro Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">About</a>
            </li>
            <li>
              <a href="#!" class="text-white" >Contact</a>
            </li>
            <li>
              <a href="#!" class="text-white">Pricing</a>
            </li>
            <li>
              <a href="#!" class="text-white">Blog</a>
            </li> <li>
              <a href="#!" class="text-white">FAQ</a>
            </li> <li>
              <a href="#!" class="text-white">Tax Glossary</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
    <hr>
    <div class="container-fluid" >
    <footer class="mb-2 pt-2 pb-2 " style=" background-color:#818589; width:100%">
    <div class="row">
        <div class=" col-lg-3 col-sm-12 col-md-12 col-xs-12">
            <img class="pb-1" src="static/images/contactus.png" width="28%">
            <b><span style="font-size:20px;">+91 9078676554</span></b>
        </div>
        <div class="pt-4 col-lg-6 col-sm-12 col-md-12 col-xs-12 ">
             <section class="mb-4">
      <!-- Facebook -->
      <a class="btn  btn-lg btn-floating" style=" background: #3B5998; color: white; border-radius: 50%;" href="#!"
         role="button" ><i class="fab fa-facebook-f"></i></a>

      <!-- instagram -->

        <a class="btn  btn-lg btn-floating" style="background-color: #ac2bac; color: white;border-radius: 50%;" href="#!"
         role="button"><i class="fab fa-instagram"></i></a>

         <a class="btn  btn-lg btn-floating" style=" background: #55ACEE;color: white; border-radius: 50%;" href="#!"
         role="button"><i class="fab fa-twitter"></i></a>

             <!-- Google -->
      <a class="btn btn-lg btn-floating" style="background: #dd4b39; color: white; border-radius: 50%;"
         href="#!" role="button"><i class="fab fa-google"></i></a>

 <a class="btn  btn-lg btn-floating" style=" background: #00aff0; color: white; border-radius: 50%;" href="#!"
         role="button"><i class="fab fa-skype"></i></a>

      <!-- Linkedin -->
      <a class="btn  btn-lg btn-floating" href="#!" style=" background: #007bb5;  color: white; border-radius: 50%;"
         role="button"><i class="fab fa-linkedin"></i></a>

      <!-- Github -->
      <a class="btn  btn-lg btn-floating" href="#!" style="background: #00b489;
  color: white; border-radius: 50%;"
         role="button"><i class="fab fa-github"></i></a>
    </section>
                    <center><div >© 2021 Copyright:<a class="text-white" href="#">Infeanet Webmedia</a></div></center>

        </div>

        <div class="col-lg-3 pt-4">
            <img class="pb-1" src="static/images/mail.png" width="20%" >
            <b><span style="font-size:20px;">texttaxproject@test.com</span></b>
        </div>
    </div>
  </footer>

</div>

  <!-- Copyright -->
</footer>

</body>
</html>